.card
  .header.wide(data-hook="background")

  .content
    div.a.name(data-hook="name")
    div.a.status(data-hook="status")
    div.button-group
      a.ink-button.orange(data-hook="action-edit") edit
      a.ink-button.red(href="#", data-hook="action-delete") delete
