.all-33.card
  .all-100.half-bottom-space.half-top-space.align-center.user
    a(data-hook='user-url').link
      img(data-hook='user-img').img
      span(data-hook='user-name').name
  .all-100
    div(data-hook='companiesContainer')