.card
  .header(data-hook="background")

  .content
    a.name(data-hook="name")
    div.button-group 
      a.ink-button.orange(data-hook="action-edit") edit 
      a.ink-button.red(href="#", data-hook="action-delete") delete
