.card
  .header.wide(data-hook='background')

  .content
    a.name(data-hook='name')
    .title(data-hook='title')
    .status(data-hook='status')
    .unread(data-hook='unread') Unread!
    .feedback(data-hook='feedback')
