<div class="ink-grid">
  <!--[if lte IE 9 ]>
    <div class="ink-alert basic">
      <button class="ink-dismiss">&times;</button>
      <p><strong>You are using an outdated Internet Explorer version.</strong>
          Please <a href="http://browsehappy.com/">upgrade to a browser</a> to improve your web experience.
      </p>
    </div>
  -->
  <header class="vertical-space">
    <div class="column-group horizontal-gutters">
      <div class="all-80">
        <h1><a href="/"><i class="fa fa-wrench fa-2x"></i> The Tool!</a></h1>
      </div>
      <div class="all-20">
        <div class="push-right">
          <a class="ink-button" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
      </div>
  </div>
  </header>
</div>