<div class="ink-grid">
  <!--[if lte IE 9 ]>
    <div class="ink-alert basic">
      <button class="ink-dismiss">&times;</button>
      <p><strong>You are using an outdated Internet Explorer version.</strong>
          Please <a href="http://browsehappy.com/">upgrade to a browser</a> to improve your web experience.
      </p>
    </div>
  -->
  <header class="vertical-space">
    <div class="column-group horizontal-gutters">
      <div class="all-100 align-center">
        <h1><a href="/"><i class="fa fa-cutlery fa-2x" style='color: Gold'></i>
            <span style='color: Gold'>T</span><span style='color: Gold'>h</span><span style='color: Gold'>e</span>
            <span style='color: Gold'>T</span><span style='color: Gold'>o</span><span style='color: Gold'>o</span><span style='color: Gold'>l!</span>
          </a>
          <br>
          <img src="http://img4.wikia.nocookie.net/__cb20100912011231/ztreasureisle/images/a/af/SimianTreasures_Golden_Banana-icon.png" alt="THIS IS A BANANA!" style="width:50px; height:50px">
          <small>
            <span style='color: LimeGreen'>Wow</span>
            <span style='color: DodgerBlue'>such</span>
            <span style='color: Gold'>BANANAS</span>
            <span style='color: OrangeRed'>!</span>
          </small>
          <img src="http://img4.wikia.nocookie.net/__cb20100912011231/ztreasureisle/images/a/af/SimianTreasures_Golden_Banana-icon.png" alt="THIS IS A BANANA!" style="width:50px; height:50px">
        </h1>
      </div>
    </div>
  </header>
</div>
