<div class="column-group">

  <h1 ng-show="loading">Loading...</h1>
  <form ng-hide="loading" class="all-100 ink-form">
    <div class="all-100 control-group required {{meeting.title ? '' : 'validation error'}}">
      <label for="title">Title</label>
      <div class="control">
        <input id="title" ng-model="meeting.title" type="text" placeholder="Please enter a title.">
      </div>
      <p ng-hide="meeting.title" class="tip">This field is required.</p>
    </div>
    <div class="all-100 control-group">
      <label for="description">Description</label>
      <div class="control">
        <textarea id="description" ng-model="meeting.description" type="text" rows="3" placeholder="Write a description."></textarea>
      </div>
    </div>

    <div class="all-100 control-group">
      <label ng-click="toggleAttendants()">Attendants </label><i class="fa fa-long-arrow-left"></i><small> Click to toggle all.</small>
      <div class="all-100">
        <div class="ink-button {{meeting.attendants.indexOf(member.id) != -1 ? 'green' : 'red'}}" style="margin-bottom: 0.5em;" ng-repeat="member in members | orderBy:'id'" ng-click="toggleAttendant(member.id)">
          <img src="https://graph.facebook.com/{{member.facebook}}/picture?width=30&height=30" width="100%">
          <label for="{{member.id}}" style="line-height: 30px;">{{member.name}}</label>
        </div>
      </div>
    </div>

    <div class="all-100 control-group">
      <label>Topics</label>
      <div class="all-100 gutters half-bottom-space activity grey" style="border-radius: 5px;" ng-repeat="topic in meeting.topics">
        <div class="all-100">
          <div class="all-50">
            <h3>{{topic.kind}}</h3>
          </div>
          <div class="all-50 align-right">
            <div class="ink-button blue" ng-click="toggleTargets(topic)"><i class="fa fa-users"></i> Show targets</div>
            <div class="ink-button green"><i class="fa fa-check"></i> Save topic</div>
            <div class="ink-button red"><i class="fa fa-times"></i> Remove topic</div>
          </div>
        </div>
        <div ng-show="topic.showTargets" class="all-100">
          <label>Targets</label>
          <div class="all-100">
            <div class="ink-button small {{topic.targets.indexOf(member.id) != -1 ? 'blue' : ''}}" style="margin-bottom: 0.5em;" ng-click="toggleTarget(member.id, topic)" ng-repeat="member in members | orderBy:'id'">{{member.name}}</div>
          </div>
        </div>
        <div class="all-100 control">
          <textarea ng-model="topic.text" type="text" rows="2" placeholder="Write a description."></textarea>
        </div>
      </div>
      <div class="all-100">
        <div ng-repeat="kind in kinds" class="ink-button green half-right-space" ng-click="createTopic(kind)"><i class="fa fa-plus"></i> {{kind}}</div>
      </div>
    </div>

    <div class="all-100 control-group top-space half-bottom-space">
      <a class="ink-button orange" href="/#/meetings"><i class="fa fa-back"></i><i class="fa fa-reply"></i> Go back...</a>
      <div class="ink-button green" ng-click="save()"><i class="fa fa-check"></i> Save</div>
      <div class="ink-alert basic success" ng-show="success">
        <button class="ink-dismiss">&times;</button>
        <p><strong>Success!</strong> {{success}}</p>
      </div>
      <div class="ink-alert basic error" ng-show="error">
        <button class="ink-dismiss">&times;</button>
        <p><strong>Error!</strong> {{error}}</p>
      </div>
    </div>
  </form>

</div>
