<div class="column-group">
  <h1 ng-show="loading">Loading...</h1>
  <div ng-hide="loading">
    <form ng-hide="loading" class="all-100 ink-form">
      <div class="all-100 control-group required {{meeting.title ? '' : 'validation error'}}">
        <label for="title">Meeting Title</label>
        <div class="control">
          <input id="title" ng-model="meeting.title" type="text" placeholder="Please enter a title.">
        </div>
        <p ng-hide="meeting.title" class="tip">This field is required.</p>
      </div>
      <div class="all-100 control-group">
        <label for="description">Description</label>
        <div class="control">
          <textarea id="description" ng-model="meeting.description" type="text" rows="3" placeholder="Write a description."></textarea>
        </div>
      </div>

      <div class="all-100 control-group">
        <label ng-click="toggleAttendants()">Attendants </label><i class="fa fa-long-arrow-left"></i><small> Click to toggle all.</small>
        <div class="all-100">
          <div class="ink-button {{meeting.attendants.indexOf(member.id) != -1 ? 'green' : 'red'}}" style="margin: 0.25em;" ng-repeat="member in members | orderBy:'id'" ng-click="toggleAttendant(member.id)">
            <img ng-src="https://graph.facebook.com/{{member.facebook}}/picture?width=60&height=60" style="width:30px">
            <label for="{{member.id}}" style="line-height: 30px;">{{member.name}}</label>
          </div>
        </div>
      </div>
    </form>

    <div class="all-100 bottom-space">
      <a class="ink-button orange" ng-href="/#/meeting/{{meeting._id}}"><i class="fa fa-back"></i><i class="fa fa-reply"></i> Go back</a>
      <div class="ink-button green" ng-click="saveMeeting()"><i class="fa fa-check"></i> Save</div>
      <div class="ink-button red" ng-click="deleteMeeting()"><i class="fa fa-times"></i> Delete</div>
      <div class="ink-alert basic success" ng-show="success">
        <p><strong>Success!</strong> {{success}}</p>
      </div>
      <div class="ink-alert basic error" ng-show="error">
        <p><strong>Error!</strong> {{error}}</p>
      </div>
    </div>

    <div class="all-100 half-bottom-space">
      <div class="all-100 half-bottom-space">
        <h3>Topics</h3>
        <nav class="ink-navigation">
          <ul class="menu vertical">
            <li>
              <a style="background: rgba(0,0,0,0); padding-left: 0px; padding-right: 0px; cursor: default;">
                <input type="text" ng-model="searchTopic" ng-change="show()" ng-click="show()" placeholder="Add an existing topic!" style="width: 80%; max-width:600px">
              </a>
              <ul ng-if="searchTopic && searchTopic.length > 1" class="submenu grey" style="width: 600px; max-height: 400px; margin-top: -8px; overflow: auto; display: {{display ? 'block' : 'none'}};">
                <li ng-repeat="topic in topics | filter:alreadyInMeetingFilter | filter:searchTopic:strict">
                  <a ng-click="addTopic(topic._id)" title="{{topic.text}}">
                    <img ng-src="{{'https://graph.facebook.com/'+getMember(topic.author).facebook+'/picture'}}" style="height: 20px; max-width: 40px">
                    <b> [{{topic.kind}}]</b> {{topic.text | limitTo : 60}} <span ng-if="topic.text.length > 60">(...)</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="all-100">
        <h1 ng-show="loading">Loading...</h1>
        <div ng-if="!topic.deleted" ng-repeat="topic in meeting.topics | orderBy:posted">
          <topic topic-object="topic" topic-members="members" topic-me="me" topic-roles="roles" topic-tags="topicTags"></topic>
          <a class="ink-button red small" ng-click="removeTopic(topic)"><i class="fa fa-chevron-circle-up"></i> Remove topic without deleting it</a>
          <br><br>
        </div>
      </div>

      <div class="all-100">
        <div ng-repeat="kind in kinds" class="ink-button green half-right-space" ng-click="createTopic(kind)"><i class="fa fa-plus"></i> New {{kind}}</div>
      </div>
    </div>
  </div>
</div>
