<div class="all-100 activity grey" style="border-radius: 5px;">
  <h5 ng-show="loading">Loading...</h5>

  <div ng-hide="loading" class="all-100">
    <div classs="all-100">
      <a class="all-50" ng-href="/#/member/{{meeting.author}}">
        <img ng-src="https://graph.facebook.com/{{getMember(meeting.author).facebook}}/picture">
        <small>{{getMember(meeting.author).name}}</small>
      </a>
      <div class="all-50 align-right">
        <div class="ink-button blue" ng-click="showAttendants = !showAttendants" style="width: 60px;"><small style="color: white;">{{meeting.attendants.length}} </small><i class="fa fa-users"></i></div>
      </div>
    </div>

    <a class="all-100" ng-href="/#/meeting/{{meetingId}}" style="color: #555555;">
      <h5>{{meeting.title}}</h5>
    </a>

    <div ng-if="showAttendants" class="all-100 half-top-space">
      <a ng-repeat="attendant in meeting.attendants | orderBy:'toString()'" ng-href="/#/member/{{attendant}}" style="margin: 2px; width: 50px;">
        <img ng-src="https://graph.facebook.com/{{getMember(attendant).facebook}}/picture" style="margin: 0px; width: 50px;" title="{{getMember(attendant).name}}">
      </a>
    </div>
  </div>
</div>
