<div class="column-group vertical-space" ng-controller="MeetingsController">
  <div class="all-100">
    <h2 ng-show="loading">Loading...</h2>
    <div ng-hide="loading" class="column-group">
      <h1 class="all-50">Meetings</h1>
      <div class="all-50 align-right">
        <a href="/#/meeting" class="ink-button green"><i class="fa fa-plus"></i> Create New</a>
      </div>
      <a href="/#/{{meeting.path}}" ng-repeat="meeting in meetings">
        <div class="all-100 ink-label half-bottom-space align-left grey" style="height: 4em;">
          <div class="all-5 tiny-30 small-20" style="margin-top: 0.5em; height: 3em;">
            <img style="border-radius: 3px;" src="https://graph.facebook.com/{{meeting.author}}/picture">
          </div>
          <p class="all-95 tiny-70 small-80" style="line-height: 4em;">{{meeting.title}} <span title="{{meeting.date.full}}">({{meeting.date.ago}})</span></p>
        </div>
      </a>
    </div>
  </div>
</div>
