<div class="column-group">
  <div class="all-100">
    <h1 class="all-50">Meetings</h1>
    <div class="all-50 align-right">
      <div class="ink-button green" ng-click="createMeeting()"><i class="fa fa-plus"></i> Create meeting</div>
    </div>
    <h3 ng-show="loading" class="all-100">Loading...</h3>
    <div ng-hide="loading" class="all-100 column-group">
      <h3 ng-hide="meetings" class="all-100">No meetings created yet.</h3>
      <embed-meeting ng-repeat="meeting in meetings | orderBy:'date':true" meeting-id="meeting._id" members="members"></embed-meeting>
    </div>
  </div>
</div>
