<div class="column-group">
  <h2 ng-show="loading">Loading...</h2>
  <div ng-hide="loading">
    <div class="all-100">
      <div class="all-50">
        <h2>{{meeting.title}}</h2>
      </div>
      <div class="all-50 align-right">
        <a class="ink-button" ng-href="/#/meeting/{{meeting._id}}/text"><i class="fa fa-align-justify"></i> View as text</a>
        <a class="ink-button orange" ng-href="/#/meeting/{{meeting._id}}/edit"><i class="fa fa-pencil"></i> Edit meeting</a>
      </div>
    </div>

    <p ng-if="meeting.description" class="all-100">{{meeting.description}}</p>

    <h4 ng-if="meeting.attendants.length > 0" class="all-100" style="margin-bottom: 0px;">Attendants</h4>
    <div ng-if="meeting.attendants.length > 0" class="all-100 half-bottom-space">
      <div ng-repeat="member in getAttendants() | orderBy:'id'" class="ink-button green" style="cursor: default; margin: 0.25em;">
        <img ng-src="https://graph.facebook.com/{{member.facebook}}/picture?width=60&height=60" style="width: 30px;">
        {{member.name}}
      </div>
    </div>

    <h4 ng-if="meeting.topics.length > 0" class="all-100" style="margin-bottom: 0.25em;">Topics</h4>
    <topic ng-repeat="topic in meeting.topics | orderBy:posted" topic-object="topic" topic-members="members" topic-me="me" topic-roles="roles" topic-tags="topicTags"></topic>
  </div>
</div>
