.communication-area
  form
    margin-bottom: 30px

.text
  overflow: auto

  p
    margin-top: 20px
    margin-bottom: 0

.admin-container
  margin-left: 20px

  & > .button-group
    display: inline-block
    position: relative
    top: 18px
