form
  .checkbox-group
    ul
      li
        width: 200px
        margin: 0px 10px
        label
          margin-left: 2px

  .topic.edit
    .checkbox-group
      ul
        li
          display: inline-block
