// app/layout.styl

@import '../_variables'
@import '../_mixins'

// you styles here:

.image-logo
  background-image(300px, 300px)

body
  background: #fbfbfb

.page
  margin-top: 50px

.footer
  clear: both;
  display: inline-block
  overflow: hidden
  white-space: nowrap
  span
    font-size: 12px
    color: #ccc
    margin: 10px

// .paragraphs
//   white-space: pre-wrap