// app/layout.styl

@import '../_variables'
@import '../_mixins'

// you styles here:

html
  overflow-y: hidden
  height: 100%

body
  overflow-y: hidden
  height: 100%
  background: #fbfbfb

main.content-drawer
  overflow-y: hidden
  height: 100%
  padding-right: 0
  
section.page
  overflow-y: auto
  height: 100%

.image-logo
  background-image(300px, 300px)

.page
  margin-top: 45px

.footer
  clear: both;
  display: inline-block
  overflow: hidden
  white-space: nowrap
  span
    font-size: 12px
    color: #ccc
    margin: 10px

// .paragraphs
//   white-space: pre-wrap