.notification
  padding-bottom: 20px
  border-bottom: 1px
  border-bottom-style: dashed
  border-color: #ddd
  
  .header
    i
      padding-left: 5px
      padding-right: 5px
    .me
      background: $me
    .others
      background: $others
    .coordination
      background: $coordination

  .description
    a
      text-decoration: none
    a:hover
      color: white
      background: #aaa
  .description>span
      padding-right: 5px