.awesome-sidebar
  position: fixed
  padding: 20px
  z-index: 200
  padding-top: 60px
  top: 0
  right: 0
  height: 100%
  width: 300px
  background: #fff
  overflow-y: scroll
  box-shadow: 0px 0px 5px #ddd

  .header
    font-size: 25px
    margin-bottom: 15px

    .hide-button
      font-weight: 100
      font-size: 25px
      margin-bottom: 15px
      cursor: pointer

  .ink-button
  .ink-button:hover
    background: #eee
    border: 1px solid #ddd

  .selected
  .selected:hover
    border: 1px solid #aaa
    background: #bbb
    color: #fff

  ul
    li
      margin: 0px

      .ink-button
        width: 100%

.awesome-sidebar-button
  cursor: pointer
  position: fixed
  z-index: 200
  top: 40%
  right: 0
  height: auto
  width: auto
  background: #fff
  padding: 20px 15px
  box-shadow: 0px 0px 5px #ddd
  border-radius: 40px 0 0 40px
  &:hover
    box-shadow: 0px 0px 10px #ccc
    padding-right: 30px
