.awesome-sidebar
  position: fixed
  padding: 20px
  padding-top: 60px
  top: 0
  right: 0
  height: 100%
  width: 300px
  background: #fff
  overflow-y: scroll
  box-shadow: 0px 0px 5px #ddd

  .header
    font-size: 25px
    margin-bottom: 15px

    .hide-button
      font-weight: 100
      font-size: 25px
      margin-bottom: 15px
      cursor: pointer

  ul
    li
      margin: 0px

      .ink-button
        width: 100%

.awesome-sidebar-button
  cursor: pointer
  position: fixed
  top: 40%
  right: 0
  height: auto
  width: auto
  background: #fff
  padding: 20px 15px
  box-shadow: 0px 0px 5px #ddd
  border-radius: 40px 0 0 40px
  
.selected
  background: #e11d21
  
.sidebar-selected
  border-left: 10px
  solid #5319e7
  border-radius: 2px
  background: #ddd
  
.sidebar-contacted
  border-left: 10px
  solid #5319e7
  border-radius: 2px

.sidebar-inConversations
  border-left: 10px
  solid #5319e7
  border-radius: 2px
 
.sidebar-inNegotiations
  border-left: 10px
  solid #5319e7
  border-radius: 2px
 
.sidebar-closedDeal
  border-left: 10px
  solid #5319e7
  border-radius: 2px
 
.sidebar-rejected
  border-left: 10px
  solid #5319e7
  border-radius: 2px
 
.sidebar-giveup
  border-left: 10px
  solid #5319e7
  border-radius: 2px