.awesome-sidebar
  position: fixed
  padding: 20px
  padding-top: 60px
  top: 0
  right: 0
  height: 100%
  width: 300px
  background: #fff
  // border-left: 1px solid #ddd
  overflow-y: scroll
  box-shadow: 0px 0px 5px #ddd

  .header
    font-size: 25px
    margin-bottom: 15px

    .hide-button
      font-weight: 100
      font-size: 25px
      margin-bottom: 15px
      cursor: pointer

.awesome-sidebar-button
  position: fixed
  top: 40%
  right: 0
  height: auto
  width: auto
  background: #fff
  border: 1px solid #ddd
  padding: 5px
  box-shadow: 0px 0px 5px #ddd


