.table 
  .user
    .name
      color #333
      font-size 18px
      margin-left 10px

  a
    text-decoration none

  .img
    width 25px 
    height 25px
  
  .company
    padding-left: 20px;
    padding-top: 10px
    padding-bottom: 10px; 
    .name
      color #FFF
      margin-left 10px
  
