.topbar
  position: fixed
  z-index: 100
  width: 100%
  background: #fff
  -webkit-transform: scale3d(1, 1, 1)
  top: 0
  box-shadow: 0px 0px 5px #ddd
  heigth: 50px

  a
    text-decoration: none
    color: #555

  .ink-navigation
    ul
      li
        a
          padding: 5 10px
          line-height: 24px
          font-weight: normal
        a:hover
          background: #bbb
          color: #fff
        ul.submenu
          li
            a
              color: #aaa
      li.active
        background: #ccc
        a
          color: #fff
          text-decoration: none
      li.title
        a
          padding: 0 7px
          font-weight: bold
          font-size: 28px
        a:hover
          background: #fff
          color: #555
      li.title.active
        background: #fff
        a
          color: #555
      li.event
        padding: 11px
    ul.push-right
      li
        border-top: 6px solid #555
      ul
        li
          border-top: 0px



.ink-navigation ul.menu.horizontal > li:first-child,
.ink-navigation ul.menu.horizontal > li:first-child a,
.ink-navigation ul.menu.horizontal > li:last-child,
.ink-navigation ul.menu.horizontal > li:last-child a
  border-radius: 0