.topbar
  position: fixed
  z-index: 100
  width: 100%
  background: #fff
  -webkit-transform: scale3d(1, 1, 1)
  top: 0
  box-shadow: 0px 0px 5px #ddd
  height: 38px
  font-size: 14px

  a
    text-decoration: none
    color: #555

  .ink-navigation
    ul
      li
        a
          font-weight: normal
        a:hover
          background: #eee
        ul.submenu
          li
            a
              color: #777
      li.active
        a
          font-weight: 700
          text-decoration: none
      li.title
        a
          padding: 0px
          font-weight: bold
          font-size: 22px
      li.title.active
        background: #fff
        a
          color: #555
      li.event
        padding: 5px 20px
        select
          border: 1px solid #eee
          font-size: 14px
          padding: 2px
          height: 28px
          width: 130px


.ink-navigation ul.menu.horizontal > li:first-child,
.ink-navigation ul.menu.horizontal > li:first-child a,
.ink-navigation ul.menu.horizontal > li:last-child,
.ink-navigation ul.menu.horizontal > li:last-child a
  border-radius: 0