.topics
  h1
    .kind
      margin-right: 15px
      font-weight: 400

  .tags
    .tag
      padding: 3px 6px
      font-size: 10px
      margin: 1px
      border-radius: 2px
      display: inline-block