<div class="" id="createModal" ng-controller="CreateSpeakerController">

  <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>Create {{formData.name}}</h1>

          <div class="ink-alert basic success" ng-show="message">
            <!--<button class="ink-dismiss">&times;</button>-->
            <p><strong>Sucess!</strong>
              {{message}}
            </p>
          </div>
          <div class="ink-alert basic error" ng-show="error">
            <button class="ink-dismiss">&times;</button>
            <p><strong>Error!</strong>
              {{error}}
            </p>
          </div>

        </div>
      </div>

      <form class="ink-form" ng-submit="submit()" >
        <div class="column-group horizontal-gutters">
          <div class="all-30 medium-40 small-100 tiny-100">
            <div class="control-group">
              <label for="name">Name</label>
              <div class="control">
                <input id="name" ng-model="formData.name" type="text">
              </div>
            </div>
            <div class="control-group">
              <label for="member">Member</label>
              <div class="control">
                <select ng-model="formData.member" ng-options="m.id as m.name for m in members"></select>
              </div>
            </div>
            <div class="control-group">
              <label for="img">Image Url</label>
              <div class="control">
                <input id="img" ng-model="formData.img" type="text">
              </div>
              <img ng-show="formData.img" src="{{formData.img}}" width="100%" />
            </div>
            <div class="control-group">
              <label for="status">Status</label>
              <div class="control">
                <input id="status" ng-model="formData.status" type="text">
              </div>
            </div>
          </div>
          <div class="all-70 medium-60 small-100 tiny-100">
            <div class="control-group">
              <label for="forum">Forum</label>
              <div class="control">
                <input id="forum" ng-model="formData.forum" type="text">
              </div>
            </div>
            <div class="control-group">
              <label for="description">Description</label>
              <div class="control">
                <textarea id="description" ng-model="formData.description" type="text" rows="3"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label for="paragraph">Paragraph</label>
              <div class="control">
                <textarea id="paragraph" ng-model="formData.paragraph" type="text" rows="3"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label for="contacts">Contacts</label>
              <div class="control">
                <textarea id="contacts" ng-model="formData.contacts" type="text" rows="6"></textarea>
              </div>
            </div>
            <div class="control-group">
              <input type="submit" id="submit" value="Submit" class="ink-button green" />
              <a class="ink-button blue" ng-click="showForum=!showForum"><i class="fa fa-comments"></i> Show Forum!</a>
              <a class="ink-button orange" href="/#/speakers"><i class="fa fa-back"></i><i class="fa fa-reply"></i>  Go back...</a>
            </div>
          </div>
        </div>
        <div class="column-group horizontal-gutters">
          <div class="all-100">
            <iframe ng-show="showForum" ng-src="{{trustSrc(formData.forum)}}" frameborder="0" width="100%" height="480"></iframe>
          </div>
        </div>
      </form>
    </div>

</div>
