<div class="ink-grid">

  <div class="all-100" infinite-scroll="scroll()">
    <speaker-card speaker="speaker" event="currentEvent" ng-if="currentEvent.name" notifications="unreadNotifications" me="me" members="members" ng-repeat="speaker in speakers | filterEventStatus:currentEvent:searchSpeakers | orderBy:['-' + (unreadFirst ? 'unread' : ''), (reverse ? '-': '') + speakerPredicate] | limitTo: limit"></speaker-card>
  </div>

  <div class="awesome-sidebar" ng-hide="hideSidebar">
    <div class="header">
      <b title="Click to hide sidebar!">Speakers</b>
      <div ng-click="hideSidebar=!hideSidebar" class="push-right hide-button">HIDE</div>
    </div>

    <div class="button-group small">
      <p class="ink-button {{searchSpeakers.member == undefined && !searchSpeakers.unassignedOnly &&  searchSpeakers.unassigned ? 'current' : ''}}" ng-click="searchSpeakers={unassigned : true};">All</p>
      <p class="ink-button {{searchSpeakers.member == undefined && !searchSpeakers.unassignedOnly && !searchSpeakers.unassigned ? 'current' : ''}}" ng-click="searchSpeakers={}; setSearchStatus();">Assigned</p>
    </div>
    <div class="button-group small">
      <p class="ink-button {{searchSpeakers.member== me.id && !searchSpeakers.unassignedOnly ? 'current' : ''}}" ng-click="searchSpeakers.member=me.id; searchSpeakers.unassigned = false; searchSpeakers.unassignedOnly = false;">Assigned to me</p>
      <p class="ink-button {{searchSpeakers.unassignedOnly  ? 'current' : ''}}" ng-click="searchSpeakers.unassignedOnly = true">Unassigned only</p>
    </div>

    <br>

    <h6>Filter Status</h6>
    <div ng-repeat="status in statuses">
      <div class="ink-button small all-100 {{status==searchSpeakers.status ? 'current' : '' }}" ng-click="searchSpeakers.status=status.name" style="border-left: 10px solid {{status.color}}; border-radius: 2px; background: #ddd; ">
        {{status.name}}
      </div>
    </div>

    <br>

    <h6>Order by</h6>
    <div>
      <div class="ink-button small all-100 {{unreadFirst ? 'current' : ''}}" ng-click="unreadFirst = !unreadFirst">Unread First</div><br>
      <div class="ink-button blue small all-100" ng-click="speakerPredicate='name'; reverse=!reverse">Name <i class="fa fa-arrows-v"></i></div><br>
      <div class="ink-button blue small all-100" ng-click="speakerPredicate='updated'; reverse=!reverse">Updated <i class="fa fa-arrows-v"></i></div><br>
    </div>
  </div>

  <div class="awesome-sidebar-button" ng-click="hideSidebar=!hideSidebar" title="Click to show sidebar!" ng-show="hideSidebar">
    <i style="font-size:50px" class="fa fa-caret-left"></i> 
  </div>
</div>