<div class="ink-grid">

  <div ng-hide="speaker">
    <h1>Loading...</h1>
  </div>

  <div ng-show="speaker">
    <div class="column-group horizontal-gutters">
      <div class="all-100">
        <h3>Edit {{speaker.name}} Participations</h3>

        <div class="button-group">
          <a href="#/speaker/{{speaker.id}}" class="ink-button orange"><i class="fa fa-reply"></i> Back</a>
          <a ng-click="speaker.participations.push({items:[],editing:true})" class="ink-button blue"><i class="fa fa-asterisk"></i> Add new</a>
          <a ng-click="submit()" class="ink-button green"><i class="fa fa-check"></i> Save</a>
        </div>

        <div ng-if="speaker.history">
          <div ng-bind-html="convertURLs(speaker.history)"></div>
        </div>
        <div class="ink-alert basic success" ng-show="message">
          <!--<button class="ink-dismiss">&times;</button>-->
          <p><strong>Success!</strong>
            {{message}}
          </p>
        </div>
        <div class="ink-alert basic error" ng-show="error">
          <button class="ink-dismiss">&times;</button>
          <p><strong>Error!</strong>
            {{error}}
          </p>
        </div>

      </div>
    </div>

    <div class="all-100">
      <h6 ng-if="!speaker.participations[0]">No participations to date</h6>
      <div class="card" ng-repeat="participation in speaker.participations" style="overflow:scroll">
        <div class="content full">
          <div ng-if="!participation.editing">
            <h5>
              {{getEvent(participation.event).name}} 
              <span class="status" ng-class="participation.status.replace(' ','-').toLowerCase()">{{participation.status}}</span>
            </h5>
            <h6 ng-if="participation.member">
              <a href="#/member/{{participation.member}}">
              <img ng-if="participation.member" ng-src="https://graph.facebook.com/{{getMember(participation.member).facebook}}/picture"/>
              <b> {{getMember(participation.member).name}}</b>
              </a>
            </h6>
            <h6>{{participation.kind}}</h6>
          </div>
          <div ng-if="participation.editing" class="content full">
            <select ng-model="participation.event" ng-options="e.id as e.name for e in events | orderBy: 'id'" resettable></select>
            <select id="status" ng-model="participation.status" ng-options="s.name as s.name for s in statuses | orderBy: 'toString()'" resettable></select>
            <select ng-model="participation.member" ng-options="m.id as m.name for m in members | orderBy: 'id'" resettable></select>
            <input type="text" placeholder="Participation Kind" ng-model="participation.kind">
          </div>
            
          <div class="button-group small">
            <a ng-if="!participation.editing" class="ink-button red" ng-click="speaker.participations.splice(speaker.participations.indexOf(participation),1)"><i class="fa fa-times"></i> Remove</a>
            <a ng-if="!participation.editing" class="ink-button orange" ng-click="participation.editing=!participation.editing"><i class="fa fa-edit"></i> Edit</a>
            <a ng-if="participation.editing" class="ink-button green" ng-click="participation.editing=!participation.editing"><i class="fa fa-reply"></i> Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
