<div class="" id="tableModal">
  <h1>Speakers by member</h1>
  <div ng-hide="speakers">
    <br>
    <h1>Loading...</h1>
  </div>

  <div class="ink-alert basic success" ng-show="message">
    <p><strong>Sucess!</strong>
      {{message}}
    </p>
  </div>
  <div class="ink-alert basic error" ng-show="error">
    <button class="ink-dismiss">&times;</button>
    <p><strong>Error!</strong>
      {{error}}
    </p>
  </div>

  <div ng-show="speakers" class="table-wrapper">
    <div class="table-scrolls">
      <div class="table-collumn" ng-show="member.id!='toolbot'" ng-repeat="member in members | orderBy:'name':'false'">
        <div class="member-cell">
          <a href="#/member/{{member.id}}"><img ng-show="member.facebook" src="https://graph.facebook.com/{{member.facebook}}/picture"/> {{member.name}}</a>
        </div>
        <div class="speaker-cell" title="{{speaker.status}}" ng-repeat="speaker in speakers | filterEventStatus: currentEvent.id | filter:{member:member.id}:strict | orderBy: '-date'" ng-class="speaker.status.replace(' ','-').toLowerCase()">
          <a href="#/speaker/{{speaker.id}}"><img ng-show="member.facebook" src="{{speaker.img}}"/> {{speaker.name}}</a>
        </div>
        <div ng-if="checkPermission(member)" class="add-new-cell small">
          <form class="ink-form" unsaved-warning-form>
            <div class="control-group">
              <div class="control append-button">
                <span><input type="text" ng-model="newSpeaker.name" placeholder="Add new speaker" resettable></span>
                <button ng-click="addSpeaker(member, newSpeaker);" class="ink-button">Add</button>
              </div>
            </div>
          </form>
          <ul ng-if="newSpeaker.name && newSpeaker.name.length > 1">
            <li ng-repeat="speaker in speakers | filter:newSpeaker:strict">
              <a ng-click="addSpeaker(member, speaker); newSpeaker.name='';newSpeaker.id='';">
                <img ng-src="{{speaker.img}}" style="height: 20px; max-width: 40px"> {{speaker.name}}
                ( <img ng-src="https://graph.facebook.com/{{getMember(speaker.member).facebook}}/picture" style="height: 20px; max-width: 40px"> )
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .member-cell {
    padding: 10px;
  }
  .member-cell img {
    width: 25px;
  }
  .member-cell a {
    color: #444;
  }

  .speaker-cell {
    padding: 10px;
    text-align: left;
  }
  .speaker-cell img {
    height: 25px;
    width: 25px;
  }
  .speaker-cell a {
    color: #FFF;
  }


  .add-new-cell {
    padding: 5px;
    height: auto;
    text-align: left;
  }
  .add-new-cell ul {
    list-style-type: none;
  }

  .table-wrapper { 
    margin: auto; 
    text-align: center; 
    position: relative;
    margin-bottom: 20px !important;
    width: 100%;
    padding-top: 5px;
  }
  .table-scrolls { 
    overflow: scroll;
    height: auto;
    white-space:nowrap
  } 

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  .table-collumn { 
    width: 250px;
    box-shadow: 1px 1px 3px #999; 
    margin: 2px;
    cursor: pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
  }
</style>