<div class="" id="viewModal">

  <div ng-hide="speaker">
    <h1>Loading...</h1>
  </div>

  <div ng-show="speaker">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1><span class="status small" ng-class="speaker.status.replace(' ','-').toLowerCase()">{{speaker.status}}</span> {{speaker.name}}</h1>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-30 medium-30 small-100 tiny-100">
          <p class="button-group">
            <a class="ink-button blue" href="{{speaker.forum}}" target="_blank"><i class="fa fa-comments"></i> Go to Forum!</a>
            <a class="ink-button orange" href="/#/speaker/{{speaker.id}}/edit"><i class="fa fa-wrench"></i> Edit Speaker</a>
          </p>
          <p>
            <img ng-if="speaker.img" ng-src="{{speaker.img}}" width="100%" />
          </p>
          <p>
            <a href="/#/member/{{speaker.member}}">
            <img ng-src="https://graph.facebook.com/{{getMember(speaker.member).facebook}}/picture"/>
            <b style="font-size: 20px; margin-left:12px;"> {{getMember(speaker.member).name}}</b>
            </a>
          </p>
        </div>
        <div class="all-40 medium-40 small-100 tiny-100">
          <div ng-if="speaker.description">
            <h3>Description: </h3>
            <div ng-bind-html="convertURLs(speaker.description)"></div>
          </div>
        </div>
        <div class="all-30 medium-30 small-100 tiny-100">
          <div ng-if="speaker.contacts">
            <h3>Contacts</h3>
            <div ng-bind-html="convertEmails(convertURLs(speaker.contacts))"></div>
          </div>
          <br><br>
          <div ng-if="speaker.notifications">
            <h3>Last Changes</h3>
            <ul>
              <li ng-repeat="notification in speaker.notifications | orderBy: 'posted':true | limitTo: 5">{{notification.description}} <small>{{timeSince(notification.posted)}}</small>.</li>
            </ul>
          </div>
        </div>
      </div>

      
      <h2 ng-click="hideCommunications=!hideCommunications" title="Click to show/hide communications"> 
        Communications 
        <i ng-show="hideCommunications" class="fa fa-chevron-circle-down" style="font-size:30px"></i> 
        <i ng-hide="hideCommunications" class="fa fa-chevron-circle-up" style="font-size:30px"></i>
      </h2>
      <communication-area ng-hide="hideCommunications" thread="{{'speaker-' + speaker.id}}" members="{{members}}" me="{{me}}" roles="{{roles}}"></communication-area>

      <h2 ng-click="showComments=!showComments" title="Click to show/hide comments"> 
        Comments 
        <i ng-hide="showComments" class="fa fa-chevron-circle-down" style="font-size:30px"></i> 
        <i ng-show="showComments" class="fa fa-chevron-circle-up" style="font-size:30px"></i>
      </h2>
      <comment-area ng-show="showComments" thread="{{'speaker-' + speaker.id}}"></comment-area>

    </div>
  </div>
</div>
