<div class="" id="viewModal" ng-controller="SpeakerController">

  <div ng-hide="speaker">
    <h1>Loading...</h1>
  </div>  

  <div ng-show="speaker">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>{{speaker.name}}</h1>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-30 medium-30 small-100 tiny-100">
          <p>
            <a class="ink-button blue" href="{{speaker.forum}}" target="_blank"><i class="fa fa-comments"></i> Go to Forum!</a>
            <a class="ink-button orange" href="/#/speaker/{{speaker.id}}/edit"><i class="fa fa-wrench"></i> Edit Speaker</a>
          </p>
          <img ng-show="speaker.img" src="{{speaker.img}}" width="100%" />
          <br><br>
          <p><b>Status: </b>{{speaker.status}}</p>
          <p>
            <a href="/#/member/{{member.id}}">
            <i ng-hide="member.facebook" class="fa fa-user"></i>
            <img ng-show="member.facebook" src="https://graph.facebook.com/{{member.facebook}}/picture"/>
            <b style="font-size: 20px; margin-left:12px;"> {{member.name}}</b>
            </a>
          </p>
          <b>Description: </b><div ng-bind-html="convertTextToHtml(speaker.description)"></div>
          <br>
        </div>
        <div class="all-40 medium-40 small-100 tiny-100">
          <div ng-show="speaker.contacts">
            <h1>Contacts</h1>
            <div ng-bind-html="convertTextToHtml(speaker.contacts)"></div>
          </div>
          <br>
        </div>
        <div class="all-30 medium-30 small-100 tiny-100">
        </div>
      </div>
    </div>
  </div> 
</div>  
