<div class="" id="viewModal">

  <div ng-hide="speaker">
    <h1>Loading...</h1>
  </div>

  <div ng-show="speaker">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>{{speaker.name}} <small>{{speaker.title}}</small></h1>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-30 medium-30 small-100 tiny-100">
          <p class="button-group">
            <a class="ink-button orange" href="#/speaker/{{speaker.id}}/edit"><i class="fa fa-wrench"></i> Edit Speaker</a>
            <a class="ink-button red" ng-if="checkPermission()" ng-click="deleteSpeaker(speaker)"><i class="fa fa-times"></i> Delete Speaker</a>
            <a><subscription thread="{{'speaker-' + speaker.id}}"></subscription></a>
          </p>
          <p>
            <img ng-if="speaker.img" ng-src="{{speaker.img}}" width="100%" />
          </p>
        </div>
        <div class="all-40 medium-40 small-100 tiny-100">
          <div ng-if="speaker.contacts">
            <h3>Contacts</h3>
            <div ng-bind-html="convertEmails(convertURLs(speaker.contacts))"></div>
          </div>
          <br><br>
          <div ng-if="speaker.description">
            <h3>Description: </h3>
            <div ng-bind-html="convertURLs(speaker.description)"></div>
          </div>
        </div>
        <div class="all-30 medium-30 small-100 tiny-100">
          <div class="all-60"><h3>Participations</h3></div>
          <div class="all-40"><a class="ink-button orange push-right" href="#/speaker/{{speaker.id}}/participations"><i class="fa fa-wrench"></i> Edit</a></div>
          <div class="all-100"><h6 ng-if="!speaker.participations[0]">No participations to date</h6></div>
          <div class="card" ng-repeat="participation in speaker.participations">
            <div class="content full">
              <h5>
                {{getEvent(participation.event).name}} 
                <span class="status" ng-class="participation.status.replace(' ','-').toLowerCase()">{{participation.status}}</span>
              </h5>
              <h6 ng-if="participation.member">
                <a href="#/member/{{participation.member}}">
                <img ng-if="participation.member" ng-src="https://graph.facebook.com/{{getMember(participation.member).facebook}}/picture"/>
                <b> {{getMember(participation.member).name}}</b>
                </a>
              </h6>
              <h6>{{participation.kind}}</h6>
            </div>
          </div>

          <div ng-if="speaker.notifications">
            <h3>Last Changes</h3>
            <ul>
              <li ng-repeat="notification in speaker.notifications | orderBy: 'posted':true | limitTo: 5">{{notification.description}} <small>{{timeSince(notification.posted)}}</small>.</li>
            </ul>
          </div>
        </div>
      </div>

      
      <div ng-if="speaker.status && speaker.status!='Suggestion'">
        <nav class="ink-navigation">
          <ul class="menu horizontal">
            <li>
              <h2> 
                Communications
              </h2>
            </li>
            <li>
              <a>
                <i class="fa fa-circle-o-notch fa-spin" ng-if="!communicationEvent.name"></i> 
                {{communicationEvent.name || 'Loading...'}} 
                <i class="fa fa-caret-down" ng-if="communicationEvent.name"></i>
              </a>
              <ul class="submenu">
                <li ng-repeat="event in events | orderBy: ['kind', '-date']">
                    <a ng-click="setCommunicationEvent(event)">{{event.name}}</a>
                </li>
              </ul>
            </li>
            <li>
              <span ng-click="hideCommunications=!hideCommunications" title="Click to show/hide communications"> 
                <i ng-show="hideCommunications" class="fa fa-chevron-circle-down" style="font-size:30px"></i>
                <i ng-hide="hideCommunications" class="fa fa-chevron-circle-up" style="font-size:30px"></i>
              </span>
            </li>
          </ul>
        </nav>
        <communication-area ng-hide="hideCommunications" thread="{{'speaker-' + speaker.id}}" event="communicationEvent" members="{{members}}" me="{{me}}" roles="{{roles}}"></communication-area>
      </div>

      <h2 ng-click="hideComments=!hideComments" title="Click to show/hide comments"> 
        Comments 
        <i ng-show="hideComments" class="fa fa-chevron-circle-down" style="font-size:30px"></i> 
        <i ng-hide="hideComments" class="fa fa-chevron-circle-up" style="font-size:30px"></i>
      </h2>
      <comment-area ng-hide="hideComments" thread="{{'speaker-' + speaker.id}}" me="me" members="members"></comment-area>

    </div>
  </div>
</div>
