<div class="column-group horizontal-gutters">
  <div class="all-100">
    <h1>Create {{formData.name}}</h1>

    <div class="ink-alert basic success" ng-show="message">
      <!--<button class="ink-dismiss">&times;</button>-->
      <p><strong>Sucess!</strong>
        {{message}}
      </p>
    </div>
    <div class="ink-alert basic error" ng-show="error">
      <button class="ink-dismiss">&times;</button>
      <p><strong>Error!</strong>
        {{error}}
      </p>
    </div>

  </div>
</div>

<form class="ink-form" ng-submit="submit()" >
  <div class="column-group horizontal-gutters">
    <div class="all-30 medium-30 small-100 tiny-100">
      <div class="control-group">
        <label for="name">Name</label>
        <div class="control">
          <input id="name" ng-model="formData.name" type="text">
        </div>
      </div>
      <div class="control-group">
        <label for="id">ID</label>
        <div class="control">
          <input placeholder="joaquim.couves" id="id" ng-model="formData.id" type="text">
        </div>
      </div>
      <div class="control-group">
        <label for="istId">IST ID</label>
        <div class="control">
          <input id="istId" ng-model="formData.istId" type="text">
        </div>
      </div>
      <div class="control-group">
        <label for="facebook">Facebook Username</label>
        <div class="control">
          <input id="facebook" ng-model="formData.facebook" type="text">
        </div>
        <img ng-if="formData.facebook" ng-src="https://graph.facebook.com/{{formData.facebook}}/picture?width=300&height=300" width="70%" />
      </div>
    </div>
    <div class="all-40 medium-40 small-100 tiny-100">
      <div class="control-group">
        <label>Emails</label>
        <div class="control">
          <input placeholder="SINFO Email" type="text" ng-model="member.mails.sinfo">
        </div>
        <div class="control">
          <input placeholder="IST Email" type="text" ng-model="member.mails.ist">
        </div>
        <div class="control">
          <input placeholder="Google Email" type="text" ng-model="member.mails.google">
        </div>
        <div class="control">
          <input placeholder="Dropbox Email" type="text" ng-model="member.mails.dropbox">
        </div>
        <div class="control">
          <input placeholder="MSN Email" type="text" ng-model="member.mails.msn">
        </div>
      </div>
      <div class="control-group">
        <label for="skype">Skype</label>
        <div class="control">
          <input id="skype" ng-model="formData.skype" type="text">
        </div>
      </div>
    </div>
    <div class="all-30 medium-30 small-100 tiny-100">
      <div class="control-group">
        <label>Phones</label>
        <div ng-repeat="phone in formData.phones">
          <div class="ink-label grey">
            <i ng-click="formData.phones.splice(formData.phones.indexOf(phone), 1 )" class="fa fa-trash-o"></i>
            {{phone}}
          </div>            
        </div>
        <div class="control append-button">
          <span><input placeholder="Phone" type="text" ng-model="newPhone"></span>
          <div ng-click="formData.phones.push(newPhone)" class="ink-button">Add</div>
        </div>
      </div> 
      <div class="control-group">
        <label>Roles</label>
        <div ng-repeat="r in formData.roles">
          <div class="ink-label grey">
            <i ng-click="formData.roles.splice(formData.roles.indexOf(r), 1 )" class="fa fa-trash-o"></i>
            {{r.name}}
            <span ng-show="r.isTeamLeader">(TL)</span>
          </div>            
        </div>
        <div class="control" role="search">
          <span><select ng-model="newRole" ng-options="r.name for r in roles | orderBy: 'name'"></select></span>
          <div><input type="checkbox" ng-model="newRole.isTeamLeader" id="teamLeader" name="teamLeader" value="true">&nbsp Team Leader</div>
          <div ng-click="formData.roles.push(newRole)" class="ink-button">Add</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-group horizontal-gutters">
    <div class="all-100">
      <div class="control-group">
        <input type="submit" id="submit" value="Submit" class="ink-button green" />
        <a class="ink-button orange" href="#/members"><i class="fa fa-back"></i><i class="fa fa-reply"></i>  Go back...</a>
      </div>
    </div>
  </div>
</form>

