<div class="ink-grid">

  <div class="all-100" infinite-scroll="scroll()">
    <member-card member-object="member" ng-repeat="member in members | filter:searchMembers:strict | filterRole: searchRoles.toString() | orderBy:memberPredicate:reverse"></member-card>
  </div>

  <div class="awesome-sidebar" ng-hide="hideSidebar || loading">
    <div class="header">
      <b title="Click to hide sidebar!">Members</b>
      <div ng-click="hideSidebar=!hideSidebar" class="push-right hide-button">HIDE</div>
    </div>

    <div class="button-group small">
      <p class="ink-button {{searchMembers.id == undefined ? 'blue' : ''}}" ng-click="searchMembers={};setSearchRole()">All</p>
      <p class="ink-button {{searchMembers.id == me.id ? 'blue' : ''}}" ng-click="searchMembers.id=me.id">Me</p>
    </div>

    <br>

    <h6>Filter Roles</h6>
    <div ng-repeat="role in roles | orderBy:'name'">
      <a ng-click="setSearchRole(role.id)" class="ink-button small all-100">
        {{role.name}}
      </a>
    </div>

    <br>

    <h6>Order by</h6>
    <div>
      <div class="ink-button blue small all-100" ng-click="memberPredicate='name'; reverse=!reverse">Name <i class="fa fa-arrows-v"></i></div><br>
    </div>
  </div>

  <div class="awesome-sidebar-button" ng-click="hideSidebar=!hideSidebar" title="Click to show sidebar!" ng-show="hideSidebar">
    <i class="fa fa-3x fa-caret-left"></i> 
  </div>
</div>