<div class="ink-grid">

  <div class="column-group">
    <div class="all-50">
      <h1>Member {{searchRoles}}</h1>
    </div>

    <div class="all-50 align-right">
      <a class="ink-button green" href="/#/member"><i class="fa fa-plus"></i> Member</a>
    </div>
  </div>

  <div class="column-group gutters">
    <div class="all-25 medium-40 hide-small hide-100">
      <div class="button-group half-bottom-space">
        <p class="ink-button" ng-click="searchMembers={}">All</p>
        <p class="ink-button" ng-click="searchMembers.member=me.id">Assigned to me</p>
      </div>

      <h3>Filter Roles</h3>
      <div ng-repeat="role in roles" class="button-group">
        <a ng-click="setSearchRole(role)" class="ink-button small all-100 {{role.replace(' ','-').toLowerCase()}}" style="border: 0px; border-radius: 2px; color: white; font-size: 16px;">
          {{role.id}}
        </a>
      </div>

      <br>

      <h3>Order by</h3>
      <div class="button-group">
        <div class="ink-button blue small all-100" ng-click="memberPredicate='name'; reverse=!reverse">Name <i class="fa fa-arrows-v"></i></div>
        <div class="ink-button blue small all-100" ng-click="memberPredicate='updated'; reverse=!reverse">Updated <i class="fa fa-arrows-v"></i></div>
        <div class="ink-button blue small all-100" ng-click="memberPredicate='member'; reverse=!reverse">Member <i class="fa fa-arrows-v"></i></div>
      </div>
    </div>

    <div class="all-100 hide-all show-small show-100">
      <a class="ink-button blue" ng-click="showFilters=!showFilters" title="Click to show/hide filters">
        Filters
        <i ng-hide="showFilters" class="fa fa-chevron-circle-down" style="font-size:20px"></i>
        <i ng-show="showFilters" class="fa fa-chevron-circle-up" style="font-size:20px"></i>
      </a>
      <br><br>
      <div ng-if="showFilters">
        <div class="button-group half-bottom-space">
          <p class="ink-button" ng-click="searchMembers={}">All</p>
          <p class="ink-button" ng-click="searchMembers.member=me.id">Assigned to me</p>
        </div>

        <h3>Filter Roles</h3>
        <div ng-repeat="role in roles" class="button-group">
          <div class="ink-button small all-100 {{role.replace(' ','-').toLowerCase()}}" ng-click="setSearchRole(role)" style="border: 0px; border-radius: 2px; color: white; font-size: 16px;">
            {{role.id}}
          </div>
        </div>

        <br>

        <h3>Order by</h3>
        <div class="button-group">
          <div class="ink-button blue small all-100" ng-click="memberPredicate='name'; reverse=!reverse">Name <i class="fa fa-arrows-v"></i></div>
          <div class="ink-button blue small all-100" ng-click="memberPredicate='updated'; reverse=!reverse">Updated <i class="fa fa-arrows-v"></i></div>
          <div class="ink-button blue small all-100" ng-click="memberPredicate='member'; reverse=!reverse">Member <i class="fa fa-arrows-v"></i></div>
        </div>
        <br><br>
      <br><br>
      </div>
    </div>


    <div class="all-75 medium-60 small-100 tiny-100">
      <h3 ng-show="loading">Loading...</h3>
      <div ng-hide="loading">
        <h3 ng-hide="loading || members">No members created yet.</h3>
        
        <div class="all-100" infinite-scroll="scroll()">
          <div class="column-group horizontal-gutters">
            <div class="all-25 medium-33 small-50 tiny-100" ng-repeat="member in members | filter:search:strict | filterRole: searchRoles.toString() | orderBy:memberPredicate:reverse">
              <a href="/#/member/{{member.id}}">
                <div class="list-box member">
                  <h1>{{member.name}}</h1>
                  <img ng-show="member.facebook" class="quarter-vertical-space" src="https://graph.facebook.com/{{member.facebook}}/picture?width=300&height=300" width="100%">
                  <span style="color: #555555;"><i class="fa fa-users"></i> {{member.roles[0].name}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>