<div class="" id="viewModal">

  <div ng-hide="member">
    <h1>Loading...</h1>
  </div>

  <div ng-show="member">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-40 medium-40 small-100 tiny-100">
          <h1>{{member.name}}</h1>
          <p class="button-group">
            <a class="ink-button orange" href="#/member/{{member.id}}/edit"><i class="fa fa-wrench"></i> Edit Member</a>
          </p>

          <img ng-show="member.facebook" src="https://graph.facebook.com/{{member.facebook}}/picture?width=300&height=300" width="70%" />
          <br><br>
          <h6><i class="fa fa-users"></i> {{member.roles[0].name}}</h6>
          <p>
          <h6><i class="fa fa-envelope"></i> Emails</h6>
            <span ng-show="member.mails.sinfo"><a href="mailto:{{member.mails.sinfo}}"><i class="fa fa-power-off"></i> {{member.mails.sinfo}}</a></span><br>
            <span ng-show="member.mails.ist"><a href="mailto:{{member.mails.ist}}"><i class="fa fa-book"></i> {{member.mails.ist}}</a></span><br>
            <span ng-show="member.mails.google"><a href="mailto:{{member.mails.google}}"><i class="fa fa-google-plus"></i> {{member.mails.google}}</a></span><br>
            <span ng-show="member.mails.dropbox"><a href="mailto:{{member.mails.dropbox}}"><i class="fa fa-dropbox"></i> {{member.mails.dropbox}}</a></span><br>
            <span ng-show="member.mails.msn"><a href="mailto:{{member.mails.msn}}"><i class="fa fa-windows"></i> {{member.mails.msn}}</a></span><br>
          </p>
          <h6><i class="fa fa-phone"></i> Phone</h6>
          <span ng-repeat="phone in member.phones">{{phone}}<br></span>

          <br><br>

          <h6><i class="fa fa-graduation-cap"></i> IST ID</h6> 
          <span>{{member.istId}}<br></span>

          <br><br>

          <h6>
            <a href="http://fb.com/{{member.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i> </a> 
            <a title="{{member.skype}}" target="_blank"><i class="fa fa-skype fa-2x"></i></a>

          </h6>
        </div>

        <div class="all-60 medium-60 small-100 tiny-100">  
          <h3 ng-show="loading">Loading...</h3>
          <div ng-show="memberStuff.speakers">
            <h3>{{memberStuff.speakers.length}} Speakers</h3>
            <table class="ink-table alternating bordered hover">
              <tr ng-repeat="speaker in memberStuff.speakers | orderBy:predicate:reverse">
                <td style="width: 100px; text-align: center;"><a href="#/speaker/{{speaker.id}}"><img ng-src="{{speaker.img}}" style="height: 20px;"></a></td>
                <td><a href="#/speaker/{{speaker.id}}">{{speaker.name}}</a></td>
              </tr>
            </table>
          </div>
          <div ng-show="memberStuff.companies">
            <h3>{{memberStuff.companies.length}} Companies</h3>
            <table class="ink-table alternating bordered hover">
              <tr ng-repeat="company in memberStuff.companies | orderBy:predicate:reverse">
                <td style="width: 100px;  text-align: center;"><a href="#/company/{{company.id}}"><img ng-src="{{company.img}}" style="height: 20px;"></a></td>
                <td><a href="#/company/{{company.id}}">{{company.name}}</a></td>
              </tr>
            </table>
          </div>
          <div ng-show="memberStuff.comments">
            <h3>Recent Comments</h3>
            <table class="ink-table alternating bordered hover">
              <tr ng-repeat="comment in memberStuff.comments | orderBy:'posted':true | limitTo:5">
                <td style="width: 100px;  text-align: center;"><a href="#/{{comment.thread.replace('-','/')}}">
                  <img ng-show="comment.thread.indexOf('company') != -1" ng-src="{{getCompany(comment.thread.replace('company-', '')).img}}" style="height: 20px;">
                  <img ng-show="comment.thread.indexOf('speaker') != -1" ng-src="{{getSpeaker(comment.thread.replace('speaker-', '')).img}}" style="height: 20px;">
                  <h4 ng-show="comment.thread.indexOf('topic') != -1"> [{{getTopic(comment.thread.replace('topic-', '')).kind}}] </h4>
                </a></td>
                <td><a href="#/{{comment.thread.replace('-','/')}}">
                  <div ng-bind-html="comment.html"></div>
                </a></td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
