<div class="ng-cloak" id="viewModal">
  <div class="ink-grid">
    <h1 ng-hide="member">Loading...</h1>

    <div ng-show="member" class="column-group horizontal-gutters">
      <div class="all-40 small-100 tiny-100">
        <h1 class="quarter-top-space">{{member.name}}</h1>
        <a class="ink-button orange half-bottom-space" href="#/member/{{member.id}}/edit"><i class="fa fa-wrench"></i> Edit Member</a><br>

        <img ng-show="member.facebook" class="half-bottom-space" src="https://graph.facebook.com/{{member.facebook}}/picture?width=300&height=300" width="70%">

        <h6 class="half-bottom-space"><i class="fa fa-users"></i> {{member.roles[0].name}}</h6>

        <div class="half-bottom-space">
          <h6 class="quarter-bottom-space"><i class="fa fa-envelope"></i> Emails</h6>
          <a ng-show="member.mails.sinfo" href="mailto:{{member.mails.sinfo}}"><i class="fa fa-power-off"></i> {{member.mails.sinfo}}</a><br>
          <a ng-show="member.mails.ist" href="mailto:{{member.mails.ist}}"><i class="fa fa-book"></i> {{member.mails.ist}}</a><br>
          <a ng-show="member.mails.google" href="mailto:{{member.mails.google}}"><i class="fa fa-google-plus"></i> {{member.mails.google}}</a><br>
          <a ng-show="member.mails.dropbox" href="mailto:{{member.mails.dropbox}}"><i class="fa fa-dropbox"></i> {{member.mails.dropbox}}</a><br>
          <a ng-show="member.mails.msn" href="mailto:{{member.mails.msn}}"><i class="fa fa-windows"></i> {{member.mails.msn}}</a><br>
        </div>

        <div class="half-bottom-space">
          <h6 class="quarter-bottom-space"><i class="fa fa-phone"></i> Phone</h6>
          <div ng-repeat="phone in member.phones">{{phone}}</div>
        </div>

        <div class="half-bottom-space">
          <a href="http://fb.com/{{member.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i> {{member.facebook}}</a>
          <h6 ng-show="member.skype"><i class="fa fa-skype fa-2x"></i> {{member.skype}}</h6>
        </div>

        <div class="half-bottom-space">
          <h6 class="quarter-bottom-space"><i class="fa fa-graduation-cap"></i> IST ID</h6>
          <div>{{member.istId}}</div>
        </div>
      </div>

      <div class="all-60 small-100 tiny-100">
        <h3 ng-show="loading">Loading...</h3>
        <div ng-show="memberStuff.speakers">
          <h3>{{memberStuff.speakers.length}} Speakers</h3>
          <table class="ink-table alternating bordered hover">
            <tr ng-repeat="speaker in memberStuff.speakers | orderBy:predicate:reverse">
              <td style="width: 100px; text-align: center;"><a href="#/speaker/{{speaker.id}}"><img ng-src="{{speaker.img}}" style="height: 20px;"></a></td>
              <td><a href="#/speaker/{{speaker.id}}">{{speaker.name}}</a></td>
            </tr>
          </table>
        </div>
        <div ng-show="memberStuff.companies">
          <h3>{{memberStuff.companies.length}} Companies</h3>
          <table class="ink-table alternating bordered hover">
            <tr ng-repeat="company in memberStuff.companies | orderBy:predicate:reverse">
              <td style="width: 100px;  text-align: center;"><a href="#/company/{{company.id}}"><img ng-src="{{company.img}}" style="height: 20px;"></a></td>
              <td><a href="#/company/{{company.id}}">{{company.name}}</a></td>
            </tr>
          </table>
        </div>
        <div ng-show="memberStuff.comments">
          <h3>Recent Comments</h3>
          <table class="ink-table alternating bordered hover">
            <tr ng-repeat="comment in memberStuff.comments | orderBy:'posted':true | limitTo:5">
              <td style="width: 100px;  text-align: center;"><a href="#/{{comment.thread.replace('-','/')}}">
                <img ng-show="comment.thread.indexOf('company') != -1" ng-src="{{getCompany(comment.thread.replace('company-', '')).img}}" style="height: 20px;">
                <img ng-show="comment.thread.indexOf('speaker') != -1" ng-src="{{getSpeaker(comment.thread.replace('speaker-', '')).img}}" style="height: 20px;">
                <h4 ng-show="comment.thread.indexOf('topic') != -1"> [{{getTopic(comment.thread.replace('topic-', '')).kind}}] </h4>
              </a></td>
              <td><a href="#/{{comment.thread.replace('-','/')}}">
                <div ng-bind-html="comment.html"></div>
              </a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
