body {
  background: #fff;
}
.base-form {
  padding: 8px;
}
.card {
  background: #fff;
  float: left;
  position: relative;
  width: 300px;
  height: auto;
  margin: 10px;
  box-shadow: 1px 1px 2px #999;
  border-radius: 2px;
}
.card .header {
  position: relative;
  float: left;
  width: 100px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card .header.wide {
  -webkit-background-size: 100px;
  -moz-background-size: 100px;
  -o-background-size: 100px;
  background-size: 100px;
}
.card .content {
  overflow: hidden;
  float: left;
  width: 200px;
  padding: 10px;
}
.card .content .name {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1px;
}
.card.full {
  width: 100%;
}
.card.full .content {
  width: 100%;
  white-space: pre;
  word-break: break-word;
  hyphens: auto;
}
.page.login {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 150px;
}
