<div class="" id="homeModal" ng-controller="home">
  <div class="column-group horizontal-gutters">
    <div class="all-50">
      <h1>Companies</h1>
      <h6><a href="/#/companies/">Main list</a></h6>
      <h6><a href="/#/companies/table/">By Member Table</a></h6>  
      <h6><a href="/#/companies/budget/">Budget</a></h6>  
    </div>
    <div class="all-50">
      <h1>Speakers</h1>
      <h6><a href="/#/speakers/">Main list</a></h6>
      <h6><a href="/#/speakers/table/">By Member Table</a></h6>  
    </div>
  </div>
  <br><br>
  <div class="column-group horizontal-gutters">
    <div class="all-50">
      <h1>Members</h1>
      <h6><a href="/#/members/">Main list</a></h6>
      <h6><a href="/#/member/me/">My Profile</a></h6>  
    </div>
  </div>
</div>