<div class="ink-grid" id="homeModal" ng-controller="home">
  <div class="column-group">
    <div class="all-100">
      <h1>Recent Activity</h1>
      <h2 ng-show="loading">Loading...</h2>
      <div ng-hide="loading">
        <div class="activity {{notification.color}}" ng-repeat="notification in notifications">
          <div class="all-100">
            <a href="/#/member/{{notification.member.id}}">
              <img src="https://graph.facebook.com/{{notification.member.facebook}}/picture">
              <b>{{notification.member.name}}</b>
            </a>
            <small title="{{notification.date.full}}">{{timeSince(notification.date.data)}}</small>
          </div>
          <a href="/#/{{notification.path}}">
            <p style="color: #444;">{{notification.description}}</p>
            <img class="image" src="{{getImageFromThread(notification.thread)}}">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
