#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #1a1a1a;
  -webkit-transform: scale3d(1, 1, 1);
  *zoom: 1;
  top: 0;
}
#topbar:after {
  content: "";
  display: table;
  clear: both;
}
#topbar .ink-navigation {
  *zoom: 1;
}
#topbar .ink-navigation ul.black li {
  font-size: 14px;
}
#topbar .ink-navigation ul.black li a {
  padding: .7em 1em;
  color: #fff;
  text-transform: none;
  font-weight: 300;
  line-height: 24px;
  *height: auto;
}
#topbar .ink-navigation ul.black li ul.submenu li a {
  color: #333;
}
#topbar .ink-navigation ul.black li a:hover {
  color: white;
}
#topbar .ink-navigation ul.black li a.ink-button {
  color: white;
  padding: 4px 12px;
  margin: 5px 1em;
  font-size: .875em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#topbar .ink-navigation ul.black li a.ink-button:hover {
  background: #0d68c2;
}
#topbar .ink-navigation ul.black li a.logoPlaceholder {
  margin-right: .5em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.8em;
}
#topbar .ink-navigation ul.black li a.logoPlaceholder:hover {
  background: none;
}
#topbar .ink-navigation ul.black li button.fa-bars {
  font-size: 21px;
  background: none;
  font-size: 1.2em;
  color: #fff;
  border: none;
  padding: .8em .8em .8em 0;
  float: left;
}
#topbar .ink-navigation ul.black li button.fa-bars:hover, #topbar .ink-navigation ul.black li button.fa-bars:active, #topbar .ink-navigation ul.black li button.fa-bars:focus {
  color: white;
  outline: none;
}
#topbar .ink-navigation ul.black li.active a {
  color: white;
}
#topbar .ink-navigation:after {
  content: "";
  display: table;
  clear: both;
}

body.ink-drawer .left-drawer,
body.ink-drawer .right-drawer {
  background: #1e1e1e;
}
body.ink-drawer .left-drawer ul,
body.ink-drawer .right-drawer ul {
  margin: 59px 0 0 0;
  padding: 0;
  list-style-type: none;
}
body.ink-drawer .left-drawer li,
body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  font-weight: 300;
}
body.ink-drawer .left-drawer li.search,
body.ink-drawer .right-drawer li.search {
  position: relative;
  margin: 15px;
}
body.ink-drawer .left-drawer li.search input[type=search],
body.ink-drawer .right-drawer li.search input[type=search] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em .6em .4em 1.9em;
  width: 100%;
  border: 1px solid #DDD;
  font-size: 14px;
}
body.ink-drawer .left-drawer li.search .fa-search,
body.ink-drawer .right-drawer li.search .fa-search {
  position: absolute;
  top: .7em;
  left: .6em;
  font-size: 14px;
}
body.ink-drawer .left-drawer li.search #search-dropdown,
body.ink-drawer .right-drawer li.search #search-dropdown {
  width: 100%;
}
body.ink-drawer .left-drawer li.search #search-dropdown .dropdown-menu li,
body.ink-drawer .right-drawer li.search #search-dropdown .dropdown-menu li {
  float: none;
  width: 100%;
}
body.ink-drawer .left-drawer li.heading,
body.ink-drawer .right-drawer li.heading {
  color: #fff;
  text-transform: none;
  margin-top: .5em;
  font-weight: 700;
  padding: 1em 15px .5em;
}
body.ink-drawer .left-drawer li > a,
body.ink-drawer .right-drawer li > a {
  display: block;
  padding: 6px 15px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  font-size: .875em;
}
body.ink-drawer .left-drawer li > a:hover,
body.ink-drawer .right-drawer li > a:hover {
  background: #333;
  color: #FFF;
}
body.ink-drawer .left-drawer li > a.ink-button,
body.ink-drawer .right-drawer li > a.ink-button {
  color: white;
  padding: 4px 12px;
  margin: 1em;
}
body.ink-drawer .left-drawer li > a.ink-button:hover,
body.ink-drawer .right-drawer li > a.ink-button:hover {
  background: #0d68c2;
}
body.ink-drawer .left-drawer li.active > a,
body.ink-drawer .right-drawer li.active > a {
  background: #333;
  color: #FFF;
}

.red { background: #E41B17; }
.blue { background: #0000FF; }
.orange { background: #FFA500; }
.yellow { background: #FFFF00; }
.brown { background: #A52A2A; }
.green { background: #008000; }
.lime { background: #00FF00; }
.grey { background: #eee; }

.comment {
  background: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.companies-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.companies-table td{
  min-width: 200px;
}
.companies-table td.member-cell{
  min-width: 300px;
}

.budget-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.budget-table td{
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  min-width: 120px;
}

.speakers-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.speakers-table td{
  min-width: 200px;
}
.speakers-table td.member-cell{
  min-width: 300px;
}

.suggestion {
  background: #ccc;
}
.contacted {
  background: #783F04;
}
.convesations {
  background: #0000FF;
}
.accepted {
  background: #00FF00;
}
.rejected {
  background: #FF0000;
}
.giveup {
  background: #000;
}

.silver {
  background: #eee;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#eee),color-stop(100%,#aaa));
  background-image: -webkit-radial-gradient(#eee,#aaa);
  background-image: -moz-radial-gradient(#eee,#aaa);
  background-image: -o-radial-gradient(#eee,#aaa);
  background-image: radial-gradient(#eee,#aaa);
}
.ink-button.silver:hover{
  background: #aaa;
}
.bronze {
  background: #BE926C;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#BE926C),color-stop(100%,#8B5B2F));
  background-image: -webkit-radial-gradient(#BE926C,#8B5B2F);
  background-image: -moz-radial-gradient(#BE926C,#8B5B2F);
  background-image: -o-radial-gradient(#BE926C,#8B5B2F);
  background-image: radial-gradient(#BE926C,#8B5B2F);
}
.ink-button.bronze:hover{
  background: #8B5B2F;
}
.sponsor {
  background: #709dc7;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#709dc7),color-stop(100%,#4b84b9));
  background-image: -webkit-radial-gradient(#709dc7,#4b84b9);
  background-image: -moz-radial-gradient(#709dc7,#4b84b9);
  background-image: -o-radial-gradient(#709dc7,#4b84b9);
  background-image: radial-gradient(#709dc7,#4b84b9);
}
.ink-button.sponsor:hover{
  background: #4b84b9;
}
.nope {
  background: #cd6969;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#cd6969),color-stop(100%,#9c3434));
  background-image: -webkit-radial-gradient(#cd6969,#9c3434);
  background-image: -moz-radial-gradient(#cd6969,#9c3434);
  background-image: -o-radial-gradient(#cd6969,#9c3434);
  background-image: radial-gradient(#cd6969,#9c3434);
}

.member {
  background: #eee;
}

.search-box {
  margin-bottom: 0px;
}

.list-box {
  padding: 10px;
  margin-bottom: 20px;
  height: 260px;
}

.list-box div {
  margin-top: 5px;
  height: 100px;
}
.list-box.member div {
  margin-top: 5px;
  height: 140px;
}

.list-box a {
  color:white;
}
.list-box.member a {
  color:black;
}
.list-box a:hover {
  color:white;
}
.list-box.member:hover a {
  color:black;
}
.list-box div img {
  max-height: 100px;
}
.list-box.member div img {
  max-height: 200px;
}
.list-box h1 {
  font-size: 10px;
  margin: 0px;
}
.list-box span {
  font-size: 10px;
  margin: 0px;
}

.navigation-buttons {
  margin-bottom: 20px;
}

a, a:visited, a:hover {
    text-decoration: none; 
    outline: 0;
  }

.button {
    background: #19ACCD;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 15px;
    border:none;
  }

.button:hover {
    background: #19ACCD;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 15px;
    border:none;
  }

  .button.icon {
    padding: 0 15px 0 0;
    margin-right: 5px;
  }

  .button.icon:before {
    font: normal normal 15px/2 "Entypo";
    font-variant: normal;
    text-transform: none;
    float: left;
    border-right: 1px solid #76CEE2;
    margin-right: 15px;
    padding: 0 14px;
    speak: none;
    color: #fefefe;
  }

  .button.disabled, .tag.disabled {
    background: transparent;
    border: 1px dotted #ccc;
    color: #575759;
  }

  .button.icon.disabled:before {border-right: 1px solid #ccc; color: #575759}

  .button.icon.fenixedu:before {
    content: '';
    width: 20px;
    height: 30px;
    float: left;
    border-right: 1px solid #76CEE2;
    background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.svg') no-repeat 50% 40%;
    background-size: 55%;
  }

  .no-svg .button.icon.fenixedu:before {
    background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.png') no-repeat 50% 50%;
    background-size: 55%;
  }

