.fa {
  font-size: inherit;
}

#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #eee;
  -webkit-transform: scale3d(1, 1, 1);
  *zoom: 1;
  top: 0;
  border-bottom: 1px solid #ddd;
}
#topbar:after {
  content: "";
  display: table;
  clear: both;
}
#topbar .ink-navigation {
  *zoom: 1;
}

.ink-navigation ul.menu.horizontal > li:first-child,
.ink-navigation ul.menu.horizontal > li:first-child a,
.ink-navigation ul.menu.horizontal > li:last-child,
.ink-navigation ul.menu.horizontal > li:last-child a {
  border-radius: 0;
}

#topbar .ink-navigation ul.push-right li {
  border-top: 6px solid #333;
  font-size: 14px;
}
#topbar .ink-navigation ul.push-right ul li {
  border-top: 0px solid #333;
}
#topbar .ink-navigation ul li a {
  padding: 5 10px;
  font-weight: 300;
  line-height: 24px;
  *height: auto;
}
#topbar .ink-navigation ul li a:hover {
  background: #fff;
}
#topbar .ink-navigation ul li ul.submenu li a {
  color: #333;
}

#topbar .ink-navigation ul li a.logo {
  margin-right: .5em;
  padding: 7px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  height: 44px;
  line-height: 44px;
  padding: 0;
}

#topbar .ink-navigation ul li a.logo:hover {
  background: none;
}

#topbar .ink-navigation ul li a.logoPlaceholder {
  margin-right: .5em;
  padding: 0px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  height:44px;
  line-height: 44px;
}
#topbar .ink-navigation ul li a.logoPlaceholder:hover {
  background: none;
}
#topbar .ink-navigation ul li button.fa-bars {
  font-size: 21px;
  background: none;
  font-size: 1.2em;
  color: #fff;
  border: none;
  padding: .8em .8em .8em 0;
  float: left;
}
#topbar .ink-navigation:after {
  content: "";
  display: table;
  clear: both;
}

body.ink-drawer .left-drawer,
body.ink-drawer .right-drawer {
  background: #1e1e1e;
}
body.ink-drawer .left-drawer ul,
body.ink-drawer .right-drawer ul {
  margin: 59px 0 0 0;
  padding: 0;
  list-style-type: none;
}
body.ink-drawer .left-drawer li,
body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  font-weight: 300;
}
body.ink-drawer .left-drawer li.search,
body.ink-drawer .right-drawer li.search {
  position: relative;
  margin: 15px;
}
body.ink-drawer .left-drawer li.search input[type=search],
body.ink-drawer .right-drawer li.search input[type=search] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em .6em .4em 1.9em;
  width: 100%;
  border: 1px solid #DDD;
  font-size: 14px;
}
body.ink-drawer .left-drawer li.search .fa-search,
body.ink-drawer .right-drawer li.search .fa-search {
  position: absolute;
  top: .7em;
  left: .6em;
  font-size: 14px;
}
body.ink-drawer .left-drawer li.search #search-dropdown,
body.ink-drawer .right-drawer li.search #search-dropdown {
  width: 100%;
}
body.ink-drawer .left-drawer li.search #search-dropdown .dropdown-menu li,
body.ink-drawer .right-drawer li.search #search-dropdown .dropdown-menu li {
  float: none;
  width: 100%;
}
body.ink-drawer .left-drawer li.heading,
body.ink-drawer .right-drawer li.heading {
  color: #fff;
  text-transform: none;
  margin-top: .5em;
  font-weight: 700;
  padding: 1em 15px .5em;
}
body.ink-drawer .left-drawer li > a,
body.ink-drawer .right-drawer li > a {
  display: block;
  padding: 6px 15px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  font-size: .875em;
}
body.ink-drawer .left-drawer li > a:hover,
body.ink-drawer .right-drawer li > a:hover {
  background: #333;
  color: #FFF;
}
body.ink-drawer .left-drawer li > a.ink-button,
body.ink-drawer .right-drawer li > a.ink-button {
  color: white;
  padding: 4px 12px;
  margin: 1em;
}
body.ink-drawer .left-drawer li > a.ink-button:hover,
body.ink-drawer .right-drawer li > a.ink-button:hover {
  background: #0d68c2;
}
body.ink-drawer .left-drawer li.active > a,
body.ink-drawer .right-drawer li.active > a {
  background: #333;
  color: #FFF;
}

.activity {
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px #999;
}
.activity img {
  width: 25px;
}

.card {
  background: white;
  float:left;
  position: relative;
  width: 300px;
  height: auto;
  margin: 10px;
  box-shadow: 1px 1px 2px #999;
  border-radius: 2px;
}
.card .header {
  position: relative;
  float: left;
  width: 100px;
  height: 160px;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card .header.wide {
  -webkit-background-size: 100px;
  -moz-background-size: 100px;
  -o-background-size: 100px;
  background-size: 100px;
}
.card .content {
  overflow: hidden;
  float: left;
  width: 200px;
  padding: 10px;
}
.card .content.full {
  width: 300px;
}
.card .content .name {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1px;
}
.card .content .status {
  font-size: 16px;
  margin-bottom: 5px;
}
.card .kind {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.card .closed {
  font-size: 15px;
  color: firebrick;
}
.card .unread {
  font-size: 15px;
  color: red;
}
.card .duedate {
  font-size: 15px;
  font-weight: 100;
  color: #ccc;
}
.card .targets img {
  width:25px;
  margin: 0;
}
.card .tags span {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.card .poll .votes {
  margin: auto;
  font-weight: 100;
  font-size: 12px;
  width: 40%;
  text-transform: uppercase;
}

.card img {
  width:25px;
}
.card img.image {
  width:100px;
}
.card a {
  color: #555;
}
.card .text {
  font-size: 12px;
  word-break:break-all;
}

.red { background: #E41B17; }
.blue { background: #0000FF; }
.orange { background: #FFA500; }
.yellow { background: #FFFF00; }
.brown { background: #A52A2A; }
.green { background: #008000; }
.lime { background: #00FF00; }
.grey { background: #eee; }

.comment {
  background: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.companies-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.companies-table td{
  min-width: 200px;
}
.companies-table td.member-cell{
  min-width: 300px;
}

.budget-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.budget-table td{
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  min-width: 120px;
}

.speakers-table tr{
  border-bottom: #bbb 1px solid;
  border-top: #bbb 1px solid;
}
.speakers-table td{
  min-width: 200px;
}
.speakers-table td.member-cell{
  min-width: 300px;
}

.suggestion.ink-button.current:hover,
.suggestion.ink-button.current,
.suggestion:hover,
.suggestion {
  background: #eb6420;
}
.selected.ink-button.current:hover,
.selected.ink-button.current,
.selected:hover,
.selected {
  background: #5319e7;
}
.approved.ink-button.current:hover,
.approved.ink-button.current,
.approved:hover,
.approved {
  background: #0052cc;
}
.contacted.ink-button.current:hover,
.contacted.ink-button.current,
.contacted:hover,
.contacted {
  background: #fbca04;
}
.in-conversations.ink-button.current:hover,
.in-conversations.ink-button.current,
.in-conversations:hover,
.in-conversations {
  background: #207de5;
}
.in-negotiations.ink-button.current:hover,
.in-negotiations.ink-button.current,
.in-negotiations:hover,
.in-negotiations {
  background: #006b75;
}
.closed-deal.ink-button.current:hover,
.closed-deal.ink-button.current,
.closed-deal:hover,
.closed-deal,
.accepted.ink-button.current:hover,
.accepted.ink-button.current,
.accepted:hover,
.accepted {
  background: #009800;
}
.rejected.ink-button.current:hover,
.rejected.ink-button.current,
.rejected:hover,
.rejected {
  background: #e11d21;
}
.give-up.ink-button.current:hover,
.give-up.ink-button.current,
.give-up:hover,
.give-up {
  background: #333;
}

.current:hover,
.current {
  background: #555;
  color: white;
}

.suggestion:hover.ink-button,
.suggestion.ink-button {
  border-left: 10px solid #eb6420;
  border-radius: 2px;
  background: #ddd;
}
.selected:hover.ink-button,
.selected.ink-button {
  border-left: 10px solid #5319e7;
  border-radius: 2px;
  background: #ddd;
}
.approved:hover.ink-button,
.approved.ink-button {
  border-left: 10px solid #0052cc;
  border-radius: 2px;
  background: #ddd;
}
.contacted:hover.ink-button,
.contacted.ink-button {
  border-left: 10px solid #fbca04;
  border-radius: 2px;
  background: #ddd;
}
.in-conversations:hover.ink-button,
.in-conversations.ink-button {
  border-left: 10px solid #207de5;
  border-radius: 2px;
  background: #ddd;
}
.in-negotiations:hover.ink-button,
.in-negotiations.ink-button {
  border-left: 10px solid #006b75;
  border-radius: 2px;
  background: #ddd;
}
.closed-deal:hover.ink-button,
.closed-deal.ink-button,
.accepted:hover.ink-button,
.accepted.ink-button {
  border-left: 10px solid #009800;
  border-radius: 2px;
  background: #ddd;
}
.rejected:hover.ink-button,
.rejected.ink-button {
  border-left: 10px solid #e11d21;
  border-radius: 2px;
  background: #ddd;
}
.give-up:hover.ink-button,
.give-up.ink-button {
  border-left: 10px solid #333;
  border-radius: 2px;
  background: #ddd;
}

.status {
  padding:0.2em 0.6em;
  margin-bottom:5px;
  border-radius:8px;
  color: white;
}

.gold {
  background: #ffcd19;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#ffcd19),color-stop(100%,#ffcd19));
  background-image: -webkit-radial-gradient(#ffcd19,#ffcd19);
  background-image: -moz-radial-gradient(#ffcd19,#ffcd19);
  background-image: -o-radial-gradient(#ffcd19,#ffcd19);
  background-image: radial-gradient(#ffcd19,#ffcd19);
}
.ink-button.gold:hover{
  background: #ffcd19;
}

.silver {
  background: #eee;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#eee),color-stop(100%,#aaa));
  background-image: -webkit-radial-gradient(#eee,#aaa);
  background-image: -moz-radial-gradient(#eee,#aaa);
  background-image: -o-radial-gradient(#eee,#aaa);
  background-image: radial-gradient(#eee,#aaa);
}
.ink-button.silver:hover{
  background: #aaa;
}
.bronze {
  background: #BE926C;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#BE926C),color-stop(100%,#8B5B2F));
  background-image: -webkit-radial-gradient(#BE926C,#8B5B2F);
  background-image: -moz-radial-gradient(#BE926C,#8B5B2F);
  background-image: -o-radial-gradient(#BE926C,#8B5B2F);
  background-image: radial-gradient(#BE926C,#8B5B2F);
}
.ink-button.bronze:hover{
  background: #8B5B2F;
}
.sponsor {
  background: #709dc7;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#709dc7),color-stop(100%,#4b84b9));
  background-image: -webkit-radial-gradient(#709dc7,#4b84b9);
  background-image: -moz-radial-gradient(#709dc7,#4b84b9);
  background-image: -o-radial-gradient(#709dc7,#4b84b9);
  background-image: radial-gradient(#709dc7,#4b84b9);
}
.ink-button.sponsor:hover{
  background: #4b84b9;
}
.nope {
  background: #cd6969;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,#cd6969),color-stop(100%,#9c3434));
  background-image: -webkit-radial-gradient(#cd6969,#9c3434);
  background-image: -moz-radial-gradient(#cd6969,#9c3434);
  background-image: -o-radial-gradient(#cd6969,#9c3434);
  background-image: radial-gradient(#cd6969,#9c3434);
}

.search-box {
  margin-bottom: 0px;
}

.list-box {
  padding: 10px;
  margin-bottom: 20px;
  height: 260px;
  border-radius: 6px;
}

.list-box div {
  margin-top: 5px;
  height: 100px;
}
.list-box.member div {
  margin-top: 5px;
  height: 140px;
}

.list-box a {
  color:white;
}
.list-box.member a {
  color:black;
}
.list-box a:hover {
  color:white;
}
.list-box.member:hover a {
  color:black;
}
.list-box div img {
  max-height: 100px;
}
.list-box.member div img {
  max-height: 200px;
}
.list-box h1 {
  font-size: 10px;
  margin: 0px;
}
.list-box span {
  font-size: 10px;
  margin: 0px;
}

.navigation-buttons {
  margin-bottom: 20px;
}

a, a:visited, a:hover {
    text-decoration: none;
    outline: 0;
  }

.awesome-sidebar {
  position: fixed;
  padding:20px;
  padding-top:60px;
  top:0;
  right:0;
  height:100%;
  width: 300px;
  background:#eee;
  border-left: 1px solid #ddd;
  overflow-y:scroll;
  box-shadow: -3px 0px 50px 0px #999;
}
.awesome-sidebar .header {
  font-size: 25px;
  margin-bottom: 15px;
}
.awesome-sidebar .header .hide-button {
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 15px;
  cursor:pointer;
}
.awesome-sidebar-button {
  position: fixed;
  top:40%;
  right:0;
  height:auto;
  width:auto;
  background:#eee;
  border: 1px solid #ddd;
  padding:5px;
  box-shadow: -3px 0px 50px 0px #999;
}
.awesome-bottombar {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background:#eee;
  padding:20px;
  border-top: 1px solid #ddd;
}

#scroll-chat {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background: white;
  padding-bottom: 100px;
  padding-top: 43px;
}

.chat-message {
  padding: 10px;
  border-top: 1px solid #ddd;
  word-break: break-all;
}

.chat-message.me, .chat-notification.me {
  float: right;
  text-align: right;
}

.chat-message.others, .chat-notification.others {
  float: left;
  text-align: left;
}

.button {
  background: #19ACCD;
  color: #fefefe;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 15px;
  border:none;
}

.button:hover {
  background: #19ACCD;
  color: #fefefe;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 15px;
  border:none;
}

.button.icon {
  padding: 0 15px 0 0;
  margin-right: 5px;
}

.button.icon:before {
  font: normal normal 15px/2 "Entypo";
  font-variant: normal;
  text-transform: none;
  float: left;
  border-right: 1px solid #76CEE2;
  margin-right: 15px;
  padding: 0 14px;
  speak: none;
  color: #fefefe;
}

.button.disabled, .tag.disabled {
  background: transparent;
  border: 1px dotted #ccc;
  color: #575759;
}

.button.icon.disabled:before {border-right: 1px solid #ccc; color: #575759}

.button.icon.fenixedu:before {
  content: '';
  width: 20px;
  height: 30px;
  float: left;
  border-right: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.svg') no-repeat 50% 40%;
  background-size: 55%;
}

/*@font-face { font-family: 'FontAwesome'; src: local('FontAwesome'); }*/

.button.icon.facebook:before {
  font-family: 'FontAwesome';
  content: "\f09a";
  width: 20px;
  height: 30px;
  float: left;
  border-right: 1px solid #FFFFFF;
  background-size: 55%;
}

.no-svg .button.icon.fenixedu:before {
  background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.png') no-repeat 50% 50%;
  background-size: 55%;
}
