.search-box {
  margin-bottom: 20px;
}

.company-box {
  padding: 10px;
  margin-bottom: 20px;
  background: #eee;
  height: 260px;
}

.company-box img {
  margin-bottom: 0px;
}
.company-box h1 {
  font-size: 10px;
}
.company-box span {
  font-size: 10px;
  margin: 0px;
}

.navigation-buttons {
  margin-bottom: 20px;
}

a, a:visited, a:hover {
    text-decoration: none; 
    outline: 0;
  }

.button {
    background: #19ACCD;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 15px;
    border:none;
  }

.button:hover {
    background: #19ACCD;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font: normal normal 15px/2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 15px;
    border:none;
  }

  .button.icon {
    padding: 0 15px 0 0;
    margin-right: 5px;
  }

  .button.icon:before {
    font: normal normal 15px/2 "Entypo";
    font-variant: normal;
    text-transform: none;
    float: left;
    border-right: 1px solid #76CEE2;
    margin-right: 15px;
    padding: 0 14px;
    speak: none;
    color: #fefefe;
  }

  .button.disabled, .tag.disabled {
    background: transparent;
    border: 1px dotted #ccc;
    color: #575759;
  }

  .button.icon.disabled:before {border-right: 1px solid #ccc; color: #575759}

  .button.icon.fenixedu:before {
    content: '';
    width: 20px;
    height: 30px;
    float: left;
    border-right: 1px solid #76CEE2;
    background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.svg') no-repeat 50% 40%;
    background-size: 55%;
  }

  .no-svg .button.icon.fenixedu:before {
    background: rgba(0, 0, 0, 0) url('/img/fenixedu_white.png') no-repeat 50% 50%;
    background-size: 55%;
  }

