<div class="" id="homeModal">
  <div ng-hide="companies">
    <br>
    <h1>Loading...</h1>
  </div>


  <div class="ink-grid" ng-show="companies">
    <div class="column-group horizontal-gutters">
      <h1>Budget</h1>
      <div class="ink-alert basic success" ng-show="message">
        <!--<button class="ink-dismiss">&times;</button>-->
        <p><strong>Sucess!</strong>
          {{message}}
        </p>
      </div>
      <div class="ink-alert basic error" ng-show="error">
        <button class="ink-dismiss">&times;</button>
        <p><strong>Error!</strong>
          {{error}}
        </p>
      </div>
      <table class="budget-table">
        <thead>
          <th ng-click="predicate='name'; reverse=!reverse">Company <i class="fa fa-arrows-v"></i></th>
          <th>Member</th>
          <th ng-click="predicate='participation.payment.price'; reverse=!reverse">Price <i class="fa fa-arrows-v"></i></th>
          <th ng-click="predicate='participation.payment.price'; reverse=!reverse">IVA <i class="fa fa-arrows-v"></i></th>
          <th ng-click="predicate='participation.payment.price'; reverse=!reverse">Total <i class="fa fa-arrows-v"></i></th>
          <th>Date</th>
          <th>Invoice</th>
          <th>Status</th>
          <th>Via</th>
        </thead>

        <tr ng-if="getParticipation(company, currentEvent.id).payment" ng-repeat="company in companies | orderBy:predicate:reverse" ng-class="getClassFromPaymentStatus(getParticipation(company, currentEvent.id))">
          <td style="text-align:center; min-width: 300px;">
            <a href="#/company/{{company.id}}">{{company.name}}</a>
          </td>
          <td style="text-align:center"><a href="#/member/{{getParticipation(company, currentEvent.id).member}}">{{company.member}}</a></td>
          <td>€ {{getParticipation(company, currentEvent.id).payment.price}}</td>
          <td>€ {{getParticipation(company, currentEvent.id).payment.iva}}</td>
          <td>€ {{getParticipation(company, currentEvent.id).payment.total}}</td>
          <td>{{getParticipation(company, currentEvent.id).payment.date}}</td>
          <td>{{getParticipation(company, currentEvent.id).payment.invoice}}</td>
          <td>
            <select ng-model="getParticipation(company, currentEvent.id).payment.status" ng-options="s for s in paymentStatuses | orderBy: 'toString()'" ng-change="saveStatus(company)"></select>
          </td>
          <td>{{getParticipation(company, currentEvent.id).payment.via}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
