<div ng-hide="!company._id || company.deleted" class="card">
  <a href="#/company/{{company.id}}">
    <div class="header wide" style="background-image:url({{company.img}});">
   
    </div>

    <div class="content">
      <div class="unread" ng-show="company.unread">UNREAD!</div>
      <div class="name">{{company.name}}</div> 
      <div ng-if="participation" class="status" ng-class="participation.status.replace(' ','-').toLowerCase()">{{participation.status}}</div> 
      <a ng-if="participation" class="member" href="#/member/{{participation.member}}">
        <img ng-src="https://graph.facebook.com/{{getMember(participation.member).facebook}}/picture"/>
        <small>{{getMember(participation.member).name}}</small>
      </a>
      <div ng-if="!participation">Not assingned for {{event.name}}</div>
    </div>
  </a>

<!--

  <div class="footer">
    <div ng-if="company.showComments">
      <br>
      <comment-area thread="{{'company-' + company.id}}"></comment-area>
    </div>
  </div>
<div class="all-15 align-right">
  <small title="Show/Hide Comments" class="ink-button small green" ng-click="company.showComments = !company.showComments" style="width:60px">{{company.comments.length}} <i class="fa fa-comments"></i></small>
  <br>
  <small style="margin-right:4px"><subscription thread="{{'company-' + company.id}}"></subscription></small>
</div>
-->
</div>
