<div class="ink-grid">

  <div class="all-100" infinite-scroll="scroll()">
    <company-card company="company" event="currentEvent" ng-if="currentEvent.name" notifications="unreadNotifications" me="me" members="members" ng-repeat="company in companies | filterEventStatus:currentEvent:searchCompanies | orderBy:['-' + (unreadFirst ? 'unread' : ''), (reverse ? '-': '') + companyPredicate] | limitTo: limit"></company-card>
  </div>

  <div class="awesome-sidebar" ng-hide="hideSidebar">
    <div class="header">
      <b title="Click to hide sidebar!">Companies</b>
      <div ng-click="hideSidebar=!hideSidebar" class="push-right hide-button">HIDE</div>
    </div>

    <div class="button-group small">
      <p class="ink-button {{searchCompanies.member == undefined ? 'current' : ''}}" ng-click="searchCompanies={}">All</p>
      <p class="ink-button {{searchCompanies.member == me.id ? 'current' : ''}}" ng-click="searchCompanies.member=me.id">Assigned to me</p>
    </div>

    <br>

    <h6>Filter Status</h6>
    <div ng-repeat="status in statuses">
      <div class="ink-button small all-100 {{status==searchCompanies.status ? 'current' : '' }}" ng-click="searchCompanies.status=status.name" style="border-left: 10px solid {{status.color}}; border-radius: 2px; background: #ddd; ">
        {{status.name}}
      </div>
    </div>

    <br>

    <h6>Order by</h6>
    <div>
      <div class="ink-button small all-100 {{unreadFirst ? 'current' : ''}}" ng-click="unreadFirst = !unreadFirst">Unread First</div><br>
      <div class="ink-button blue small all-100" ng-click="companyPredicate='name'; reverse=!reverse">Name <i class="fa fa-arrows-v"></i></div><br>
      <div class="ink-button blue small all-100" ng-click="companyPredicate='updated'; reverse=!reverse">Updated <i class="fa fa-arrows-v"></i></div><br>
    </div>
  </div>

  <div class="awesome-sidebar-button" ng-click="hideSidebar=!hideSidebar" title="Click to show sidebar!" ng-show="hideSidebar">
    <i style="font-size:50px" class="fa fa-caret-left"></i>  
  </div>
</div>