<div class="" id="viewModal">

  <div ng-hide="company">
    <h1>Loading...</h1>
  </div>

  <div ng-show="company">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>Edit {{company.name}} Participation</h1>

          <div class="ink-alert basic success" ng-show="message">
            <!--<button class="ink-dismiss">&times;</button>-->
            <p><strong>Success!</strong>
              {{message}}
            </p>
          </div>
          <div class="ink-alert basic error" ng-show="error">
            <button class="ink-dismiss">&times;</button>
            <p><strong>Error!</strong>
              {{error}}
            </p>
          </div>

        </div>
      </div>

      <form class="ink-form" ng-submit="submit()" unsaved-warning-form>
        <div class="column-group horizontal-gutters">
          <div class="all-30 medium-30 small-100 tiny-100">
            <div class="control-group">
              <a href="" class="ink-button bronze" ng-click="formData.participation.items=null;formData.participation.items.stand=2;formData.participation.items.logos.site='S';formData.participation.items.logos.folders='S';formData.participation.items.documentation=true;formData.participation.items.posts=1;formData.participation.items.logos.rollups='S';formData.participation.items.logos.individuals='S';formData.participation.items.logos.showcase='S';">Bronze Package</a>
            </div>
            <div class="control-group">
              <a href="" class="ink-button silver" ng-click="formData.participation.items=null;formData.participation.items.stand=3;formData.participation.items.logos.site='M';formData.participation.items.logos.folders='M';formData.participation.items.documentation=true;formData.participation.items.posts=3;formData.participation.items.logos.rollups='M';formData.participation.items.logos.individuals='M';formData.participation.items.logos.showcase='M';formData.participation.items.logos.tshirts='M';formData.participation.items.logos.site='M';formData.participation.items.logos.banners='M';formData.participation.items.logos.posters='M';formData.participation.items.logos.flyers='M';">Silver Package</a>
            </div>
            <div class="control-group">
              <a href="" class="ink-button gold" ng-click="formData.participation.items=null;formData.participation.items.stand=5;formData.participation.items.logos.site='L';formData.participation.items.logos.folders='L';formData.participation.items.documentation=true;formData.participation.items.posts=5;formData.participation.items.logos.rollups='L';formData.participation.items.logos.individuals='L';formData.participation.items.logos.showcase='L';formData.participation.items.logos.tshirts='L';formData.participation.items.logos.site='L';formData.participation.items.logos.banners='L';formData.participation.items.logos.posters='L';formData.participation.items.logos.flyers='L';formData.participation.items.keynote=true;formData.participation.items.logos.pens=true;formData.participation.items.logos.merchandise=true;">Gold Package</a>
            </div>
          </div>
          <div class="all-30 medium-30 small-100 tiny-100">
            <div class="control-group">
              <label>Logo on site</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.site" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on pens</label>
              <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.logos.pens" value="true" resettable>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on tshirts</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.tshirts" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on merchandise</label>
              <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.logos.merchandise" value="true" resettable>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on banners</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.banners" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on posters</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.posters" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on flyers</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.flyers" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on folders</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.folders" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on individuals</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.individuals" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
            <div class="control-group">
              <label>Logo on rollups</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.rollups" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            <div class="control-group">
              <label>Logo on showcase</label>
              <div class="control">
                <select ng-model="formData.participation.items.logos.showcase" ng-options="s for s in logoSizes | orderBy: 'toString()'" resettable></select>
              </div>
            </div>
          </div>
        </div>

        <div class="all-40 medium-40 small-100 tiny-100">
          <div class="control-group">
            <label>Stand days</label>
            <div class="control">
              <select ng-model="formData.participation.items.stand" ng-options="s for s in standDays | orderBy: 'toString()'" resettable></select>
            </div>
          </div>
          <div class="control-group">
            <label>Posts</label>
            <div class="control">
              <select ng-model="formData.participation.items.posts" ng-options="s for s in postsNumbers | orderBy: 'toString()'" resettable></select>
            </div>
          </div>
          <div class="control-group">
            <label>Presentation</label>
            <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.presentation" value="true" resettable>
            </div>
          </div>
          <div class="control-group">
            <label>Workshop</label>
            <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.workshop" value="true" resettable>
            </div>
          </div>
          <div class="control-group">
            <label>Keynote</label>
            <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.keynote" value="true" resettable>
            </div>
          </div>
          <div class="control-group">
            <label>Documentation</label>
            <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.documentation" value="true" resettable>
            </div>
          </div>
          <div class="control-group">
            <label>Innovation Awards</label>
            <div class="control">
              <input type="checkbox"  ng-model="formData.participation.items.innovationAwards" value="true" resettable>
            </div>
          </div>

        </div>

        </div>
        <div class="column-group horizontal-gutters">
          <div class="all-100">
            <div class="control-group">
              <input type="submit" id="submit" value="Submit" class="ink-button green" />
              <a class="ink-button orange" href="#/company/{{company.id}}/edit" unsaved-warning-clear><i class="fa fa-back"></i><i class="fa fa-reply"></i>  Go back...</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
