<div class="" id="viewModal" ng-controller="CompanyController">

  <div ng-hide="company">
    <h1>Loading...</h1>
  </div>

  <div ng-show="company">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>{{company.name}}</h1>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-30 medium-30 small-100 tiny-100">
          <p>
            <a class="ink-button blue" href="{{company.forum}}" target="_blank"><i class="fa fa-comments"></i> Go to Forum!</a>
            <a class="ink-button orange" href="/#/company/{{company.id}}/edit"><i class="fa fa-wrench"></i> Edit Company</a>
          </p>
          <img ng-show="company.img" src="{{company.img}}" width="100%" />
          <br><br>
          <p><b>Status: </b>{{company.status}}</p>
          <p>
            <a href="/#/member/{{member.id}}">
            <i ng-hide="member.facebook" class="fa fa-user"></i>
            <img ng-show="member.facebook" src="https://graph.facebook.com/{{member.facebook}}/picture"/>
            <b style="font-size: 20px; margin-left:12px;"> {{member.name}}</b>
            </a>
          </p>
          <b>Area: </b><div ng-bind-html="company.area"></div><br>
          <b>Description: </b><div ng-bind-html="convertTextToHtml(company.description)"></div>
          <br>
        </div>
        <div class="all-40 medium-40 small-100 tiny-100">
          <div ng-show="company.history">
            <h1>History</h1>
            <div ng-bind-html="convertTextToHtml(company.history)"></div>
          </div>
          <br>
          <div ng-show="company.contacts">
            <h1>Contacts</h1>
            <div ng-bind-html="convertTextToHtml(company.contacts)"></div>
          </div>
          <br>
        </div>
        <div class="all-30 medium-30 small-100 tiny-100">
          <div ng-show="company.participation">
            <h1>Participation</h1>
            <h6>{{company.participation.kind}}</h6>
          </div>
          <div ng-show="company.participation.payment">
            <h3>Payment Details</h3>
            <b>Price: </b>{{company.participation.payment.price}}<br>
            <b>Total: </b>{{company.participation.payment.total}} (incl. IVA)<br>
            <b>Invoice: </b>{{company.participation.payment.invoice}}<br>
            <b>Date: </b>{{company.participation.payment.date}}<br>
            <b>Status: </b>{{company.participation.payment.status}}<br>
            <b>Via: </b>{{company.participation.payment.via}}<br>
          </div>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>Comments</h1>

          <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

          <small>
          <div class="comment" ng-hide="loading" ng-repeat="comment in comments">
            <div class="column-group horizontal-gutters">
              <div class="all-10">
                <a href="/#/member/{{comment.member}}"><img src="https://graph.facebook.com/{{getMemberFacebook(comment.member)}}/picture"/></a>
              </div>
              <div class="all-70" ng-bind-html="convertNewLinesToHtml(comment.html)">
              </div>
              <div class="all-20">
               <a class="ink-button green" ng-click="quoteComment(comment)">Quote</a>
               <a class="ink-button orange" href="/#/comment/{{comment._id}}/edit">Edit</a>
               <a class="ink-button red" ng-click="deleteComment(comment._id)">Delete</a>
              </div>
            </div>
          </div>

          <br>

          <div class="all-45 half-right-space">

            <form class="ink-form" ng-submit="submitComment()">

              <div class="control-group">
                <label for="markdownfield">Your Comment in Markdown</label>
                <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Help?</a>
                <div class="control">
                  <textarea id="markdownfield" ng-model="commentData.markdown" type="text" rows="6" width="90%"></textarea>
                </div>
              </div>
              <div class="control-group">
                <input type="submit" id="submit" value="Post Comment" class="ink-button green" />
              </div>
            </form>
          </div>
          <div class="all-45">
            <h6>Preview</h6>
            <div compile="convertMarkdownToHtml(commentData.markdown ? commentData.markdown : '')"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
