<div class="" id="viewModal">

  <div ng-hide="company">
    <h1>Loading...</h1>
  </div>

  <div ng-show="company">
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-100">
          <h1>{{company.name}}</h1>
        </div>
      </div>

      <div class="column-group horizontal-gutters">
        <div class="all-30 medium-30 small-100 tiny-100">
          <p>
            <a class="ink-button blue" href="{{company.forum}}" target="_blank"><i class="fa fa-comments"></i> Go to Forum!</a>
            <a class="ink-button orange" href="/#/company/{{company.id}}/edit"><i class="fa fa-wrench"></i> Edit Company</a>
          </p>
          <img ng-show="company.img" ng-src="{{company.img}}" width="100%" />
          <br><br>
          <p><b>Status: </b>{{company.status}}</p>
          <p>
            <a href="/#/member/{{company.member}}">
            <img ng-if="company.member" ng-src="https://graph.facebook.com/{{getMember(company.member).facebook}}/picture"/>
            <b style="font-size: 20px; margin-left:12px;"> {{getMember(company.member).name}}</b>
            </a>
          </p>
          <b>Area: </b><div ng-bind-html="company.area"></div><br>
          <b>Description: </b><div ng-if="company.description" ng-bind-html="convertURLs(company.description)"></div>
          <br>
        </div>
        <div class="all-40 medium-40 small-100 tiny-100">
          <div ng-if="company.history">
            <h1>History</h1>
            <div ng-bind-html="convertURLs(company.history)"></div>
          </div>
          <br>
          <div ng-if="company.contacts">
            <h1>Contacts</h1>
            <div ng-bind-html="convertEmails(convertURLs(company.contacts))"></div>
          </div>
          <br>
          <div ng-if="company.accesses">
            <h1>Acesses</h1>
            <ul>
              <li ng-repeat="access in company.accesses">Someone accessed {{access.where}} {{timeSince(access.date)}}.</li>
            </ul>
          </div>
          <br>
          <div>
            <h1>Last Changes</h1>
            <ul ng-if="company.notifications">
              <li ng-repeat="notification in company.notifications | orderBy: 'posted':true | limitTo: 5">{{notification.description}} <small>{{timeSince(notification.posted)}}</small>.</li>
            </ul>
          </div>
          <br>
        </div>
        <div class="all-30 medium-30 small-100 tiny-100">
          <div ng-if="company.participation">
            <h1>Participation</h1>
            <h6>{{company.participation.kind}}</h6>
          </div>
          <div ng-if="company.participation.payment">
            <h3>Payment Details</h3>
            <b>Price: </b>{{company.participation.payment.price}}<br>
            <b>Total: </b>{{company.participation.payment.total}} (incl. IVA)<br>
            <b>Invoice: </b>{{company.participation.payment.invoice}}<br>
            <b>Date: </b>{{company.participation.payment.date}}<br>
            <b>Status: </b>{{company.participation.payment.status}}<br>
            <b>Via: </b>{{company.participation.payment.via}}<br>
          </div>
        </div>
      </div>

      <comment-area thread="{{'company-' + company.id}}"></comment-area>

    </div>
  </div>
</div>
