section.page.members.add

  h2 Add Person

  form.ink-form(data-hook="member-form")
    fieldset(data-hook="field-container")
    .buttons
      button.ink-button(data-hook="reset", type="submit") Submit
