section.page.members.edit

  h2 Edit member

  form.ink-form(data-hook="member-form")
    fieldset(data-hook="field-container")
    .buttons
      button.ink-button(data-hook="reset", type="submit") Submit
