section.page.pageOne
  h2 Members

  ul.list-group(data-hook="members-list")

  p Try it by clicking the buttons

  .buttons.btn-group
    button.ink-button(data-hook="fetch") Fetch
    a.ink-button(href="/members/add") Add Member