section.page.members.list
  div(data-hook="members-list")

  .awesome-sidebar
    .header
      b Members
      .push-right.hide-button HIDE

    .button-group.small
      a.ink-button(href="/members/add") Add Member