section.page.pageOne
  h2 Members

  div(data-hook="members-list")

  p Try it by clicking the buttons

  div
    button.ink-button(data-hook="fetch") Fetch
    a.ink-button(href="/members/add") Add Member