section.page.pageOne
  h2 Members

  ul.list-group(data-hook="members-list")

  p Try it by clicking the buttons

  .buttons.btn-group
    button.ink-button(data-hook="reset") .reset() 
    button.ink-button(data-hook="fetch") .fetch() 
    button.ink-button(data-hook="shuffle") .shuffle() 
    a.ink-button(href="/person/add") Add Person

  p Events are always managed so you don't get any leaks.
