section.page.members.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        h1(data-hook='name').push-left
        .button-group.small.push-right
          a.ink-button.orange(data-hook='edit') Edit
          button.ink-button.red(data-hook='delete') Delete
        div.all-100
      div.all-33.medium-50.small-100.tiny-100
        img.image-logo(data-hook='img')

        h2(data-hook='roleIds')

        h4 Mails
        ul.list.unstyled
          li(data-hook='mails-main')
            i.fa.fa-envelope
            span
          li(data-hook='mails-institutional')
            i.fa.fa-graduation-cap
            span
          li(data-hook='mails-google')
            i.fa.fa-google
            span
          li(data-hook='mails-microsoft')
            i.fa.fa-windows
            span
          li(data-hook='mails-dropbox')
            i.fa.fa-dropbox
            span

        h4 Phone
        ul
          li
            div(data-hook='phones')

        h4 Other
        .list
          a(data-hook='fbURL')
            i.fa.fa-facebook-square
            span Facebook
      div.all-33.medium-100.small-100.tiny-100
        div(data-hook='member-participations')
