section.page.member.view

  h2(data-hook='name')

  img(data-hook='img', width='300',  height='300')

  .buttons
    a.ink-button(data-hook='edit') Edit
    button.ink-button.red(data-hook='delete') Delete
