section.page.member.view

  h2(data-hook='name')

  img.image-logo(data-hook='img')

  h4(data-hook='roleIds')

  h4 Mails
  ul
    li
      div(data-hook='mails.main')
    li
      div(data-hook='mails.google')
    li
      div(data-hook='mails.microsoft')
    li
      div(data-hook='mails.dropbox')

  h4.div Phone
  ul
    li
      div(data-hook='phones')

  a(data-hook='fbURL') Facebook

  .buttons
    a.ink-button(data-hook='edit') Edit
    button.ink-button.red(data-hook='delete') Delete
