li.notification(data-hook='notification')
  .header
    i.fa(data-hook='type')
    span.ink-label(data-hook='memberName')
    i.note(data-hook='posted')
  .description
    span(data-hook='description')
    span on
    a.ink-label.grey(data-hook='threadUrl')
      span(data-hook='threadName')
