body
  nav.ink-navigation
    div
      ul.menu.horizontal.black
        li.heading
          a(href="/") EventDeck
        li
          form.base-form.ink-form(data-hook="base-form")
            fieldset(data-hook="field-container")
        li
          a(href="/members") Members
        li
          a(href="/companies") Companies
        li
          a(href="/login")#logout Logout


    main.ink-grid(data-hook="page-container")


