body.ink-drawer
  .topbar
    .ink-grid
      nav.ink-navigation
        ul.menu.horizontal.push-left
          li.hide-all.show-medium.show-small.show-tiny
            .ink-button.small.white.left-drawer-trigger
              i.fa.fa-bars.fa-2x
          li.title.hide-large.hide-small.hide-tiny
            a(href='/') EventDeck
          li.title.hide-all.show-large.show-small.show-tiny
            a(href='/') ED
          li.event
            form.base-form.ink-form(data-hook='base-form')
              fieldset(data-hook='field-container')
            ul.submenu(data-hook='search-results')
        ul.menu.horizontal.push-right.hide-medium.hide-small.hide-tiny
          li.notifications
            a(data-hook='notifications')
              span(data-hook='notification-count')
              span(data-hook='plural') Notifications
          li
            a(href='/topics') Topics
            ul.submenu
              li
                a(href='/topics/add') Add new
          li
            a(href='/companies') Companies
            ul.submenu
              li
                a(href='/companies/table') Table
                a(href='/companies/add') Add new
          li
            a(href='/speakers') Speakers
            ul.submenu
              li
                a(href='/speakers/table') Table
                a(href='/speakers/add') Add new

          li
            a(href='/sessions') Sessions
            ul.submenu
              li
                a(href='/sessions/add') Add new
          li
            a(href='/members') Members
          li.status
            a(data-hook='status').fa.fa-circle
          li
            a#logout(href='/login') Logout

  main.content-drawer.ink-grid(data-hook='page-container')

  .left-drawer
    nav.ink-navigation.hide-all.show-medium.show-small.show-tiny
      ul.menu.vertical
        li
          a(href='/topics') Topics
          ul.submenu
            li
              a(href='/topics/add') Add new
        li
          a(href='/companies') Companies
          ul.submenu
            li
              a(href='/companies/table') Table
              a(href='/companies/add') Add new
        li
          a(href='/speakers') Speakers
          ul.submenu
            li
              a(href='/speakers/table') Table
              a(href='/speakers/add') Add new
        li
          a(href='/members') Members
        li
          a#logout(href='/login') Logout

  .footer.ink-grid.vertical-space
    div
      span Made with <3 by&nbsp;
        a(href='//sinfo.org' target='_blank') SINFO
      span Give us feedback at&nbsp;
        a(href='//github.com/sinfo/eventdeck/issues' target='_blank') GitHub
