body
  .topbar
    .ink-grid
      nav.ink-navigation
        ul.menu.horizontal.push-left
          li.title.hide-medium.hide-small.hide-tiny
            a(href='/') EventDeck
          li.event
            form.base-form.ink-form(data-hook='base-form')
              fieldset(data-hook='field-container')
            ul.submenu(data-hook='search-results')
        ul.menu.horizontal.push-right.hide-small.hide-tiny
          li
            a(href='/topics') Topics
            ul.submenu
              li
                a(href='/topics/add') Add new
          li
            a(href='/companies') Companies
            ul.submenu
              li
                a(href='/companies/table') Table
                a(href='/companies/add') Add new
          li
            a(href='/speakers') Speakers
            ul.submenu
              li
                a(href='/speakers/table') Table
                a(href='/speakers/add') Add new
                
          li
            a(href='/sessions') Sessions
            ul.submenu
              li
                a(href='/sessions/add') Add new
          li
            a(href='/members') Members
          li
            a#logout(href='/login') Logout


  main.ink-grid(data-hook='page-container')


