body
  nav.ink-navigation
    div
      ul.menu.horizontal.black
        li.heading
          a(href="/") EventDeck
        li
          a(href="/members") Members
        li
          a(href="/companies") Companies
    main.ink-grid(data-hook="page-container")
