body
  nav.ink-navigation
    div
      ul.menu.horizontal.black
        li.heading
            a(href="/") EventDeck
        li
            a(href="/members") Members
          li
  .ink-grid
    main(data-hook="page-container")
