meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')