<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*|MC:SUBJECT|*</title>
    <style>

        h1, h2, h3, h4, h5, h6, p {
            font-family: "Tahoma", Verdana, Segoe, sans-serif;
            text-align: justify;
            font-size: 13px;
            color: #545454;
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.5em;
        }

        h2{ font-weight: 600; }

        h3{ font-weight: 400; }

        #window > tbody {
            display: block;
        }

        #window > tbody > tr {
            display: block;
            width: 612px;
        }

        .box {
            width: 600px;
            padding: 0;
        }

        .block {
            display: block;
        }

        #top {
            background: url('https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-top.png');
            background-size: cover;
            background-repeat: no-repeat;

            width: 610px;
            height: 194px;
        }

        #middle {
            background: url('https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-middle.png');
            background-size: contain;
            background-repeat-x: no-repeat;
            background-repeat-y: repeat;
        }

        #middle > td {
            display: block;
            width: 100%;
        }

        #bottom {
            background: url('https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-bottom.png');
            background-size: cover;
            background-repeat: no-repeat;

            height: 358px;
        }

        #bottom > td {
            display: block;
        }

        #bottom-title {
            width: 300px;
        }

        .content {
            width: 455px;
            margin-left: 12%;
            margin-right: 12%;
        }

        #invite-table tr {
            vertical-align: middle;
            width: 450px;
            background-color: #dddddd;
        }

        #invite-table {
            padding: 20px 10px;
        }

        #invite-table td {
            padding: 0px 10px;
        }

        .invite-table-section {
            vertical-align: middle;
            width: 450px;
            background-color: #dddddd;
        }

        .invite-table-title {
            width: 90px;
            margin-top: 15px;
            text-align: right;
            padding-right: 10px;
            font-size: 12px;
        }

        .invite-table-text {
            margin-top: 15px;
            width: 270px;
            line-height: 1em;
            padding-left: 10px;
        }

        #visitButtonWrapper {
            padding-left: 140px;
        }

        .innerButton{
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            color: #FFFFFF;
            border-radius: 50px;
            background-color: #02598C;
            padding: 18px;
            white-space: nowrap;
            font-family: "Tahoma", Verdana, Segoe, sans-serif;
        }

        .comany {
            display: inline-block;
            width: 110px;
            padding: initial !important;
        }

        .comany td {
            width: 150px;
        }

        .comany tr {
            display: block;
            margin: 0;
            padding: 0;
        }

        .comany td.img-comany{
            padding-left: 12px;
        }

        .comany h3,
        .comany h2{
            font-size: 9px;
            text-align: center;
            white-space: nowrap;
            margin: 0;
        }

        .circular{
            width: 80px;
            height: 80px;
            max-height: 110px;
            border-radius: 55px;
            -webkit-border-radius: 55px;
            -moz-border-radius: 55px;
          }

          #regards {
            display: block;
            margin-top: 5px;
          }

    </style>
  </head>
        <body>
        <center>
            <table id="window">
                <tbody style="display: block;">
                    <tr id="top" class="block" style="display: block;background: url(https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-top.png);background-size: cover;background-repeat: no-repeat;width: 612px;height: 194px;">
                        <td class="box" style="width: 600px;padding: 0;"></td>
                    </tr>
                    <tr id="middle" class="block" style="display: block;background: url(https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-middle.png);background-size: contain;background-repeat-x: no-repeat;background-repeat-y: repeat;width: 612px;">
                        <td class="box" style="width: 100%;padding: 0;display: block;">
                            <table id="middle-content" class="content block" style="display: block;width: 455px;margin-left: 12%;margin-right: 12%;">
                                <tbody class="block" style="display: block;">
                                    <tr class="block" style="display: block;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                            <h2 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 600;">  
                                                SINFO has the honor to invite {{company.name}} to be a partner at SINFO 26
                                            </h2>
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                SINFO, a non-profit student organization, is proudly announcing the 26th edition of the best free tech conference in Portugal. 
                                                We are delighted to bring this event once more to Lisbon, a city where innovation and entrepreneurship are rising every year. 
                                                This edition we expect around 6000 attendees, among them students and partners. 
                                            </h3>
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                We would be honored to count on your presence and partnership for the next edition.
                                            </h3>
                                        </td>
                                    </tr>
                                    <tr class="block" style="display: block;">
                                        <td class="invite-outer box" style="width: 600px;padding: 0;">
                                            <table id="invite-table" style="padding: 20px 10px;">
                                                <tbody>
                                                    <tr class="invite-table-section" style="vertical-align: middle;width: 450px;background-color: #dddddd;">
                                                        <td style="padding: 0px 10px;">
                                                            <h2 class="invite-table-title" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: right;font-size: 12px;color: #545454;line-height: 1.5em;font-weight: 600;width: 90px;margin-top: 15px;padding-right: 10px;">Event:</h2>
                                                        </td>
                                                        <td style="padding: 0px 10px;">
                                                            <h3 class="invite-table-text" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1em;font-weight: 400;margin-top: 15px;width: 270px;padding-left: 10px;">SINFO 26</h3>
                                                        </td>
                                                    </tr>
                                                    <tr class="invite-table-section" style="vertical-align: middle;width: 450px;background-color: #dddddd;">
                                                        <td style="padding: 0px 10px;">
                                                            <h2 class="invite-table-title" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: right;font-size: 12px;color: #545454;line-height: 1.5em;font-weight: 600;width: 90px;margin-top: 15px;padding-right: 10px;">When:</h2>
                                                        </td>
                                                        <td style="padding: 0px 10px;">
                                                            <h3 class="invite-table-text" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1em;font-weight: 400;margin-top: 15px;width: 270px;padding-left: 10px;">18th to the 22nd of February 2019</h3>
                                                        </td>
                                                    </tr>
                                                    <tr class="invite-table-section" style="vertical-align: middle;width: 450px;background-color: #dddddd;">
                                                        <td style="padding: 0px 10px;">
                                                            <h2 class="invite-table-title" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: right;font-size: 12px;color: #545454;line-height: 1.5em;font-weight: 600;width: 90px;margin-top: 15px;padding-right: 10px;">Where:</h2>
                                                        </td>
                                                        <td style="padding: 0px 10px;">
                                                            <h3 class="invite-table-text" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1em;font-weight: 400;margin-top: 15px;width: 270px;padding-left: 10px;">
                                                                Instituto Superior Técnico
                                                            </h3>
                                                            <h3 class="invite-table-text" style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1em;font-weight: 400;margin-top: 15px;width: 270px;padding-left: 10px;">
                                                                Lisboa, Portugal
                                                            </h3>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="block" style="display: block;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                This event is only possible with a continuous effort to improve and enhance each time it occurs. We present new and improved opportunities to create a 
                                                strong partnership.
                                            </h3>
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                It would be our pleasure if you could visit our <a  title="Visit SINFO" href="https://www.sinfo.org" target="_blank">website</a>, where you can find more 
                                                information about the event, and also our <a  title="Visit SINFO" href="https://partners.sinfo.org" target="_blank">partnership webpage</a> with all the details as well as the terms and conditions for the participation.
                                            </h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr id="bottom" class="block" style="display: block;background: url(https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/templateMail/TemplateMail_Oradores-bottom.png);background-size: cover;background-repeat: no-repeat;height: 358px;width: 612px;">
                        <td class="box" style="width: 600px;padding: 0;display: block;">
                            <table id="bottom-content" class="content block" style="display: block;width: 455px;margin-left: 12%;margin-right: 12%;">
                                <tbody class="companies">
                                    <tr class="block" style="display: block;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                            <div id="visitButtonWrapper" style="padding-left: 100px;">
                                                <a class="innerButton" title="Visit our partnership's site" href="https://partners.sinfo.org" target="_blank">Visit our Partners Page here
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="block" style="display: block; margin-top: 10px; margin-bottom: 10px;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                We are completely available to arrange a meeting with {{company.name}} on the date that most suits you. This way, we could present our novelties and also 
                                                important information collected in previews editions.
                                            </h3>
                                        </td>
                                    </tr>
                                    <tr class="block" style="display: block; margin-top: 10px; margin-bottom: 10px;">

                                        <td class="box" style="width: 600px;padding: 0;">
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                                In case of any questions or in order to schedule the meeting, do not hesitate to contact us via email or phone call (on the signature below)</h3>
                                        </td>
                                    </tr>
                                    <tr class="block" style="display: block; margin-top: 10px; margin-bottom: 10px;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                            <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                               </h3>
                                        </td>
                                    </tr>
                                    <tr class="block" style="display: block; margin-top: 10px; margin-bottom: 10px;">
                                        <td class="box" style="width: 600px;padding: 0;">
                                        <h3 style="font-family: &quot;Tahoma&quot;, Verdana, Segoe, sans-serif;text-align: justify;font-size: 13px;color: #545454;line-height: 1.5em;font-weight: 400;">
                                            </h3>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
