<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>*|MC:SUBJECT|*</title>
        <style>

            .box-600{
                width: 600px;
                padding: 0px;
            }

            #window{
                padding: 0px calc((100% - 600px) / 2);
            }

            #window > tbody {
                border-style: solid;
                border-width: 3px;
                border-color: #07a;
                display: block;
                border-spacing: 0px;
            }

            #body td,
            body{

                font-family: "Tahoma", Verdana, Segoe, sans-serif;
                padding: 0px 10px;
            }

            h1, h2, h3, h4, h5, h6, ul, li {
                text-align: justify;
                font-size: 13px;
                line-height: 1.5em;
                color: #545454;
            }

            h2{ font-weight: 600; }

            h3{ font-weight: 400; }

            .heading{
                padding: 0px;
                width: 600px;
                height: 150px;
                background: url('http://static.sinfo.org/SINFO_24/TemplateEmpresas/Header.png');
                display: block;
            }

            .block {
                display:block;
            }

            .signature h3{
                line-height: .7em;
                font-style: italic;
            }

            .innerDivider{
                border-bottom: .1em solid #07a;
                padding: 1em 0em
            }

            .circular{
                width: 110px;
                height: 110px;
                max-height: 110px;
                border-radius: 55px;
                -webkit-border-radius: 55px;
                -moz-border-radius: 55px;
            }

            .innerButton{
                font-weight: bold;
                display: inline-block;
                text-decoration: none;
                color: #FFFFFF;
                border-radius: 5px;
                background-color: #07a;
                padding: 18px;
                white-space: nowrap;
            }

            .speaker{
                padding: initial !important;
            }

            .speaker td{
                width: 150px;
            }
            .speaker td.img-speaker{


                padding-left: 15px;
            }

            .speaker h3,
            .speaker h2{
                text-align: center;
                line-height: .2em;
                white-space: nowrap;
                margin: 5px auto; /** does not work in mail?**/
            }

            #body td.invite-outer{
                padding: 10px 60px;
            }

            .invite-table-section{
                vertical-align: middle;
                align="center";
                width: 450px;
                background-color: #dddddd;
            }

            .invite-table-text{
                width:  320px;
                line-height: 1em;
                padding-left: 10px;
            }

            .invite-table-title {
                text-align: right;
                line-height: .4em;
                padding-right: 10px;
            }

            #body td.button-outer{
                padding: 20px 160px;
            }
        </style>
    </head>

    <body>
        <center>
            <table id="window">
                <tbody>
                    <tr>
                        <td class="box-600">
                            <table id="body" class="block">
                                <tbody  class="block">
                                    <tr  class="block">
                                        <th class="heading"></th>
                                    </tr>
                                    <tr>
                                        <td class="box-600">
                                            <h2>A SINFO tem a honra de convidar a {{company.name}} para participar na SINFO 24.</h2>
                                            <h3>A SINFO orgulha-se de organizar a 24ª edição daquele que é o maior evento de tecnologia da Europa, preparado exclusivamente por
                                                uma equipa de estudantes universitários. É com muito gosto que mais uma vez organizamos o evento na capital que cada vez mais aposta
                                                numa cultura de inovação e empreendedorismo. Este ano prevemos contar com cerca de 10 000 participantes, entre estudantes e parceiros. </h3>
                                            <h3>Ficaríamos muito honrados em contar com a vossa presença e parceria na próxima edição.</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="invite-outer box-600">
                                            <table id="invite-table">
                                                <tbody>
                                                    <tr class="invite-table-section">
                                                        <td><h2 class="invite-table-title">Evento:</h2></td>
                                                        <td><h3 class="invite-table-text">SINFO 24</h3></td>
                                                    </tr>
                                                    <tr class="invite-table-section">
                                                        <td><h2 class="invite-table-title">Quando:</h2></td>
                                                        <td><h3 class="invite-table-text">De 20 a 24 de Fevereiro de 2017</h3></td>
                                                    </tr>
                                                    <tr class="invite-table-section">
                                                        <td><h2 class="invite-table-title">Onde:</h2></td>
                                                        <td><h3 class="invite-table-text">Instituto Superior Técnico - Lisboa, Portugal</h3></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="box-600">
                                            <h3>Fruto de um trabalho contínuo de melhoria e de inovação, apresentaremos novas e melhores
                                                 oportunidades para criarmos uma forte parceria, tendo em conta o retorno esperado.</h3>
                                            <h3>Teríamos todo o gosto que visitassem o nosso <a  title="Visit SINFO" href="https://www.sinfo.org" target="_blank">website</a>, onde poderão encontrar
                                                mais informações sobre o evento, assim como a nossa página de parceiros onde poderão consultar as condições de participação no evento.</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="button-outer box-600">
                                            <a class="innerButton" title="Visit SINFO" href="https://www.sinfo.org/sponsor.html" target="_blank">Visite a página de parceiros</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="box-600">
                                            <h3>Estamos inteiramente disponíveis para reunir com {{company.name}} na data que vos for mais conveniente. Desta forma poderíamos apresentar
                                                todas as novidades bem como alguns dados obtidos em edições anteriores.</h3>
                                            <h3>No caso de ter qualquer questão e de forma a marcarmos a referida reunião não hesite em contactar-me via email ou telefone (ver assinatura do email).</h3>
                                            <h3>Com os melhores cumprimentos,</h3>
                                            <h3><i>Pela Equipa da SINFO,</i></h3>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
