section.page.speakers.add

  h2 Add company

  form.ink-form(data-hook='speaker-form')
    fieldset(data-hook='field-container')
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit
