section.page.speakers.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        .push-left
          h1
            span(data-hook='name')
            span.title(data-hook='title')
        .button-group.small.push-right
          a.ink-button.orange(data-hook='edit') Edit
          button.ink-button.red(data-hook='delete') Delete
          div(data-hook='speaker-subscription')
        div.all-100
      div.all-33.medium-50.small-100.tiny-100
        img(data-hook='img', width='60',  height='60')
        div
          h4 Description
          .paragraphs(data-hook='description')
        div
          h4 Internal History
          .paragraphs(data-hook='history')
      div.all-33.medium-50.small-100.tiny-100
        div
          h3 Contacts
          .paragraphs(data-hook='contacts')

      div.all-33.medium-100.small-100.tiny-100
        div(data-hook='speaker-participations')
      div.all-100
        div(data-hook='speaker-communications')
      div.all-100
        div(data-hook='speaker-comments')
