<div class="all-100 align-center double-vertical-space">
	<h1>Welcome to The Tool! Beta</h1>
	<div class="ink-button blue" ng-click="login()"><i class="fa fa-facebook-square"></i> Login with Facebook</div>
  <br><br>
	<div id="login" class="all-100 align-center" ng-show="connected">
    <b class="all-100">
      <p class="all-100">{{loginInfo.firstRow}}</p>
      <p class="all-100">{{loginInfo.secondRow}}</p>
    </b>
    <i ng-show="redirecting" class="fa fa-circle-o-notch fa-3x fa-spin"></i>
  </div>
</div>
