<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>












    <div style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px">
        <center>
            <table style="padding:0px calc((100% - 600px)/2)">
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px">
                                            <h2 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:600">Dear {{speaker}},</h2>
                                            <h3 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:400">I’m {{member}}, a proud member at SINFO. On behalf of the team organizing SINFO we would be pleased if you would accept our invitation to speak at our event.</h3>
                                            <h3 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:400">SINFO is on its 23rd edition and is an event organized by college students who have a passion for technology and innovation.</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:10px 60px">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h2 style="text-align:right;font-size:13px;line-height:.4em;color:#545454;font-weight:600;padding-right:10px">Event Name:</h2></td>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h3 style="text-align:justify;font-size:13px;line-height:1em;color:#545454;font-weight:400;width:320px;padding-left:10px">23rd SINFO</h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h2 style="text-align:right;font-size:13px;line-height:.4em;color:#545454;font-weight:600;padding-right:10px">When:</h2></td>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h3 style="text-align:justify;font-size:13px;line-height:1em;color:#545454;font-weight:400;width:320px;padding-left:10px">The week from February 22nd to February 26th, 2016</h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h2 style="text-align:right;font-size:13px;line-height:.4em;color:#545454;font-weight:600;padding-right:10px">Where:</h2></td>
                                                        <td style="font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px"><h3 style="text-align:justify;font-size:13px;line-height:1em;color:#545454;font-weight:400;width:320px;padding-left:10px">Lisbon Tech (IST - Alameda Campus) - Lisbon, Portugal</h3></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px">
                                            <h3 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:400">Even though we&#39;re a non-funded university event, we&#39;re fully prepared to cover all travel and lodging expenses.</h3>
                                            <h3 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:400">{{paragraph}}</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:20px 210px">
                                            <a title="Visit SINFO" href="https://www.sinfo.org" style="font-weight:bold;display:inline-block;text-decoration:none;color:#ffffff;border-radius:5px;background-color:#07a;padding:18px;white-space:nowrap" target="_blank">Visit our website</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px">


                                            <h3 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:400">My Best Regards,</h3>
                                            <div>
                                                <h3 style="text-align:justify;font-size:13px;line-height:.7em;color:#545454;font-weight:400;font-style:italic">*{{member}}*</h3>
                                                <h3 style="text-align:justify;font-size:13px;line-height:.7em;color:#545454;font-weight:400;font-style:italic">SINFO team</h3>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;border-bottom:.1em solid gray;padding:0px 10px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:600px;font-family:&quot;Tahoma&quot;,Verdana,Segoe,sans-serif;padding:0px 10px">
                                            <h2 style="text-align:justify;font-size:13px;line-height:1.5em;color:#545454;font-weight:600">Previous Speakers</h2>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:600px">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="padding:initial!important">
                                            <table>
                                                <tbody>
                                                    <tr><td style="width:150px;padding-left:15px"><a href="https://www.youtube.com/watch?v=w7O_y9PKq8c" target="_blank"><img src="http://sinfo.org/img/speakers/ScottChacon.jpg" style="width:110px;height:110px;max-height:110px;border-radius:55px"></a></td></tr>
                                                    <tr><td style="width:150px"><h2 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:600;white-space:nowrap;margin:5px auto">Scott Chacon</h2></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Github,</h3></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">CIO</h3></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding:initial!important">
                                            <table>
                                                <tbody>
                                                    <tr><td style="width:150px;padding-left:15px"><a href="https://www.youtube.com/watch?v=-yDM9XRK2lU" target="_blank"><img src="http://sinfo.org/img/speakers/gooseman.png" style="width:110px;height:110px;max-height:110px;border-radius:55px"></a></td></tr>
                                                    <tr><td style="width:150px"><h2 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:600;white-space:nowrap;margin:5px auto">Minh Le</h2></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Counter-Strike,</h3></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Co-creator</h3></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding:initial!important">
                                            <table>
                                                <tbody>
                                                    <tr><td style="width:150px;padding-left:15px"><a href="https://www.youtube.com/watch?v=MVlsOLvBdw4" target="_blank"><img src="http://www.sinfo.org/22/assets/img/speaker/PeterSunde.png" style="width:110px;height:110px;max-height:110px;border-radius:55px"></a></td></tr>
                                                    <tr><td style="width:150px"><h2 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:600;white-space:nowrap;margin:5px auto">Peter Sunde</h2></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">The Pirate Bay,</h3></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Co-founder</h3></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding:initial!important">
                                            <table>
                                                <tbody>
                                                    <tr><td style="width:150px;padding-left:15px"><a href="https://www.youtube.com/watch?v=tamF4p04bfk" target="_blank"><img src="http://xx.sinfo.org/sites/default/files/joel_spolsky.jpeg" style="width:110px;height:110px;max-height:110px;border-radius:55px"></a></td></tr>
                                                    <tr><td style="width:150px"><h2 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:600;white-space:nowrap;margin:5px auto">Joel Spolsky</h2></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Stack Overflow, Trello</h3></td></tr>
                                                    <tr><td style="width:150px"><h3 style="text-align:center;font-size:13px;line-height:.2em;color:#545454;font-weight:400;white-space:nowrap;margin:5px auto">Founder</h3></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>






</div></body></html>