section.page.sessions.add
  h2 Add session
  form.ink-form(data-hook='session-form')
    fieldset(data-hook='field-container')
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit
