section.page.sessions.list
  div(data-hook='sessions-list')

  div.button.awesome-sidebar-button(data-hook='hide') Show

  .awesome-sidebar(data-hook='awesome-sidebar')
    .header
      b Sessions
      .push-right.hide-button(data-hook='hide') HIDE

    .button-group.small
      .ink-button(data-hook='showall') Show all
      a.ink-button(href='/sessions/add') Add Session