section.page.sessions.view
  .ink-grid
    .column-group.horizontal-gutters
      .all-100
        h1(data-hook='name').push-left
        .button-group.small.push-right
          a.ink-button.orange(data-hook='edit') Edit
          button.ink-button.red(data-hook='delete') Delete
          div(data-hook='session-subscription')
        .all-100
      .all-33.medium-50.small-100.tiny-100
        img(data-hook='img', width='200',  height='200')
        div
          h4 Description
          .paragraphs(data-hook="description")
        div
          h4(data-hook='surveyneeded')
      .all-33.medium-50.small-100.tiny-100
        div
          h4 Kind
          p(data-hook="kind")
        div
          h4 Place
          p(data-hook="place")
        div
          h4 Date
          p(data-hook='start')
        div
          h4 Tickets
          p(data-hook="ticketneeded")
          p(data-hook="ticketstart")
          p(data-hook="ticketend")
          p(data-hook="ticketmax")
        div
          h4 Duration
          p(data-hook='end')
      .all-33.medium-50.small-100.tiny-100
        div(data-hook='session-speakers')
        div(data-hook='session-companies')
      .all-100.column-group.gutters
        .all-33(data-title='Users')
          div(data-hook='users')
        .all-33(data-title='Waiting users')
          div(data-hook='waiting-users')
        .all-33(data-title='Confirmed users')
          div(data-hook='confirmed-users')
      .all-100
        div(data-hook='session-comments')
