<div class="all-100 column-group horizontal-gutters">
  <div class="all-100">
    <h1 class="all-100">Comments</h1>

    <h3 class="all-100" ng-show="loading">Loading...</h3>

    <div class="all-100 activity grey" style="background: #ddd; border-radius: 5px;" ng-hide="loading" ng-repeat="comment in comments | orderBy: 'posted':false">
      <div class="all-100">
        <div class="all-50">
          <a href="/#/member/{{comment.member}}">
            <img ng-src="{{'https://graph.facebook.com/' + getMember(comment.member).facebook + '/picture'}}"/>
            <small>{{getMember(comment.member).name}}</small>
          </a>
          <small title="{{comment.posted}}">({{timeSince(comment.posted)}})</small>
        </div>
        <div class="all-50 align-right">
          <small>
            <a class="ink-button green" ng-click="quoteComment(comment)">Quote</a>
            <a class="ink-button orange" ng-show="comment.member === me.id" ng-click="editComment(comment)">Edit</a>
            <a class="ink-button red" ng-show="comment.member === me.id" ng-click="deleteComment(comment)">Delete</a>
          </small>
        </div>
      </div>
      <div class="all-100">
        <div ng-bind-html="convertNewLinesToHtml(comment.html)"></div>
      </div>
    </div>
  </div>

  <div class="all-100 column-group horizontal-gutters">
    <div class="all-50">
      <form class="ink-form">
        <div class="control-group">
          <label for="markdownfield">Your Comment in Markdown</label>
          <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Help?</a>
          <div class="control">
            <textarea ng-model="commentData.markdown" type="text" rows="6"></textarea>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" value="Post comment" class="ink-button green" ng-click="postComment()">
          <div ng-show="emptyComment" class="ink-alert basic error">You can't post empty comments.</div>
        </div>
      </form>
    </div>
    <div class="all-50">
      <h6>Preview</h6>
      <div compile="convertMarkdownToHtml(commentData.markdown)"></div>
    </div>
  </div>
</div>
