<div class="all-100 column-group horizontal-gutters">
  <div class="all-100">
    <h3 class="all-100" ng-show="loading">Loading...</h3>

    <h3 class="all-100" ng-show="!loading && comments.length === 0">No comments posted yet.</h3>
    <div class="all-100 activity" style="background: #eee; border-radius: 5px;" ng-hide="loading" ng-repeat="comment in comments | orderBy: 'posted':false">
      <div class="all-100">
        <div class="all-50">
          <a href="/#/member/{{comment.member}}">
            <img ng-src="{{'https://graph.facebook.com/' + getMember(comment.member).facebook + '/picture'}}"/>
            <small>{{getMember(comment.member).name}}</small>
          </a>
          <small title="{{formatDate(comment.posted)}}">({{timeSince(comment.posted)}})</small>
        </div>
        <div class="all-50 align-right">
          <small>
            <a class="ink-button green" ng-click="quoteComment(comment)">Quote</a>
            <a class="ink-button orange" ng-show="checkPermission(comment)" ng-click="comment.editing = true; comment.buffer = comment.markdown">Edit</a>
            <a class="ink-button red" ng-show="checkPermission(comment)" ng-click="deleteComment(comment)">Delete</a>
          </small>
        </div>
      </div>
      <div class="all-100" ng-hide="comment.editing">
        <div compile="convertMarkdownToHtml(comment.markdown)" style="font-size: 15px;"></div>
      </div>
      <div class="all-100 column-group horizontal-gutters" ng-show="comment.editing">
        <div class="all-50">
          <form class="ink-form" ng-submit="submitComment()">
            <div class="control-group">
              <div class="control">
                <textarea ng-model="comment.buffer" type="text" rows="2" style="font-size: 15px;"></textarea>
              </div>
            </div>
            <div class="control-group">
              <input type="submit" value="Save comment" class="ink-button green" ng-click="saveComment(comment)">
              <div class="ink-button red" ng-click="comment.editing = false">Cancel</div>
              <div ng-show="emptyComment" class="ink-alert basic error">You can't post empty comments.</div>
            </div>
          </form>
        </div>
        <div class="all-50">
          <div compile="convertMarkdownToHtml(comment.buffer)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="all-100 column-group horizontal-gutters">
    <div class="all-50">
      <form class="ink-form">
        <div class="control-group">
          <div class="control">
            <textarea ng-model="commentData.markdown" type="text" rows="2" style="font-size: 15px;"></textarea>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" value="Post comment" class="ink-button green" ng-click="postComment()">
          <div ng-show="emptyComment" class="ink-alert basic error">You can't post empty comments.</div>
        </div>
      </form>
    </div>
    <div class="all-50">
      <div compile="convertMarkdownToHtml(commentData.markdown)"></div>
    </div>
  </div>
</div>
