<div class="" id="editModal" ng-controller="CommentController">

  <div class="column-group horizontal-gutters">
    <div class="all-100">
      <h1>Edit Comment {{comment._id}}</h1>    
    </div>
  </div>
  <div class="column-group horizontal-gutters">
    <div class="all-50">
        
      <form class="ink-form" ng-submit="submitComment()"> 

        <div class="control-group">
          <label for="markdownfield">Your Comment in Markdown</label>
          <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Help?</a>
          <div class="control">
            <textarea id="markdownfield" ng-model="comment.markdown" type="text" rows="6" width="90%"></textarea>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" id="submit" value="Save Comment" class="ink-button green" />
        </div>
      </form>
    </div>
    <div class="all-50">
      <h6>Preview</h6>
      <div compile="convertMarkdownToHtml(comment.markdown)"></div>
    </div>
  </div>
</div>
