<h2 ng-show="loading">Loading...</h2>
<div ng-hide="loading">
  <h1>Chat {{chat.name}}</h1>
</div>
<div ng-hide="loading" style="position: absolute; top: 100px; left: 20px; overflow-y: scroll; height: 70%; width:70%">
 <ul class="unstyled">
    <li ng-repeat="message in messages | orderBy:'date':false">
      <div class="all-70 chat-message" ng-class="message.member == me.id ? 'me' : 'others'">
        <dl>
          <dt>
            <a href="/#/member/{{message.member}}">
              <img src="https://graph.facebook.com/{{getMember(message.member).facebook}}/picture" style="width:25px; margin-left:15px;"/>
              <span>{{getMember(message.member).name}}</span>
              <small>{{timeSince(message.date)}}</small>
            </a>
          </dt>
          <dd>
            <span>{{message.text}}</span>
          </dd>
        </dl>
      </div>
    </li>
  </ul>
</div>
</div>

<div ng-hide="loading" style="position: absolute; top: 50px; right: 20px; overflow-y: scroll; height: 90%; width:25%">
  <div class="comment" ng-repeat="user in online | orderBy:['-on', 'name']">
    <div class="column-group horizontal-gutters">
      <div class="all-40">
        <i ng-if="user.on" class="fa fa-wrench" style='color: Green'></i>
        <a href="/#/member/{{user.member}}"><img src="https://graph.facebook.com/{{getMember(user.member).facebook}}/picture" style="width:25px; margin-left:15px;"/></a>
      </div>
      <div class="all-60">
        {{getMember(user.member).name}}
      </div>
    </div>
  </div>
</div>

<div ng-hide="loading" style="position: absolute; bottom: 0; right: 30%;width: 30%; overflow-y: scroll;">
  <form class="ink-form" ng-submit="submit()">
    <div class="control-group">
      <input ng-model="text" type="text" id="submit" placeholder="Say something chatty!" style="width: 100%;">
    </div>
  </form>
</div>
