section.page.topics.add

  h2 Add topic

  form.ink-form(data-hook='topic-form')
    fieldset(data-hook='field-container')
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit
