section.page.topics.edit

  h2 Edit topic

  form.ink-form(data-hook='topic-form')
    fieldset(data-hook='field-container')
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit