section.page.topics.list
  div(data-hook='topics-list')

  div.button.awesome-sidebar-button(data-hook='hide') Show

  .awesome-sidebar(data-hook='awesome-sidebar')
    .header
      b Topics
      .push-right.hide-button(data-hook='hide') HIDE

    .button-group.small
      .ink-button(data-hook='showall') Show all
      a.ink-button(href='/topics/add') Add topic

    b Filter Kind
    ul.filters.small.unstyled(data-hook='kind-filters')

    ul.filters.small.unstyled(data-hook='tag-filters')


    b Filter Member
    .button-group.small
      .ink-button(data-hook='me') Me
