section.page.topics.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        .all-80.small-100.tiny-100
          h1
            span.kind(data-hook='kind')
            span(data-hook='name')
        .all-20.small-100.tiny-100
          .button-group.small.push-right
            a.ink-button.orange(data-hook='edit') Edit
            button.ink-button.red(data-hook='delete') Delete
            div(data-hook='topic-subscription')

        div.all-100
          .note
            div(data-hook='posted')
            div(data-hook='duedate')
          div
            span(data-hook='member-container')
          .tags(data-hook='topic-tags')
          p(data-hook='text')

          form.ink-form(data-hook='topic-poll')
            fieldset(data-hook='field-container')

      div.all-100
        div(data-hook='topic-comments')


