section.page.topics.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        h1.push-left
          span.kind(data-hook='kind')
          span(data-hook='name')
          ul.filters.small.unstyled(data-hook='tags')
        .button-group.small.push-right
          a.ink-button.orange(data-hook='edit') Edit
          button.ink-button.red(data-hook='delete') Delete
          div(data-hook='topic-subscription')
        div.all-100
          p(data-hook='text')

          form.ink-form(data-hook='topic-poll')
            fieldset(data-hook='field-container')

      div.all-100
        div(data-hook='topic-comments')


