section.page.topics.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        h1(data-hook='name').push-left
        .button-group.small.push-right
          a.ink-button.orange(data-hook='edit') Edit
          button.ink-button.red(data-hook='delete') Delete
        div.all-100
          h2(data-hook='kind')
          p.paragraphs(data-hook='text')

          form.ink-form(data-hook='topic-poll')
            fieldset(data-hook='field-container')
            .buttons
              button.ink-button.small.blue(data-hook='reset', type='submit') Vote!

      br

      div.all-100
        div(data-hook='topic-comments')


