section.page.add-company
  
  h2 Add Company

  form.ink-form(data-hook="company-form")
    fieldset(data-hook="field-container")
    .buttons
      button.ink-button(data-hook="reset", type="submit") Submit
