section.page.edit-company
  
  h2 Edit company

  form.ink-form(data-hook="company-form")
    fieldset(data-hook="field-container")
    .buttons
      button.ink-button(data-hook="reset", type="submit") Submit
