section.page.companies.edit

  div(data-hook="view-container")

  .awesome-sidebar
    .header
      b Edit Company
      .push-right.hide-button HIDE

    .button-group.small
      a.ink-button(data-hook="action-edit-company") Edit Company Information
      a.ink-button(data-hook="action-edit-participations") Edit Participations
