section.page.companies.edit

  div(data-hook="view-container")

  .awesome-sidebar
    .header
      b Edit Company
      .push-right.hide-button HIDE

    .button-group.small
      a.ink-button Edit Company Information

    b Edit Participations
    .button-group.small(data-hook="company-participations")

