section.page.companies
  h2 Companies

  div(data-hook="companies-list")

  p Try it by clicking the buttons

  div
    button.ink-button(data-hook="fetch") Fetch
    a.ink-button(href="/companies/add") Add Company