section.page.companies.list
  div(data-hook="companies-list")

  .awesome-sidebar
    .header
      b Companies
      .push-right.hide-button HIDE

    .button-group
      .button.ink-button(data-hook='selected') Selected
      .button.ink-button(data-hook='contacted') Contacted
      .button.ink-button(data-hook='inconversations') In Conversations
      .button.ink-button(data-hook='innegotiations') In Negotiations
      .button.ink-button(data-hook='closeddeal') Closed Deal
      .button.ink-button(data-hook='rejected') Rejected
      .button.ink-button(data-hook='giveup') Give Up

    .button-group
      .button.ink-button(data-hook='me') Me
      .button.ink-button(data-hook='noMember') No Member
      .button.ink-button(data-hook='noParticipation') No Participation
      .button.ink-button(data-hook='showall') All Members

    button.ink-button(data-hook="fetch") Fetch
    a.ink-button(href="/companies/add") Add Company
