section.page.pageOne
  h2 Companies

  ul.list-group(data-hook="companies-list")

  p Try it by clicking the buttons

  .buttons.btn-group
    button.ink-button(data-hook="fetch") Fetch
    a.ink-button(href="/companies/add") Add Member