section.page.companies.view

  h2(data-hook='name')

  .button-group
    a.ink-button.orange(data-hook='edit') Edit
    button.ink-button.red(data-hook='delete') Delete

  img(data-hook='img', width='80', height='80')

  div(data-hook="company-communications")
