section.page.login

  h2 Welcome to EventDeck!

  form.ink-form
    div.control-group#id
      div.control.append-button
        span
          input(type="text", placeholder="joaquim.couves")
        div.ink-button#loginId Log in
    div.control-group#code
      div.control.append-button
        span
          input(type="text", placeholder="AAAA")
        div.ink-button#loginCode Log in
      p Type in the field above the code you received on your email.<br>It may take a few minutes so be patient.
