section.page.login

  h2 Welcome to EventDeck!

  form.ink-form
    div.control-group
      div.control.append-button
        span
          input(type="text", placeholder="AAAA")#code
        div.ink-button#login Log in
