.payment
  div(data-hook='kind')
    b Kind:
    span
  div(data-hook='advertisementLvl')
    b Advertisement Level:
    span
  div(data-hook='price')
    b Price:
    span
  div(data-hook='invoice')
    b Invoice Number:
    span
  div(data-hook='date')
    b Date:
    span
  div(data-hook='via')
    b Via:
    span
