div
  div
    span.event(data-hook='event', style='margin-right: 4pt;')
    span.status(data-hook='status')
    a.push-right.edit(data-hook='action-edit') EDIT
  .member
    img(data-hook='member-img')
    span(data-hook='member-name')

  div(data-hook='payment-container')
