div
  div
    span.event(data-hook='event', style='margin-right: 4pt;')
    span.status(data-hook='status')
    a.push-right.edit(data-hook='action-edit') EDIT
  div(data-hook='member-container')

  div(data-hook='payment-container')
