<!doctype html>
<html>
  <head>
    <title>THE TOOL!</title>

    <!-- Place your CSS here  -->
    <link rel="stylesheet" type="text/css" href="http://tool.bananamarket.eu/ink/css/ink.css">
    <link rel="stylesheet" type="text/css" href="http://tool.bananamarket.eu/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://tool.bananamarket.eu/ink/css/font-awesome.css">
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="angular/angular-cookies.js"></script>
    <script src="angular/angular-resource.js"></script>
    <script src="angular/angular-sanitize.js"></script>

    <style>
      body {
        min-width: 357px;
        overflow-x: hidden;
        font-family: Verdana;
      }
    </style>

    <script src="app.js"></script>
  </head>

  <body ng-app="myApp">
    <div ng-controller="PopupCtrl">
      <h3 ng-hide="ready" class="align-center"><a href="http://tool.bananamarket.eu/" target="_blank"><br>Please log in on THE TOOL!</a></h3>
      <h3 ng-hide="!notifications || notifications.length>0" class="align-center"><a href="http://tool.bananamarket.eu/" target="_blank"><br>No notifications...<br><br>Go to THE TOOL!</a></h3>
      <table ng-show="ready" ng-hide="loggedOut" class="ink-table alternating hover small" style="max-height: 400px; overflow: auto;">
        <tr ng-repeat="notification in notifications | orderBy: 'posted':true" style="width: 600px;"><td>
          <a title="{{notification.posted | date:'medium'}}" href="http://tool.bananamarket.eu/#/{{notification.thread.replace('-','/')}}" target="_blank">
            <img ng-src="https://graph.facebook.com/{{getMember(notification.member).facebook}}/picture" style="width:20px"> 
            {{getMember(notification.member).name}} {{notification.description}}
            <span ng-if="notification.thread.indexOf('company-')!=-1 && notification.description.indexOf('created')==-1">on {{getCompany(notification.thread.replace('company-','')).name}}</span>
            <span ng-if="notification.thread.indexOf('speaker-')!=-1 && notification.description.indexOf('created')==-1">on {{getSpeaker(notification.thread.replace('speaker-','')).name}}</span>
            <span ng-if="notification.thread.indexOf('topic-')!=-1 && notification.description.indexOf('created')==-1">on a {{getTopic(notification.thread.replace('topic-','')).kind}}</span>
            <small>({{timeSince(notification.posted)}})</small>
          </a>
        </td></tr>
      </table>
    </div>
  </body>
</html>

