div
  h4 Comments
  div(data-hook="comments-list")

  h5 New Comment
  form.ink-form(data-hook="new-comment")
    fieldset(data-hook="field-container")
    button.ink-button.small(data-hook="reset", type="submit") Add new comment
