form.ink-form(data-hook='new-comment')
  fieldset(data-hook='field-container')
  .button-group
    a.ink-button.orange.small(data-hook='action-view') Cancel
    button.ink-button.green.small(data-hook='reset', type='submit') Save
    a.ink-button.red.small(data-hook='action-delete') Delete

