.content

  .all-100
    .push-left
      span(data-hook='member-container')
    .push-right
      span.note(data-hook='posted')

  .all-100(data-hook='text')

  .button-group
    a.ink-button.orange.small(data-hook='edit-comment') Edit
    div(data-hook='admin-container')
