.content

  .member
    img(data-hook='member-img')
    span(data-hook='member-name')
  .note.push-right(data-hook='posted')
  .paragraphs(data-hook='text')

  .button-group
    a.ink-button.orange.small(data-hook='action-edit') Edit
    div(data-hook='admin-container')
