
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            p {
                font-size: 11pt;
                font-family: Arial;
                color: #000000;
                background-color: transparent;
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
            }
        </style>
        <title>Convite para a 22ª edição da Semana Informática e parceria SINFO</title>
    </head>
    <body>
        <div style="width: 100%;">

            <div style="margin: 0px auto; text-align: center; overflow: hidden;">
              <p style="font-size: 40px; font-family: Arial; font-weight: bold; font-style: normal; font-variant: normal; text-decoration: none;">Convidamos a {{company.name}} a participar na</p>
              <img src="http://static.sinfo.org/SINFO_22/mailTemplates/Logo.jpg" alt="SINFO - Semana Informática" />
            </div>

            <p>
              A SINFO tem todo o prazer e vêm por este meio convidar a {{company.name}} a participar na 22ª edição da Semana Informática.
            </p>

            <p><strong>Quando: Semana de 2ª-feira 23 de Fevereiro a 6ª-feira 27 de Fevereiro de 2015.</strong></p>
            <p><strong>Onde: Instituto Superior Técnico, Campus Alameda, em Lisboa.</strong></p>
            <p><strong>
              A SINFO é neste momento o maior evento de tecnologia da Europa organizado exclusivamente por estudantes, que contará este ano com cerca de 10 000 participantes entre estudantes e parceiros, e ficaríamos honrados em contar com a vossa presença e parceria na presente edição.
            </strong></p>

            <p>
              No nosso <a href="//sinfo.org">website</a> poderão encontrar mais informação sobre o evento, assim como as <a href="//sinfo.org/sponsor.html">condições de participação</a> standard no mesmo.
            </p>

            <p>
              Com o objectivo de continuar a crescer cada vez mais e proporcionar um melhor serviço aos nossos parceiros e aos participantes, a SINFO melhorou este ano a sua estratégia, não só para fortalecer o serviço já dado até aqui mas também para chegar muito mais além. Este ano apresentaremos, novos itens e novos pacotes, mas mais importante, novas estratégias e oportunidades para criar uma parceria forte, com o retorno esperado.
            </p>

            <p>
              Através de parcerias com faculdades como a FCUL, FCT-UNL, ISCTE, FEUP, entre muitas outras, a {{company.name}} terá a possibilidade de estar presente junto das melhores faculdades do país entrando em contacto com os melhores alunos do país.
            </p>

            <p>
              Procurando chegar a uma parceria que possa potenciar ainda mais a {{company.name}} e ajudar a sobrelevar os seus objectivos e metas delineados e por forma a podermos apresentar estas e muitas outras novidades que preparamos a partir deste ano, assim como apresentar os dados que obtivemos e as previsões que temos para o futuro, teríamos todo o gosto em reunir com a {{company.name}} na data que vos for mais conveniente.
            </p>

            <p>
              Para qualquer questão e para marcação da reunião não hesite em contactar-me via email ou telefone (ver assinatura do email).
            </p>

            <p>
              Agradecidos pela atenção prestada e esperando uma resposta favorável, apresentamos os nossos mais cordiais cumprimentos.
            </p>
            <p>
                Pela Equipa da SINFO,
            </p>
        </div>
    </body>
</html>
