{{> head}}
{{> public-header}}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/facebook.js"></script>

<div class="ink-grid">
  <div class="column-group half-gutters">
    <div class="all-100 align-center">
      <a class="button icon fenixedu" href="{{url}}" style="background-color: #ffcd19; border-radius: 3px;">Login with FenixEdu</a>
    </div>
    <div class="all-100 align-center">
      <a id="facebook" class="button icon facebook" style="background-color: #ffcd19; border-radius: 3px;">Login with Facebook</a>
    </div>
    <div id="login" class="all-100 align-center" style="color: gold; display: none;">
      <b class="all-100">
        <p class="all-100"></p>
        <p class="all-100"></p>
      </b>
      <i class="fa fa-circle-o-notch fa-3x fa-spin"></i>
    </div>
  </div>
</div>

{{> footer}}
