{{> head}}
{{> public-header}}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/facebook.js"></script>

<div class="ink-grid">
  <div class="column-group horizontal-gutters">
    <div class="all-100 align-center half-bottom-space">
      <a class="button icon fenixedu" href="{{url}}" style="background-color: #ffcd19; border-radius: 3px;">Login with FenixEdu</a>
    </div>
    <div class="all-100 align-center">
      <a id="facebook" class="button icon facebook" style="background-color: #ffcd19; border-radius: 3px;">Login with Facebook</a>
    </div>
  </div>
</div>

{{> footer}}
