
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            p {
                font-size: 11pt;
                font-family: Arial;
                color: #000000;
                background-color: transparent;
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
            }
        </style>
        <title>[SINFO] Invitation for Speaking Engagement</title>
    </head>
    <body>
        <div style="width: 100%;">
            
            <div style="margin: 0px auto; text-align: center; overflow: hidden;">
                <p style="font-size: 40px; font-family: Arial; font-weight: bold; font-style: normal; font-variant: normal; text-decoration: none;">We want you to speak at</p>
                <img src="http://static.sinfo.org/SINFO_21/mailTemplates/Logo.jpg" alt="SINFO - Semana Informática" />

            </div>
            
            <p>
                Dear {{speaker.name}},
            </p>
            <p>
               On behalf of the team organizing SINFO <strong>we would be pleased if you would accept our invitation to speak at our event.</strong>
            </p>
            <p>
                SINFO is on its 22nd edition and is an event <strong>organized by college students who have a passion for technology and innovation</strong>.
                Check our <a href="http://www.sinfo.org">website</a> for more thorough information regarding SINFO.
            </p>
            
            <p><strong>When: The week from February 9th to February 13th, 2015</strong></p>
            <p><strong>Where: Lisbon Tech (IST - Alameda Campus) - Lisbon, Portugal</strong></p>
            <p>
                Even though we're a non-funded university event,
                <span style="font-size:19pt;"><strong>we're fully prepared to cover all travel and lodging expenses.</strong></span>
            </p>
            
            <p>We're committed to bring to our Country and University the most interesting and innovative speakers in the
            various fields regarding Software Development and Engineering - and that is the reason why we're inviting you.</p>
            
            <p>
                {{{speaker.paragraph}}}
            </p>
            
            <p>I hope you find this invitation alluring and that you can give us a positive response.</p>
            <p>
                My Best Regards,
            </p>
            <p class="normal">
                {{{signature}}}
            </p>
        </div>
    </body>
</html>
