<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      SINFO
    </title>
    <meta name="description" content="SINFO is an annual not-for-profit event organised exclusively by college students who strive for a more interesting and ground-breaking event each edition.">
    <meta name="author" content="SINFO">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="http://sinfo.github.io/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://sinfo.github.io/img/favicon.ico" type="image/x-icon" />

    <meta property="og:title" content="SINFO" />
    <meta property="og:url" content="http://sinfo.github.io/" />
    <meta property="og:image" content="http://sinfo.github.io/img/sinfocheio.jpg" />
    <meta property="og:description" content="SINFO is an annual not-for-profit event organised exclusively by college students who strive for a more interesting and ground-breaking event each edition." />

    <!-- load inks css -->
    <link rel="stylesheet" type="text/css" href="http://sinfo.github.io/css/vendor/ink/ink-flex.min.css">
    <link rel="stylesheet" type="text/css" href="http://sinfo.github.io/css/vendor/ink/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://sinfo.github.io/css/style.css">

    <!-- load inks css for IE8 -->
    <!--[if lt IE 9 ]>
      <link rel="stylesheet" href="http://sinfo.github.io/css/vendor/ink/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <!-- test browser flexbox support and load legacy grid if unsupported -->
    <script type="text/javascript" src="http://sinfo.github.io/js/vendor/ink/modernizr.js"></script>
    <script type="text/javascript">
      Modernizr.load({
        test: Modernizr.flexbox,
        nope : 'http://sinfo.github.io/css/vendor/ink/ink-legacy.min.css'
      });
    </script>

    <!-- load inks javascript files -->
    <script type="text/javascript" src="http://sinfo.github.io/js/vendor/ink/holder.js"></script>
    <script type="text/javascript" src="http://sinfo.github.io/js/vendor/ink/ink-all.min.js"></script>
    <script type="text/javascript" src="http://sinfo.github.io/js/vendor/ink/autoload.js"></script>

    <!-- my stuff -->
    <link rel="stylesheet" type="text/css" href="http://sinfo.github.io/css/sponsors/styles.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://sinfo.github.io/js/sponsors/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="http://sinfo.github.io/js/sponsors/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="http://sinfo.github.io/js/sponsors/code.js"></script>
  </head>

  <body>
    <div id="topbar">
      <nav class="ink-navigation ink-grid hide-small hide-tiny ie7">
        <ul class="menu horizontal flat black shadowed">
          <li>
            <a class="logoPlaceholder" href="#" title="SINFO">Sponsor  <img src="http://sinfo.github.io/img/logotext.png"></a>
          </li>
          <li><a href="#description">Description</a></li>
          <li><a href="#reasons">Reasons to sponsor</a></li>
          <li><a href="#conditions">Sponsorship conditions</a></li>
          <li><a href="#deadlines">Deadlines</a></li>
          <li><a href="#more-information">More information</a></li>
        </ul>
      </nav>

      <nav class="ink-navigation ink-grid hide-all show-small">
        <ul class="menu vertical flat black">
          <li class="title">
            <a class="logoPlaceholder push-left" href="#" title="SINFO">Sponsor  <img src="http://sinfo.github.io/img/logotext.png"></a>
            <button class="toggle" data-target="#topbar_menu"><span class="fa fa-reorder"></span></button>
          </li>
        </ul>

        <ul class="menu vertical flat black hide-all" id="topbar_menu">
          <li><a href="#description">Description</a></li>
          <li><a href="#reasons">Reasons to sponsor</a></li>
          <li><a href="#conditions">Sponsorship conditions</a></li>
          <li><a href="#deadlines">Deadlines</a></li>
          <li><a href="#more-information">More information</a></li>
        </ul>
      </nav>
    </div>

  <div class="sponsor-header" id="sponsor-header">
    <div class="opacidade">
    <h1>
      <a href="#" title="">Sponsor us!</a>
    </h1>
    <div class="description">
      See how you can help us creating the biggest SINFO ever!
    </div>
    </div>
  </div>

  <br><br>

    <div class="ink-grid">
      <div id="description" class="column-group gutters">
        <div class="all-100">
          <h2>Description</h2>
          <p>In case you are not familiar with us, we invite you to visit our <a href="http://www.sinfo.org/">homepage</a> presenting the several elements of our event. You can also visit the <a href="http://xxi.sinfo.org/">XXI SINFO website</a>, the 2014 edition.</p>
        </div>
      </div>
      <div id="reasons" class="column-group gutters">
        <div class="all-100">
          <h2>Reasons to sponsor</h2>
          <ul>
            <li>To give information about the company to potential <b>future employees</b>, graduated in a college with excellent national and international renown.</li>
            <li>To project the company's image and brand, in the media (in previous editions, we were advertised, or covered, by Expresso, Correio da Manhã, RTP2, SIC Radical and many others).</li>
            <li>To publicize <b>opportunities for internships and MsC/Phd theses</b> offered by your company</li>
            <li>Highlight the company's brand, compared to its competitors.</li>
          </ul>
        </div>
      </div>
      <div id="conditions" class="column-group gutters">
        <div class="all-100">
          <h2>Sponsorship conditions</h2>
          <h3>Packages</h3>
          <p>The Gold package is an exclusive. That means it provides maximum visibility in the event and is awarded to the highest bidder, with a bidding base of € 3,500.</p>

          <div class="column-group push-center bottom-space">
            <div class="all-40 medium-100 small-100 tiny-100 right-space">
              <table class="ink-table bordered alternating">
                <thead>
                  <tr>
                    <th class="pale-gray">Description</th>
                    <th class="pale-gray">Bronze</th>
                    <th class="pale-gray">Silver</th>
                    <th class="pale-gray">Gold</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="keynote">
                    <td>Keynote sponsorship</td>
                    <td></td>
                    <td></td>
                    <td class="gold"></td>
                  </tr>
                  <tr id="pens">
                    <td>Logo on pens</td>
                    <td></td>
                    <td></td>
                    <td class="gold"></td>
                  </tr>
                  <tr id="merchandise">
                    <td>Logo on merchandise</td>
                    <td></td>
                    <td></td>
                    <td class="gold"></td>
                  </tr>
                  <tr id="t-shirts">
                    <td>Logo on T-Shirts</td>
                    <td></td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="website">
                    <td>Logo in our website</td>
                    <td></td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="banners">
                    <td>Logo on banners</td>
                    <td></td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="posters">
                    <td>Logo on posters</td>
                    <td></td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="flyers">
                    <td>Logo on flyers</td>
                    <td></td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="presentation">
                    <td>Company presentation</td>
                    <td class="align-center">*</td>
                    <td class="align-center silver"></td>
                    <td class="align-center gold"></td>
                  </tr>
                  <tr id="stand">
                    <td>Stand</td>
                    <td class="align-center bronze">2 days*</td>
                    <td class="align-center silver">3 days</td>
                    <td class="align-center gold">5 days<br>(double)</td>
                  </tr>
                  <tr id="folders">
                    <td>Logo on folders</td>
                    <td class="align-center bronze">S</td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="folders-doc">
                    <td>Documentation in the folders</td>
                    <td class="align-center bronze"></td>
                    <td class="align-center silver"></td>
                    <td class="align-center gold"></td>
                  </tr>
                  <tr id="social-networks">
                    <td>Post(s) on social networks</td>
                    <td class="align-center bronze">1</td>
                    <td class="align-center silver">3</td>
                    <td class="align-center gold">5</td>
                  </tr>
                  <tr id="rollups">
                    <td>Logo on rollups</td>
                    <td class="align-center bronze">S</td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="placemats">
                    <td>Logo on placemats</td>
                    <td class="align-center bronze">S</td>
                    <td class="align-center silver">M</td>
                    <td class="align-center gold">L</td>
                  </tr>
                  <tr id="showcase">
                    <td>Logo showcase</td>
                    <td class="align-center bronze"></td>
                    <td class="align-center silver"></td>
                    <td class="align-center gold"></td>
                  </tr>
                  <tr class="prices">
                    <td class="align-right"><b>Prices:</b></td>
                    <td class="align-center"><b>1.250€</b></td>
                    <td class="align-center"><b>2.500€</b></td>
                    <td class="align-center"><b>3.500€</b></td>
                  </tr>
                  <tr class="prices">
                    <td class="align-right">Individual price:</td>
                    <td class="align-center">1.600€</td>
                    <td class="align-center">3.500€</td>
                    <td class="align-center">5.500€</td>
                  </tr>
                </tbody>
              </table>
              <small>*Choose just one: either a presentation or 2 days of stand.<br><b>Add the current VAT rate to the values above.</b></small>
            </div>

            <div id="infobox" class="all-55 medium-100 small-100 tiny-100 ink-label pale-gray">
              <div id="keynote-info" class="info">
                <h3>Keynote Sponsor</h3>
                <p>
                  We offer the possibility to support any activity of SINFO.<br>
                  At the beginning of its session, we will briefly advertise the sponsoring company.
                </p>
                <img src="http://sinfo.github.io/img/sponsors/JoelTalk.jpg">
                <p><small>Beginning of the talk "The Cultural Anthropology of Stack Exchange" by Joel Spolsky @ SINFO XX</small></p>
              </div>
              <div id="pens-info" class="info">
                <h3>Logo in our pens</h3>
                <p>Gold sponsor exclusive: every pen distributed in the event will have the company logo.</p>
                <div class="column-group push-center">
                  <img src="http://sinfo.github.io/img/sponsors/caneta-rsz.JPG">
                </div>
              </div>
              <div id="merchandise-info" class="info">
                <h3>Logo on merchandising</h3>
                <p>Your company's logo will be present on the following merchandising items:</p>
                <ul>
                  <li>Notebooks</li>
                  <li>Pins</li>
                  <li>Stress balls</li>
                  <li>Coin purse</li>
                  <li>Bracelets</li>
                </ul>
                <div class="column-group push-center quarter-gutters">
                  <img src="http://sinfo.github.io/img/sponsors/pulseira-rsz.JPG" class="all-50">
                  <img src="http://sinfo.github.io/img/sponsors/canecas-rsz.JPG" class="all-50">
                  <img src="http://sinfo.github.io/img/sponsors/porta-moedas-rsz-2.JPG" class="all-50">
                  <img src="http://sinfo.github.io/img/sponsors/caderno-rsz-2.JPG" class="all-50">
                </div>
              </div>
              <div id="t-shirts-info" class="info">
                <h3>Logo on T-Shirts</h3>
                <p>The company's logo will be present in the back of every sold T-Shirt.</p>
                <div class="column-group push-center">
                  <img src="http://sinfo.github.io/img/sponsors/tshirts-rsz.JPG">
                </div>
              </div>
              <div id="website-info" class="info">
                <h3>Logo in our website</h3>
                <p>
                  The logo of your company, in addition to being present in a prominent position on the sponsors' section,<br>
                  will also be present in every page footer.
                </p>
                <img src="http://sinfo.github.io/img/sponsors/siteXX.png">
                <p><small>Logo do patrocinador de Ouro (VILT, à direita na página) na XIX edição da SINFO.</small></p>
              </div>
              <div id="banners-info" class="info">
                <h3>Logo on banners</h3>
                <p>
                  The company's logo will be included in all banners that we have at campus gates as well as in several<br>
                  campus buildings.
                </p>
                <div class="column-group push-center quarter-gutters">
                  <img src="http://sinfo.github.io/img/sponsors/banner.JPG" class="all-70">
                  <img src="http://sinfo.github.io/img/sponsors/banner-lateral.JPG" class="all-30">
                </div>
                <p><small>Banner placed at the main entrance of the IST (at Alameda campus) in the nineteenth edition of SINFO.</small></p>
              </div>
              <div id="posters-info" class="info">
                <h3>Logo on posters</h3>
                <p>
                  The company's logo will be included in all posters posted at IST, other major colleges in our country and<br>
                  the advertising partners SINFO.
                </p>
                <div class="column-group push-center quarter-bottom-space">
                  <img src="http://sinfo.github.io/img/sponsors/poster.JPG">
                </div>
              </div>
              <div id="flyers-info" class="info">
                <h3>Logo on timetable flyers</h3>
                <p>Inclusion of your company logo in all programs distributed for free before and during the event.</p>
                <div class="column-group push-center quarter-gutters">
                  <img src="http://sinfo.github.io/img/sponsors/flyer_back.JPG" class="all-50">
                  <img src="http://sinfo.github.io/img/sponsors/flyer_in.JPG" class="all-50">
                </div>
                <p><small>Timetable of twentieth edition of SINFO.</small></p>
              </div>
              <div id="presentation-info" class="info">
                <h3>Presentation</h3>
                <ul>
                  <li>It's a 45 minutes long session divided in the following manner:
                    <ul>
                      <li>10 minutes to company presentation.</li>
                      <li>
                        30 minutes for presentation. Engineering speakers or semi-technical presentations tend to be<br>
                        preferred by students.
                      </li>
                      <li class="bullet-text">5 minutes to questions and answers.</li>
                    </ul>
                  </li>
                  <li>The presentation will be held in the congress center rooms (with 50 to 70 seats).</li>
                </ul>
                <div class="column-group push-center quarter-gutters">
                  <img src="http://sinfo.github.io/img/sponsors/apresentacao1.jpg" class="all-100">
                  <img src="http://sinfo.github.io/img/sponsors/apresentacao2.jpg" class="all-100">
                </div>
              </div>
              <div id="stand-info" class="info">
                <h3>Stand</h3>
                <ul>
                  <li>Dimensions 3 x 3 x 2,5 meters.</li>
                  <li>Carpeted.</li>
                  <li>Back wall, and side walls if the company's stand is near another one.</li>
                  <li>Threefold electric plug.</li>
                  <li>3 light sources.</li>
                  <li>Lettering with the company's name.</li>
                  <li>2 tables.</li>
                  <li>2 chairs.</li>
                </ul>
                <div class="column-group push-center quarter-gutters half-vertical-space">
                  <img src="http://sinfo.github.io/img/sponsors/stand_1.jpg" class="all-50">
                  <img src="http://sinfo.github.io/img/sponsors/stand_2.jpg" class="all-50">
                </div>
                <h4>Stands layout on the technological exposition in the Civil Engineering Building:</h4>
                <div class="column-group push-center quarter-bottom-space">
                  <img src="http://sinfo.github.io/img/sponsors/MapaStandsCivil.jpg">
                </div>
              </div>
              <div id="folders-info" class="info">
                <h3>Logo on folders</h3>
                <p>
                  Your company's logo will be included in the folders distributed for free during the event.<br>
                  The folders include the event program and informative documentation of participating companies.
                </p>
                <div class="column-group push-center quarter-bottom-space">
                  <img src="http://sinfo.github.io/img/sponsors/Capas.jpg">
                </div>
              </div>
              <div id="folders-doc-info" class="info">
                <h3>Documentation in the folders</h3>
                <p>
                  Possibility to include in the folders distributed for free during the event documentation, brochures,<br>
                  or other information on your company.
                </p>
              </div>
              <div id="social-networks-info" class="info">
                <h3>Post(s) on social networks</h3>
                <p>Posting ads on our pages:</p>
                <ul>
                  <li><a href="https://www.facebook.com/sinfoist">Facebook</a> - post size limit: 500 characters.</li>
                  <li><a href="https://twitter.com/sinfo_ist">Twitter</a> - post size limit: 140 characters.</li>
                </ul>
                <div class="column-group push-center">
                  <img src="http://sinfo.github.io/img/sponsors/Posts.jpg" alt="Image not found.">
                </div>
                <p><small>SINFO Facebook page.</small></p>
              </div>
              <div id="rollups-info" class="info">
                <h3>Logo on rollups</h3>
                <p>
                  Your company's logo will be included in the 2 rollups that will be placed in presentation rooms and the<br>
                  great amphitheater.
                </p>
                <div class="column-group push-center quarter-bottom-space">
                  <img src="http://sinfo.github.io/img/sponsors/rollup.jpg" class="all-100">
                </div>
              </div>
              <div id="placemats-info" class="info">
                <h3>Logo on placemats</h3>
                <p>The company's logo will be placed in individual placemats.</p>
                <p>Placemats will be placed in the week prior to the event and the week of the event at:</p>
                  <ul>
                    <li>All the IST canteens.</li>
                    <li>Other Lisbon universities' canteens.</li>
                  </ul>
                </p>
                <div class="column-group push-center quarter-bottom-space">
                  <img src="http://sinfo.github.io/img/sponsors/individual.JPG">
                </div>
              </div>
              <div id="showcase-info" class="info">
                <h3>Logo on showcase</h3>
                <p>
                  The company's logo will appear on the Showcase panel.<br>
                  The Showcase is a space, in the technology exposition, reserved for interaction with speakers,<br>
                  exhibits and technology demonstrations.
                </p>
                <img src="http://sinfo.github.io/img/sponsors/showcase.jpg">
              </div>
            </div>
          </div>

          <h3>Individual items</h3>
          <p>The following items can be purchased individually. For more info on prices associated with these elements, contact the committee member assigned to contact your company.</p>

          <div class="ink-grid bottom-space">
            <div class="column-group push-center">
              <div class="all-30 all-40 small-100 tiny-100 ink-label pale-gray right-space bottom-space">
                <ul>
                  <li>Logo in our site</li>
                  <li>Logo in our folders</li>
                  <li>Logo in our posters</li>
                  <li>Logo in our banners</li>
                  <li>Logo in the individuals</li>
                  <li>Logo in the placemats</li>
                </ul>
              </div>
              <div class="all-30 all-40 small-100 tiny-100 ink-label pale-gray right-space bottom-space">
                <ul>
                  <li>Workshop</li>
                  <li>Presentation</li>
                  <li>Keynote sponsor</li>
                  <li>Posts on Social Networks</li>
                  <li>Documentation on folders</li>
                  <li>Innovation Awards sponsorship</li>
                </ul>
              </div>
              <div class="all-30 all-40 small-100 tiny-100 ink-label pale-gray right-space bottom-space">
                <ul>
                  <li>1 day with stand</li>
                  <li>2 days with stand</li>
                  <li>3 days with stand</li>
                  <li>5 days with stand</li>
                </ul>
              </div>
            </div>
          </div>

          <h3>Benefits for the participating companies</h3>
          <ul>
            <li>The participants' CVs, for companies who purchased packages.</li>
            <li>Statistical data and opinions of visitors regarding the participation of the company, gathered from surveys carried out, during the event.</li>
            <li>Coffee-break for the company speakers.</li>
            <li>Company presentation slides can be made available, to the general public, in our website.</li>
          </ul>
        </div>
      </div>
      <div id="deadlines" class="column-group gutters">
        <div class="all-100">
          <h2>Deadlines</h2>
          <p>Confirmation of sponsorship: <b>until January 16</b>.</p>
          <p>All details about the sponsorship: <b>until February 14</b>.</p>
        </div>
      </div>

      <div id="more-information" class="column-group gutters">
        <div class="all-100">
          <h2>For more information</h2>
          <p>We'd be happy to answer any questions, requests for extra information or alternative small participation raised by reading this page. To do this, do not hesitate to contact the member that contacted you or contact us via our email address <a href="mailto:geral@sinfo.org">geral@sinfo.org</a>.</p>
        </div>
      </div>
    </div>

  <footer>
    <div class="ink-grid">
      <div class="push-left all-50 small-100 tiny-100 small-push-left">
        <a href="http://tecnico.pt" target="_blank"><img src="http://sinfo.github.io/img/logoist.png"></a>
      </div>
      <nav class="ink-navigation push-right medium-150 small-100 tiny-100 small-push-right">
        <ul class="menu horizontal">
        <a class="social-icon" target="_blank" href="http://fb.com/sinfoist"><i class="social-icon fa fa-facebook"></i></a>
        <a class="social-icon" target="_blank" href="http://twitter.com/sinfo_ist"><i class="social-icon fa fa-twitter"></i></a>
        <a class="social-icon" target="_blank" href="http://youtube.com/sinfoist"><i class="social-icon fa fa-youtube"></i></a>
        <a class="social-icon" target="_blank" href="http://instagram.com/sinfo_ist"><i class="social-icon fa fa-instagram"></i></a>
        <a class="social-icon" target="_blank" href="http://github.com/sinfo"><i class="social-icon fa fa-github"></i></a>
        <a class="social-icon" target="_blank" href="mailto:geral@sinfo.org"><i class="social-icon fa fa-envelope"></i></a>
        </ul>
      </nav>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49601832-1', 'sinfo.org');
    ga('send', 'pageview');

    </script>
  </footer>
  </body>
</html>
