<div class="column-group">

  <h1 ng-show="loading">Loading...</h1>
  <h1>{{topic.kind}}</h1>
  <form ng-hide="loading" class="all-100 ink-form">
    <div class="all-100 control-group">
      <label for="text">Text</label>
      <div class="control">
        <textarea id="text" ng-model="topic.text" type="text" rows="3" placeholder="Write your topic contents."></textarea>
      </div>
    </div>
      
    <div ng-show="show.duedate" class="all-100 control-group">
      <label for="text">Due Date</label>
      <div class="control">
        <input type="text" id="myDatePicker2"
                class="ink-datepicker"
                data-date-range="2012-11-15:NOW"
                data-initial-date="2013-12-31" />
      </div>
    </div>

    <script>
      // Not required if you're using autoload.js
      Ink.requireModules(['Ink.UI.DatePicker_1'],function(DatePicker) {
        var datePickerObj = new DatePicker( '#myDatePicker2');
      });
    </script>

    <div ng-show="show.targets" class="all-100 control-group">
      <div class="all-100">
        <label>Targets</label>
        <div class="all-100">
          <div class="ink-button small {{topic.targets.indexOf(member.id) != -1 ? 'blue' : ''}}" style="margin-bottom: 0.5em;" ng-click="toggleTarget(member.id)" ng-repeat="member in members | orderBy:'id'">{{member.name}}</div>
        </div>
      </div>
    </div>

    <div ng-show="show.poll" class="all-100 gutters half-bottom-space">
      <label>Poll</label>
      <ul>
        <li ng-repeat="option in topic.poll.options">
          <div ng-show="option.editing">
            <div class="all-100">
              <input type="text" ng-model="option.content">
              <div class="ink-button green" ng-click="focusOption()"><i class="fa fa-check"></i> Save option</div>
              <div class="ink-button red" ng-click="removeOption(option)"><i class="fa fa-times"></i> Remove option</div>
            </div>
          </div>

          <div class="all-100" ng-hide="option.editing" ng-click="focusOption(option)">
            <p style="margin-left: 5px;">{{option.content}} <i class="fa fa-wrench ink-button"></i></p>
          </div>
        </li>
      </ul>
      <br>
      <div class="all-100">
        <div class="ink-button green" ng-click="addOption()"><i class="fa fa-plus"></i> Add option</div>
      </div>
    </div>

    <div class="all-100 control-group top-space half-bottom-space">
      <a class="ink-button orange" href="/#/topics"><i class="fa fa-back"></i><i class="fa fa-reply"></i> Go back...</a>
      <div class="ink-button green" ng-click="save()"><i class="fa fa-check"></i> Save</div>
      <div class="ink-alert basic success" ng-show="success">
        <button class="ink-dismiss">&times;</button>
        <p><strong>Success!</strong> {{success}}</p>
      </div>
      <div class="ink-alert basic error" ng-show="error">
        <button class="ink-dismiss">&times;</button>
        <p><strong>Error!</strong> {{error}}</p>
      </div>
    </div>
  </form>

</div>