<div class="column-group">
  <div class="all-100">
    <div class="all-80">
      <h1>Topics</h1>
      <h3 ng-show="loading">Loading...</h3>
      <div ng-hide="loading" class="column-group">
        <h3 ng-hide="topics">No topics created yet.</h3>
        <a href="/#/topic/{{topic._id}}/edit" ng-repeat="topic in topics | orderBy:'date':true">
          <div class="half-bottom-space align-left" style="height: 4em; background: #ccc; border-radius: 5px;">
            <div class="all-5 tiny-30 small-20" style="margin-top: 0.5em; height: 3em;" ng-show="topic.facebook">
              <img style="border-radius: 3px; margin-left: 0.5em;" ng-src="https://graph.facebook.com/{{topic.facebook}}/picture">
            </div>
            <p class="all-95 tiny-70 small-80" style="line-height: 4em;">{{topic.kind}} <span title="{{topic.date}}">({{time(topic.date)}})</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="all-20">
      <nav class="ink-navigation">
        <ul class="menu vertical green" style="width:150px">
          <li>
            <a><i class="fa fa-plus"></i> Create topic</a>
            <ul class="submenu" style="overflow: auto">
              <li ng-repeat="kind in kinds"><a ng-click="createTopic(kind)">{{kind}}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
