<div class="ink-grid">

  <div class="all-100 column-group">
    <div class="all-50">
      <h1>Topics</h1>
    </div>

    <div class="all-50">
      <nav class="ink-navigation">
        <ul class="menu vertical green" style="width: 150px;">
          <li>
            <a><i class="fa fa-plus"></i> Create topic</a>
            <ul class="submenu" style="overflow: auto;">
              <li ng-repeat="kind in kinds"><a ng-click="createTopic(kind)">{{kind}}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="all-100">
    <h3 ng-show="loading">Loading...</h3>
    <div ng-hide="loading" class="column-group gutters">
      <h3 ng-hide="loading || topics">No topics created yet.</h3>
      <div class="half-bottom-space">
        <div class="ink-button green" ng-click="showOpen = true;">{{shownTopics(true).length}} Open</div>
        <div class="ink-button red" ng-click="showOpen = false;">{{shownTopics(false).length}} Closed</div>
      </div>
      <h3>{{showOpen ? 'Open' : 'Closed'}} topics</h3>
      <div class="all-100" infinite-scroll="scroll()">
        <topic topic-object="{{topic}}" members="{{members}}" ng-repeat="topic in shownTopics(showOpen) | orderBy: 'posted':'true' | limitTo: limit"></topic>
      </div>
    </div>
  </div>
</div>
