<div class="ink-grid">

  <div class="column-group">
    <div class="all-50">
      <h1>Topics</h1>
    </div>

    <div class="all-50 align-right">
      <small ng-repeat="kind in kinds" class="ink-button green" ng-click="createTopic(kind)"><i class="fa fa-plus"></i> {{kind}}</small>
    </div>
  </div>

  <div class="column-group">
    <div class="all-25 medium-40 hide-small hide-100">
      <p class="ink-button" ng-click="searchTopics={}">All topics</p>
      <p class="ink-button" ng-click="searchTopics.targets=me.id">Assigned to me</p>

      <tag-manager tags-array="topicTags" search="searchTopics"></tag-manager>
    </div>

    <div class="all-100 show-small show-100">
      <a class="ink-button blue" ng-click="showFilters=!showFilters" title="Click to show/hide filters"> 
        Filters 
        <i ng-hide="showFilters" class="fa fa-chevron-circle-down" style="font-size:20px"></i> 
        <i ng-show="showFilters" class="fa fa-chevron-circle-up" style="font-size:20px"></i>
      </a>
      <br><br>
      <div ng-if="showFilters">
        <p class="ink-button" ng-click="searchTopics={}">All topics</p>
        <p class="ink-button" ng-click="searchTopics.targets=me.id">Assigned to me</p>

        <tag-manager tags-array="topicTags" search="searchTopics"></tag-manager>
      <br><br>
      </div>
    </div>


    <div class="all-75 medium-60 small-100 tiny-100">
      <h3 ng-show="loading">Loading...</h3>
      <div ng-hide="loading">
        <h3 ng-hide="loading || topics">No topics created yet.</h3>
        <div class="half-bottom-space">
          <div class="ink-button green" ng-click="showOpen = true;">{{shownTopics(true).length}} Open</div>
          <div class="ink-button red" ng-click="showOpen = false;">{{shownTopics(false).length}} Closed</div>
        </div>
        <h3>{{showOpen ? 'Open' : 'Closed'}} topics</h3>
        <div class="all-100" infinite-scroll="scroll()">
          <topic topic-object="topic" members="{{members}}" me="{{me}}" roles="{{roles}}" tags-array="topicTags" ng-repeat="topic in shownTopics(showOpen) | filter:searchTopics:strict | orderBy: 'posted':'true' | limitTo: limit"></topic>
        </div>
      </div>
    </div>
  </div>
</div>
