<div ng-hide="topic.deleted" class="activity grey" style="border-radius: 5px;">
  <h1 ng-if="loading">Loading...</h1>

  <div ng-if="!topic.editing">
    
    <div class="column-group horizontal-gutters">
            
      <div class="all-85">

        <a href="/#/member/{{topic.author}}">
          <img ng-src="{{'https://graph.facebook.com/' + getMember(topic.author).facebook + '/picture'}}"/>
          <small>{{getMember(topic.author).name}}</small>
        </a>
        <small title="{{topic.posted}}">({{timeSince(topic.posted)}})</small>

        <a href="/#/topic/{{topic._id}}">
          <h5 style="margin-top:10px;">
            <b>[{{topic.kind}}]</b> {{topic.text}}<i ng-if="topic.closed"> [Closed!]</i><i ng-show="topic.show.duedate && topic.duedate"> [{{timeSince(topic.duedate)}}]</i>
          </h5>
        </a>

        <form ng-if="topic.show.poll">
          <div class="control-group">
            <ul class="control unstyled">
              <li ng-repeat="option in topic.poll.options">
                <input type="checkbox" value="true" ng-click="selectOption(topic, option)" ng-checked="option.votes.indexOf(me.id) != -1" ng-disabled="{{topic.closed}}">
                <span ng-if="topic.poll.kind == 'text'">{{option.content}}</span>
                <img ng-if="topic.poll.kind == 'images'" ng-src="{{option.content}}" style="width:30% ">
                <small>{{option.votes.length}} votes</small>
              </li>
            </ul>
          </div>
        </form>
        <div ng-if="topic.targets.length > 0">
          <div ng-if="showTargets">
            <a ng-repeat="target in topic.targets" href="/#/member/{{target}}" title="{{getMember(target).name}}">
              <img ng-src="https://graph.facebook.com/{{getMember(target).facebook}}/picture?width=100&height=100" style="width:50px; margin:2px">
            </a>
            <br><br>
          </div>
        </div>

        <div ng-show="topic.tags">
          <span ng-repeat="tag in tags" ng-show="topic.tags.indexOf(tag.id) != -1" style="background:{{tag.color}};padding:0.2em 0.6em;margin-bottom:5px;border-radius: 8px;color: white;">
            <b>{{tag.name}}</b>
          </span>
        </div>

        <div ng-if="topic.showComments">
          <br>
          <comment-area thread="{{'topic-' + topic._id}}"></comment-area>
        </div>
      </div>
    
      <div class="all-15 align-right">
        <small title="Edit Topic" class="ink-button orange" ng-click="topic.editing=!topic.editing" style="width:60px"><i class="fa fa-wrench"></i></small><br>
        <small title="Show/Hide Targets" class="ink-button blue" ng-click="toggleTargets()" style="width:60px">{{topic.targets.length}} <i class="fa fa-users"></i></small><br>
        <small title="Show/Hide Comments" class="ink-button small green" ng-click="topic.showComments = !topic.showComments" style="width:60px">{{topic.comments.length}} <i class="fa fa-comments"></i></small>
      </div>
    </div>

  </div>



  <div ng-if="topic.editing">
    <h1>{{topic.kind}}</h1>
    <form class="all-100 ink-form">
      <div class="all-100 control-group">
        <label for="text">Text</label>
        <div class="control">
          <textarea id="text" ng-model="topic.text" type="text" rows="3" placeholder="Write your topic contents."></textarea>
        </div>
      </div>

      <div ng-if="topic.show.duedate" class="all-100 control-group">
        <label for="text">Due Date</label>
        <div class="control"><input date-input ng-model="topic.duedate">
        </div>
      </div>

      <div ng-if="topic.show.targets" class="all-100 control-group">
        <div class="all-100">
        <label ng-click="toggleAllTargets()"><a>Targets</a></label><i class="fa fa-long-arrow-left"></i><small> Click to toggle all.</small>
          <div class="all-100">
            <div class="ink-button small green" style="margin-bottom: 0.5em;" ng-click="toggleRoleTargets(role.id)" ng-repeat="role in roles | orderBy:'id'">{{role.name}}</div>
            <br>
            <span ng-click="toggleTarget(member.id)" ng-repeat="member in members | orderBy:'id'">
              <a class="ink-button small blue" ng-show="topic.targets.indexOf(member.id) != -1">{{member.name}}</a>
              <a class="ink-button small" ng-hide="topic.targets.indexOf(member.id) != -1">{{member.name}}</a>
            </span>
          </div>
        </div>
      </div>

      <div ng-if="topic.show.poll" class="all-100 gutters half-bottom-space">
        <label>Poll</label>
        <select ng-model="topic.poll.kind" ng-options="value for value in pollKinds"></select>
        <ul>
          <li ng-repeat="option in topic.poll.options">
            <div ng-if="option.editing">
              <div class="all-100">
                <input type="text" ng-model="option.content">
                <div class="ink-button green" ng-click="focusOption()"><i class="fa fa-check"></i> Save option</div>
                <div class="ink-button red" ng-click="removeOption(option)"><i class="fa fa-times"></i> Remove option</div>
                <p ng-if="topic.poll.kind == pollKinds[1]" style="margin-left: 5px;">
                  <img ng-src="{{option.content}}">
                </p>

              </div>
            </div>

            <div class="all-100" ng-hide="option.editing" ng-click="focusOption(option)">

              <p ng-if="topic.poll.kind == pollKinds[0]" style="margin-left: 5px;">
                {{option.content}}
                <i class="fa fa-wrench ink-button"></i>
              </p>
              <p ng-if="topic.poll.kind == pollKinds[1]" style="margin-left: 5px;">
                <img ng-src="{{option.content}}">
                <i class="fa fa-wrench ink-button"></i>
              </p>
            </div>
          </li>
        </ul>
        <br>
        <div class="all-100">
          <div class="ink-button green" ng-click="addOption()"><i class="fa fa-plus"></i> Add option</div>
        </div>
      </div>

      <div ng-if="topic.show.closed" class="all-100 gutters half-bottom-space">
        <label>Is it done?</label>
        <div class="control-group">
          <ul class="control unstyled">
            <li><input type="checkbox" ng-model="topic.closed" id="close" name="close" value="true"><label for="close">Close</label></li>
          </ul>
        </div>
      </div>

      <div>
        <p>
          <h6>Manage Tags</h6>
          <span ng-hide="tags">There are no tags</span>
          <span ng-repeat="tag in tags" ng-click="toggleTag(tag.id)" style="background:{{tag.color}};margin-bottom:5px;padding:0.2em 0.6em;border-radius:10px;color: white;">
            <b ng-show="topic.tags.indexOf(tag.id) != -1"><i class="fa fa-times"></i> {{tag.name}}</b>
            <i ng-hide="topic.tags.indexOf(tag.id) != -1">{{tag.name}}</i>
          </span>
        </p>
      </div>

      <div class="all-100 control-group">
        <small class="ink-button orange" ng-click="topic.editing=!topic.editing"><i class="fa fa-back"></i><i class="fa fa-reply"></i> Cancel</small>
        <small class="ink-button green" ng-click="save(topic)"><i class="fa fa-check"></i> Save</small>
        <small class="ink-button red" ng-click="deleteTopic(topic)"><i class="fa fa-times"></i> Delete</small>
        <div class="ink-alert basic success" ng-if="success">
          <button class="ink-dismiss">&times;</button>
          <p><strong>Success!</strong> {{success}}</p>
        </div>
        <div class="ink-alert basic error" ng-if="error">
          <button class="ink-dismiss">&times;</button>
          <p><strong>Error!</strong> {{error}}</p>
        </div>
      </div>
    </form>
  </div>

</div>
