<div class="column-group horizontal-gutters">
  <div ng-show="loading" class="all-100">
    <h1>Loading...</h1>
  </div>

  <div ng-hide="loading" class="all-100">
    <div class="column-group horizontal-gutters">
      <div class="all-100">
        <h1>
          [{{topic.kind}}] {{topic.text}}<i ng-show="topic.closed"> [Closed!]</i><i ng-hide="topic.show.duedate"> [{{timeSince(topic.duedate)}}!]</i>
        </h1>
      </div>
    </div>

    <div class="column-group horizontal-gutters">
      <div class="all-20 medium-20 small-100 tiny-100">
        <p>
          <a class="ink-button orange" href="/#/topic/{{topic._id}}/edit"><i class="fa fa-wrench"></i> Edit topic</a>
        </p>
        <p><small>{{timeSince(topic.posted)}}</small></p>
        <p>
          <a href="/#/member/{{topic.author}}">
            <img ng-src="{{'https://graph.facebook.com/'+getMember(topic.author).facebook+'/picture'}}">
            <b style="font-size: 20px; margin-left:12px;"> {{getMember(topic.author).name}}</b>
          </a>
        </p>
      </div>
      <div class="all-80 medium-80 small-100 tiny-100">
        <form ng-show="topic.show.poll" ng-controller="TopicController as tc">
          <div class="control-group">
            <ul class="control unstyled">
              <li ng-repeat="option in topic.poll.options">
                <input type="checkbox" value="true" ng-click="tc.selectOption(topic,option)" ng-checked="option.votes.indexOf(me.id) != -1" ng-disabled="{{topic.closed}}">
                <span ng-if="topic.poll.kind == 'text'">{{option.content}}</span>
                <img ng-if="topic.poll.kind == 'images'" ng-src="{{option.content}}" style="width:30% ">
                <small>{{option.votes.length}} votes</small>
              </li>
            </ul>
          </div>
        </form>
        <div ng-show="topic.targets.length > 0" style="margin-left: 5px;">
          <div class="ink-button blue" ng-click="toggleTargets()"><i class="fa fa-users"></i> {{showTargets ? 'Hide' : 'Show'}} {{topic.targets.length}} targets</div>
          <div ng-show="showTargets" style="margin-left: 5px;">
            <small ng-repeat="target in topic.targets">
              <a href="/#/member/{{target}}" style="margin-right: 10px;">
                {{getMember(target).name}}
              </a>
            </small>
          </div>
        </div>
        <br>
        <div ng-show="topic.notifications">
          <h3>Last Changes</h3>
          <ul>
            <li ng-repeat="notification in topic.notifications | orderBy: 'posted':true | limitTo: 5">{{notification.description}} <small>{{timeSince(notification.posted)}}</small>.</li>
          </ul>
        </div>
      </div>
    </div>

    <comment-area thread="{{'topic-' + topic._id}}"></comment-area>

  </div>
</div>
