<div>
  <h3>{{manage ? 'Manage tags' : 'Tags'}}</h3>
  <span ng-hide="tags">There are no tags.</span>

  <div ng-show="search.tags" class="button-group quarter-bottom-space">
    <div class="ink-button red small all-100" ng-click="search.tags = undefined" style="border-radius: 2px; font-size: 16px;"><i class="fa fa-times"></i> Clear tag filters</div>
  </div>

  <div ng-hide="manage">
    <div ng-repeat="tag in tags" class="button-group">
      <div class="ink-button small all-100" ng-click="search.tags = tag.id" style="background: {{tag.color}}; border: 0px; border-radius: 2px; color: white; font-size: 16px;">
        {{tag.name}}
      </div>
    </div>
  </div>

  <div ng-show="manage">
    <div class="button-group" ng-repeat="tag in tags">
      <div class="ink-button small all-15" ng-click="deleteTag(tag)" style="background: {{tag.color}}; border: 0px; border-right: 1px solid white; color: white; font-size: 16px;" title="Delete tag">
        <i class="fa fa-trash-o"></i>
      </div>
      <div class="ink-button small all-85" ng-click="search.tags = tag.id" style="background: {{tag.color}}; border: 0px; color: white; font-size: 16px;">
        {{tag.name}}
      </div>
    </div>
  </div>

  <div class="button-group half-top-space">
    <div class="ink-button small all-100" ng-click="manage = !manage" style="border-radius: 2px; font-size: 16px;">Manage tags</div>
  </div>

  <h4 class="half-top-space">Create new tag</h4>
  <form class="ink-form">
    <input type="text" ng-focus="creating = true" ng-blur="creating = false" ng-model="tag.name" placeholder="Tag name" style="width:240px">

    <div ng-show="creating || tag.name.length > 0">
      <ul style="padding:0px;margin:0px;">
        <li ng-repeat="color in colors" ng-click="changeColor(color)" style="width:30px;height:30px;background:{{color}};display: table-cell;cursor: pointer;"></li>
      </ul>
      <ul style="padding:0px;margin:0px;">
        <li ng-repeat="color in lightColors" ng-click="changeColor(color)" style="width:30px;height:30px;background:{{color}};display: table-cell;cursor: pointer;"></li>
      </ul>
      <input type="text" ng-model="tag.color" placeholder="Tag color" style="border-color:{{tag.color}};color:{{tag.color}};width:240px">

      <div class="align-left">
        <a class="ink-button" ng-click="createTag(tag)" style="background:{{tag.color}};color:white;margin:0;border:0px;width:240px">Create {{tag.name | limitTo: 15}} <i ng-show="tag.name.length > 15">(...)</i></a>
      </div>
    </div>
  </form>
</div>
