<div class="all-100 column-group horizontal-gutters">
  <div class="all-100">
    <h3 class="all-100" ng-show="loading">Loading...</h3>

    <h3 class="all-100" ng-show="!loading && communications.length === 0">No communications posted yet.</h3>
    <div ng-if="communications" >
      <communication communication-object="{{communication}}" members="{{members}}" me="{{me}}" roles="{{roles}}" ng-repeat="communication in communications | orderBy: 'posted':'true'"></communication>
    </div>
  </div>

  <div class="all-100 column-group horizontal-gutters">
    <div class="all-50">
      <form class="ink-form" unsaved-warning-form>
        <div class="control-group">
          <div class="control">
            <select id="kind" ng-model="communicationData.kind" ng-options="s for s in kinds | orderBy: 'toString()'" resettable></select>
          </div>
        </div>
        <div class="control-group">
          <div class="control">
            <textarea ng-model="communicationData.text" type="text" rows="4" style="font-size: 15px;" resettable></textarea>
          </div>
        </div>
        <div class="control-group">
          <a class="ink-button green" ng-click="postCommunication()">Post communication</a>
          <div ng-show="emptyCommunication" class="ink-alert basic error">You can't post empty communications.</div>
        </div>
      </form>
    </div>
    <div class="all-50">
      <div ng-if="communicationData.text" ng-bind-html="convertURLs(communicationData.text)"></div>
    </div>
  </div>
</div>
