<div ng-hide="communication.deleted" class="all-100 activity" style="background: #eee; border-radius: 5px;">

  <div class="all-100">
    <div class="all-50">
      <a href="/#/member/{{communication.member}}">
        <img ng-src="{{'https://graph.facebook.com/' + getMember(communication.member).facebook + '/picture'}}"/>
        <small>{{getMember(communication.member).name}}</small>
      </a>
      <small title="{{formatDate(communication.posted)}}">({{timeSince(communication.posted)}})</small>
    </div>
    <div class="all-50 align-right">
      <small>
        <a class="ink-button green" ng-show="checkPermission(communication) && communication.member !== me.id" ng-click="approveCommunication(communication)">Approve</a>
        <a class="ink-button blue" ng-show="communication.kind.indexOf('Paragraph')!=-1" href="/api/speaker/{{communication.thread.split('speaker-')[1]}}/sendInitialEmail" target="_blank">Preview</a>
        <a class="ink-button orange" ng-show="checkPermission(communication)" ng-click="communication.editing = true; communication.buffer = communication.text">Edit</a>
        <a class="ink-button red" ng-show="checkPermission(communication)" ng-click="deleteCommunication(communication)">Delete</a>
      </small>
    </div>
  </div>

  <div ng-hide="communication.editing">
    <a href="/#/speaker/{{communication.thread.split('speaker-')[1]}}/">
    <h6>
      <b>{{communication.kind}}</b>
      <span class="ink-label green" ng-show="communication.approved">Approved!</span>
      <span class="ink-label yellow" ng-hide="communication.approved">Not Approved Yet!</span>
    </h6>
    </a>
    <div ng-if="communication.text" ng-bind-html="convertURLs(communication.text)"></div>
  </div>

  <div ng-show="communication.editing" class="column-group horizontal-gutters">
    <div class="all-50">
      <form class="ink-form" ng-submit="submitCommunication()">
        <div class="control-group">
          <div class="control">
            <textarea ng-model="communication.buffer" type="text" rows="5" style="font-size: 15px;"></textarea>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" value="Save communication" class="ink-button green" ng-click="saveCommunication(communication)">
          <div class="ink-button red" ng-click="communication.editing = false">Cancel</div>
          <div ng-show="emptyCommunication" class="ink-alert basic error">You can't post empty communications.</div>
        </div>
      </form>
    </div>
    <div class="all-50">
      <div ng-if="communication.buffer" ng-bind-html="convertURLs(communication.buffer)"></div>
    </div>
  </div>
</div>
