.communication-area
  h4 New Communication
  form.ink-form(data-hook='new-commmunication')
    fieldset(data-hook='field-container')
    button.ink-button.small(data-hook='reset', type='submit') Add new communication

  h4 Communications
  div(data-hook='communications-list')
