.content
  .all-100
    .push-left
      span(data-hook='member-container')
      b.kind(data-hook='kind')
      span.status(data-hook='status')
    .push-right
      span.note(data-hook='posted')

  .all-100.text(data-hook='text')

  .all-100
    a.ink-button.blue.small(data-hook='initial-email') Initial Email Template
    a.ink-button.orange.small(data-hook='action-edit') Edit
    a.ink-button.small(data-hook='toggle-comments') Loading...
    span.admin-container(data-hook='admin-container')

  .all-90(data-hook='comments-area')
    div(data-hook='communication-comments')
