.content
  .all-100
    .push-left
      span(data-hook='member-container')
      b.kind(data-hook='kind')
      span.status(data-hook='status')
    .push-right
      span.note(data-hook='posted')

  .all-100(data-hook='text')

  .button-group
    a.ink-button.orange.small(data-hook='action-edit') Edit
    div(data-hook='admin-container')
