.content
  b.kind(data-hook="kind")
  div.note.push-right(data-hook="posted")
  div(data-hook="status")
  div(data-hook="text")
  div(data-hook="member-name")

  a.ink-button.small(data-hook="action-edit") Edit

