.input-group
  label(data-hook='label')
  .control-group
    ul.control(data-hook='field-container')
    a.ink-button.small.green(data-hook="add-field") add new
  div.note(data-hook='message-container')
    div(data-hook='message-text')